[2018-08-09 16:55] zjpoh opened #553 "Add FeatureCorrelation visualizer to the documentation"
New visualizer~~ Add to documentation.

#532

[2018-08-09 19:29] lwgray commented on #552
Hi @peterespinosa this is a such great suggestion.  The 3 you have listed are definitely questions we've fielded in the past.  Any addition that could make using YB easier is always welcomed.  Was this something you wanted to contribute?

[2018-08-09 22:17] bbengfort commented on #475
#554 adds `alpha` to the `yellowbrick.contrib.ScatterVisualizer`. Need to:

- [ ] open issue for scatter plot mixin
- [ ] open issue for non alpha legend mechanism
- [ ] open issue for other scatter visualizers that could use alpha params.

[2018-08-10 01:29] rebeccabilbro opened #556 "Convert ScatterVisualizer to a mixin"
**Describe the solution you'd like**
Convert `ScatterVisualizer`, currently in contrib, into a YB mixin.

**Is your feature request related to a problem? Please describe.**
Besides `ScatterVisualizer` many YB visualizers implement some kind of scatterplot:

- [RadViz](https://github.com/DistrictDataLabs/yellowbrick/blob/bf5bd3f297ee6fdb589e457ecb0f954f085a5bf8/yellowbrick/features/radviz.py#L222)

[2018-08-10 01:36] rebeccabilbro opened #557 "Add a non alpha legend mechanism"
**Describe the solution you'd like**
Add a legend mechanism such that adjusting the `alpha` (translucency) param of a visualizer does not render the colors in the legend less readable.

**Is your feature request related to a problem? Please describe.**
For visualizers that accept an `alpha` param, the `alpha` doesn't just impact the translucency of the plotted data for visualizers, it *also* affec

[2018-08-10 01:42] rebeccabilbro opened #558 "Add alpha support for other scatter visualizers"
**Describe the solution you'd like**
In follow up to @peterespinosa's [recent PR](https://github.com/DistrictDataLabs/yellowbrick/pull/554), we should add an `alpha` (translucency) param to the scatter visualizers that don't currently have one.

**Is your feature request related to a problem? Please describe.**
The following visualizers need an `alpha` parameter:

- PCADecomposition
- PredictionEr

[2018-08-10 01:42] #475 closed

[2018-08-10 01:43] #551 closed

[2018-08-10 18:38] rebeccabilbro opened #560 "Add 'Yellowbrick for Teachers' slidedeck to docs"
**Describe the solution you'd like**
Add a sample slide deck to the docs for machine learning teachers to use in teaching model selection & visual diagnostics

**Is your feature request related to a problem? Please describe.**
I've been asked a few times by other teachers of machine learning if I had any slides or teaching materials they could use in their classes. I have some slides that I could

[2018-08-11 17:37] lwgray commented on #560
@rebeccabilbro This is  such a great idea and I think the community will truly appreciate it.

[2018-08-11 17:51] rebeccabilbro commented on #560
Awesome, thanks @lwgray!!

[2018-08-13 15:17] rebeccabilbro commented on #560
Closed with #561

[2018-08-13 15:17] #560 closed

[2018-08-15 02:12] rebeccabilbro commented on #552
Closed with #562

[2018-08-15 02:12] #552 closed

[2018-08-19 13:13] #508 closed

[2018-08-19 16:59] rebeccabilbro commented on #252
Closed with #540

[2018-08-19 16:59] #252 closed

[2018-08-19 18:14] bbengfort commented on #558
NOTE: When this parameter is added; please also use `manual_legend` to correctly draw the legend without opacity. See #564 and #557

[2018-08-20 12:06] #557 closed

[2018-08-20 12:07] rebeccabilbro opened #566 "Upgrade manual_legend to match line/marker style of plotted points"
**Describe the solution you'd like**
Upgrade `manual_legend` to match line/marker style of plotted points by enabling simple circles and lines with Line2D patches.

**Is your feature request related to a problem? Please describe.**
Right now `manual_legend` draws the patches as rectangles and cannot take into account the line or scatter plot properties (e.g. line style or marker style). It would b

[2018-08-20 15:58] rebeccabilbro commented on #464
Closed with #559

[2018-08-20 15:58] #464 closed

[2018-08-20 16:01] rebeccabilbro commented on #458
Note, we now have a `manual_legend` utility in `yellowbrick.draw`, which could be useful here. See #564 for more discussion.

[2018-08-20 16:04] rebeccabilbro commented on #397
CC: @carlomazzaferro

[2018-08-20 16:08] #231 closed

[2018-08-20 16:26] #436 closed

[2018-08-20 21:48] rebeccabilbro commented on #472
Hi @kumard78 - going to close this one for now since the conversation has gone a bit stale; but feel free to reopen if you decide to pick this back up!

[2018-08-20 21:48] #472 closed

[2018-08-21 10:49] bbengfort opened #570 "Topic Saliency and Relevancy Frequency Distribution"
**Describe the solution you'd like**
Adapt or extend the `FreqDist` visualizer to show not just the frequency of tokens in the corpus but rank them according to their relationship to a topic model (e.g. LDA). Ranked by *saliency*, the `FreqDist` will show the frequency of the terms that contribute the most information to all topics. Ranked by *relevance* the `FreqDist` will show the terms most rel

[2018-08-21 10:57] bbengfort opened #571 "Intercluster Distance Map (MDS)"
**Describe the solution you'd like**
Create a cluster visualization that displays the distance between cluster centers and cluster relative sizes by using [multidimensional scaling (MDS)](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.MDS.html). The visualization would be:

1. A scatter plot whose points would be described by the MDS embedding of the cluster centers
2. Each poin

[2018-08-21 11:38] bbengfort commented on #571
Here is a quick code snippet of how we might implement this in Python:

[code]

And the result:

![icdm](https://user-images.githubusercontent.com/745966/44399330-3660a600-a515-11e8-84fb-dcd585f91147.png)

[2018-08-21 11:46] rebeccabilbro commented on #570
I love this suggestion! For those interested, further reading:

- [Original R package: LDAvis](https://github.com/cpsievert/LDAvis)
- [Python port: pyLDAvis](https://pyldavis.readthedocs.io/en/latest/readme.html)
- [Latent Dirichlet Allocation](https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation)
- [Topic Modeling](https://en.wikipedia.org/wiki/Topic_model)
- [sklearn.decomposition.LatentDir

[2018-08-21 12:03] rebeccabilbro commented on #571
Intriguing idea! For those interested, it looks like by default, pyLDAvis [computes topic coordinates](https://github.com/bmabey/pyLDAvis/blob/master/pyLDAvis/_prepare.py#L181) using a [Principal Coordinate Analysis (PCoA)](https://github.com/bmabey/pyLDAvis/blob/master/pyLDAvis/_prepare.py#L106) based on an [internal implementation](https://github.com/bmabey/pyLDAvis/blob/master/pyLDAvis/_prepare

[2018-08-21 15:54] drwaterman opened #572 "Running pip or python in tests directory generates AttributeError: module 'numpy' has no attribute 'core'"
When in the `yellowbrick/tests` directory only (not parent or subdirectories):
Running pip (with arguments or without), or trying to import numpy from the python console, produces the following traceback:

[code]

Doing this also creates the file `yellowbrick/tests/__pycache__/random.cpython-36.pyc`.
Renaming `yellowbrick/tests/random.py` fixes the issue.
Uninstalling and reinstalling pip does not

[2018-08-21 15:57] rebeccabilbro commented on #423
Here are the [actual images and diffs](https://drive.google.com/open?id=0B5pgYPYyUFpzS3FteGgzcjRRNlNSOWtkd1Njb3d1aGZJRy04) that result from running the tests on Windows with Python 3.6 and YB 0.8.

[2018-08-21 17:30] #491 closed

[2018-08-21 19:25] bbengfort commented on #423
Following along on this --

@drwaterman and I went through all the windows image similarity errors and recorded the RMSEs and inspected them. The values can be found here:

[YB XFails List](https://docs.google.com/spreadsheets/d/1coQakoVoxqev2UVLpOolrd6uNhi9aFhm2PWkkgBCjZA/edit?usp=sharing)

We couldn't find any similarity errors that weren't related to text. @drwaterman notes in #567:

[2018-08-21 19:39] bbengfort commented on #423
I propose the following:

Phase 1: Increase tolerance if on Windows
Phase 2: Implement backoff with tiered tolerances

Backoff strategy:

1. before calling `assert_images_similar`, call `viz.finalize()` to ensure the entire viz is produced.
2. have `assert_images_similar` accept a target threshold and a backoff threshold
3. The backoff strategy will generate the image and test it, passing when the

[2018-08-21 20:02] bbengfort commented on #572
Ah, I see what's happening now. The import path looks up the current working directory first, finds the `random.py` module and when they find yellowbrick stuff, they dump.

You're right though, it seems to be some specific combination, I can't recreate the issue on my system (using pyenv, Pip 10, numpy 1.15, python 3).

We could change `tests.random` to `tests.rand` -- I wouldn't be particularly b

[2018-08-21 20:04] bbengfort commented on #571
@rebeccabilbro thank you for that list; it would be awesome if we could add all of those embeddings to our visualizer. MDS and TSNE are easy since they're in sklearn; I'll see if I can figure the other ones out too!

[2018-08-21 20:05] drwaterman commented on #572
@bbengfort I renamed `tests/random.py` to `tests/ybrandom.py` and changed the import statements in `tests/test_meta.py` and `tests/test_base.py` and everything worked fine.

[2018-08-21 20:09] bbengfort commented on #572
@drwaterman ok, though I'd much prefer `rand` over `ybrandom` - would you mind making that quick update? (I don't want someone to think that we're doing some special yellowbrick-specific randomization)

[2018-08-21 20:16] drwaterman commented on #572
@bbengfort Yep, I will do that.

[2018-08-21 21:10] rebeccabilbro opened #577 "Change "alpha" parameter to "opacity""
In working on issue #558, it's becoming clear that there is potential for naming confusion and collision around our use of `alpha` to mean the opacity/translucency (e.g.  in the matplotlib sense), since in scikit-learn, `alpha` is often used to reference other things, such as the regularization hyperparameter, e.g.

[code]

As such, we should probably change our `alpha` to something like `opacity`

[2018-08-22 04:15] zjpoh opened #579 "Visualizer does not forget previous plot."
**Describe the bug**
When making consecutive plots in python script, the older plots are still visible.

**To Reproduce**
In `doc/api/target/`,
[code]

**Expected behavior**
![class_balance_compare](https://user-images.githubusercontent.com/8103276/44442443-1964bb00-a587-11e8-8297-54902dbc9277.png)
![class_balance](https://user-images.githubusercontent.com/8103276/44442446-1c5fab80-a587-11e8-9915-

[2018-08-22 14:13] bbengfort opened #582 "Extend the InterclusterDistance visualizer"
The `InterclusterDistance` visualizer is our newest cluster visualization, and while it's been implemented completely, there are still a few updates I'd like to make to it:

- [ ] Ensure it works for a large range of clustering algorithms (and remove skipped tests) -- see below
- [ ] Add custom [Principal Coordinate Analysis (PCoA)](https://github.com/bmabey/pyLDAvis/blob/master/pyLDAvis/_prepare.

[2018-08-22 14:23] bbengfort opened #583 "SilhouetteVisualizer Docstring"
The [SilhouetteVisualizer](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/cluster/silhouette.py#L40) does not currently have a docstring; I'm hoping someone would be willing to add one before the next release!

See #516 -- but perhaps all the checklists deterred folks from taking it on, so here I'll create a single high priority issue for the docstring!

[2018-08-22 17:00] bbengfort commented on #579
@zjpoh thanks for bringing this to our attention, and you're right this certainly can be a problem. Unfortunately, there isn't as easy a solution as there seems at first glance.

Matplotlib has two primary "global" drawing concepts - the figure and the axes. The figure holds one or more axes and is what is rendered, sized, and manipulated with event handlers. The axes is the canvas that we draw ar

[2018-08-22 21:08] jlinGG opened #585 "Interactive Visualizer demos with Binder"
Using Ipywidgets, we can create interactive Yellowbrick visualizations.  I would like to allow other users to see these interactive demos using Binder.   Currently our README has a Binder button that launches a Docker with our examples.ipynb notebook viewable.  This allows users can interact with it without having to clone YB and run the notebooks locally.  Additional research is needed to determi

[2018-08-23 18:40] drwaterman commented on #537
@bbengfort In your list of test cases, is the first one a typo? Existing functionality is:
`k=8 == np.arange(2, 8+1) == [2, 3, 4, 5, 6, 7, 8]`

[2018-08-23 19:59] bbengfort commented on #537
@drwaterman yes, that's a typo - please maintain existing functionality; thanks for looking out!

[2018-08-24 00:38] bbengfort commented on #583
Thanks to @rlshuhart we now don't have an ugly TODO and we have a description! Final wrap up for this issue includes adding the Parameters and Attributes list.

[2018-08-24 01:37] #571 closed

[2018-08-24 13:05] bbengfort commented on #549
Closed by #576

[2018-08-24 13:33] lwgray commented on #549
Issue #576 Doesn't completely resolve this issue thus it will remain open

[2018-08-26 18:10] pdamodaran opened #588 "Move _determine_target_color_type from the Manifold visualizer to the utils package"
The Manifold visualizer currently has a function called _determine_target_color_type that can be used by other visualizers as it determines the type of the other target variable.  It would be great to move this to the utils package.

[2018-08-26 18:46] rebeccabilbro opened #589 "Add alpha (opacity) param to PCADecomposition"
**Describe the solution you'd like**
Once #569 is done, add an `alpha` (opacity/translucency) param to the PCADecomposition visualizer. See also #558 and #574.

Note that enabling the user to pass in an `alpha` value and decrease the opacity of points plotted in a matplotlib scatterplot will also decrease the opacity of the colors in the plot's legend. The workaround is to use the [`manual_legend`

[2018-08-26 18:52] rebeccabilbro opened #590 "Create separate alpha (opacity) params for train and test residuals?"
**Describe the solution you'd like**
Should we enable different amounts of opacity for train and test residual points in the ResidualsPlot scatterplot? There are usually far more train points than test points, and without the increase in opacity it may in some cases be hard to see the test points. This might be done by changing the currently single `alpha` param to have alphas["train"] and alphas[

[2018-08-26 18:57] bbengfort commented on #588
Or to the `yellowbrick.target` package!

[2018-08-26 20:56] pdamodaran commented on #588
@bbengfort which one do you think is better?  I can take care of this.

[2018-08-26 21:12] bbengfort commented on #588
How about a compromise, in `yellowbrick.target.utils`? @rebeccabilbro thoughts?

[2018-08-26 23:34] rebeccabilbro commented on #588
Putting it in `yellowbrick.target.utils` would be great!!

[2018-08-27 02:06] rebeccabilbro commented on #588
See also #73

[2018-08-27 02:47] rebeccabilbro commented on #537
@drwaterman @lwgray - can we close this one now that #587 is merged in or are there still things on the todo list?

[2018-08-27 13:07] #537 closed

[2018-08-27 14:52] #583 closed

[2018-08-28 00:33] #558 closed

[2018-08-30 00:51] archaeocharlie opened #594 "JointPlot Poof Method Doesn't Show Plot"
**Describe the bug**
No plot shows after running the example code for a JointPlot. The current `poof` method in jointplot.py seems to lack a `plt.show()` call. Perhaps add to method:
[code]
**To Reproduce**

[code]

**Dataset**
Concrete dataset through tutorial

**Expected behavior**
Expected plot to show

**Traceback**
No error thrown
[code]

**Desktop (please complete the following information):

[2018-08-30 14:12] Kautumn06 commented on #594
Thank you @archaeocharlie for opening up an issue!

To help me find out what's going on, before trying the code, did you have any problems downloading our example datasets?

For instance, if this is the code from our documentation that you trying to run, the information and script for downloading the files would be up in the far left-hand corner in the "Example Datasets" page (right underneath "Vi

[2018-08-31 03:37] mattharrison opened #596 "Precision Recall Curve"
**Describe the solution you'd like**
For imbalanced classification problems it would be wonderful to have a precision recall plot. This would make a nice companion to ROC/AUC plots.

http://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html#sphx-glr-auto-examples-model-selection-plot-precision-recall-py

[2018-08-31 15:46] Olamyy opened #597 "Splitting Data"
**Describe the issue**
I noticed there's really no example in the docs where the data is splitted before any of the `yellowbrick` classes are called.
While I think this is a bit trivial, it will generally lead to questionable result in the classification report since the model would be scored on the same data it was trained with.
A good example of such code is this:

[code]

From my understanding,

[2018-08-31 16:26] bbengfort commented on #596
@mattharrison absolutely - this would be a very good addition. We have the [DiscriminationThreshold](http://www.scikit-yb.org/en/latest/api/classifier/threshold.html) which also plots precision and recall against different thresholds if that would be helpful in the meantime.

[2018-08-31 21:19] wagner2010 commented on #597
Hi @Olamyy , thank you for checking out and using Yellowbrick in Nigeria!  We hope you're enjoying it and thank you for submitting an issue.  If you'd care to join our cause and help improve Yellowbrick, [here](http://www.scikit-yb.org/en/latest/contributing.html) is a link with information on how you can become a contributor.

When getting started with Yellowbrick, we like to point users to our [

[2018-09-03 20:50] lwgray opened #598 "Complete Docs and final tasks for Updated DispersionPlot"
`DispersionPlot` has undergone a few changes.  Mainly adding color-coded markers that depict label association.  However, there are a few incomplete tasks.

Firstly a feature should be added.
- [ ] the ability to use a Pandas Dataframe as input

Secondly, the documentation must now reflect these changes.
- [x] add documentation and examples of the plots to the docs
- [x] add images to gallery

@Di

[2018-09-04 13:53] #597 closed

[2018-09-05 15:42] bbengfort opened #600 "Verify and document quick methods"
Our codebase is primarily class-based, however we do have quick-methods for quickly drawing a visualizer from data without a lot of setup (for the common case). Unfortunately, most of these quick methods are undocumented and are not verified. Before the 1.0 release, it would be good if we could include them in our documentation.

Verifications:

- Does the quick method return a visualizer? (Most p

[2018-09-05 17:11] bbengfort opened #601 "Precision-Recall Curve does not show class labels"
**Describe the bug**

When labels are passed into the `PrecisionRecallCurve` the visualization is not drawn correctly.

**To Reproduce**

[code]

**Dataset**

I used the game multi-label dataset from the UCI Machine Learning repository, as wrangled by the yellowbrick datasets module.

**Expected behavior**

When the target, `y` is label encoded (e.g. via the `LabelEncoder`) to classes 0, 1, and 2

[2018-09-05 17:14] bbengfort opened #602 "Better Documentation for Precision-Recall Curves"
Improvements for the `PrecisionRecallCurve` documentation and docstring are required.

- [x] expand docstring for both visualizer and quick method
- [x] add notes to docstring for visualizer and quick method (e.g. the one vs rest classifier and types)
- [x] note also that parameters are learned on `score` not just on `fit`
- [x] add definitions of precision, recall, average precision, and area und

[2018-09-06 16:31] mattharrison opened #604 "Effect Plot for Linear Models"
**Describe the solution you'd like**
Would love to have an Effect Plot for aiding with interpreting linear models. I realize that a feature importance plot does some of this. An effect plot shows the weights as a bar plot so you can see whether the impact is positive or negative and also how large the variance is.

**Examples**

There is a great example here
https://christophm.github.io/interpreta

[2018-09-08 03:14] #594 closed

[2018-09-11 04:14] pdamodaran opened #605 "JointPlotVisualizer produces different visualizations depending on how the figure and axes objects are defined"
**Describe the bug**
JointPlotVisualizer produces different visualizations depending on how the figure and axes objects are defined.

If the figure and axes are defined in the following manner:

_, ax = plt.subplots()
visualizer = JointPlotVisualizer(ax=ax, feature=feature, target=target, joint_plot="hex")

The results are as follows:

1) feature and target labels are displayed in the image
2) the

[2018-09-13 02:05] FranGoitia opened #606 "Support Vector Machines and ROCAUC"
**Describe the bug**
ROCAUC fails with support vector machines. This doesn't happen to me with other algorithms.

**To Reproduce**

[code]

**Dataset**
I'm using the credit dataset on Yellowbrick

**Expected behavior**
To obtain the ROC plot

[code]

`IndexError: too many indices for array`

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04
 - Python Version: 3.6.5
 - Ye

[2018-09-13 04:50] zjpoh commented on #601
@bbengfort I would like to take a stab at this. Btw, what is the meaning of the hacktoberfest label?

[2018-09-13 11:56] dschoenleber opened #607 "ConfusionMatrix percent values not accurate"
The percent values returned by the ConfusionMatrix routine are not accurate:

[code]

What should fix this is to replace `cm_display = div_safe(self.confusion_matrix_, self.class_counts_)` in line 220 of confusion_matrix.py by `div_safe(cm.confusion_matrix_,cm.class_counts_.reshape(-1,1))`.

[2018-09-13 12:09] bbengfort commented on #607
@dschoenleber thank you for submitting the bug report; would you be interested in opening a PR so we can explore the fix you mentioned?

[2018-09-13 12:14] bbengfort commented on #601
@zjpoh that would be great - though you'll have to wait until #599 is merged before you can do a fix! Do you want to work with @rebeccabilbro in doing a code review of that PR?

The [hacktoberfest label](https://github.com/DistrictDataLabs/yellowbrick/issues?q=is%3Aopen+is%3Aissue+label%3Ahacktoberfest) is meant to designate issues that would be good for folks who are participating in [Hacktoberfe

[2018-09-13 12:18] bbengfort commented on #606
@FranGoitia the ROCAUC visualizer has had some improvements that may fix this problem with the 0.9 release, we can check to see if this behavior has been resolved. What was the exception you were getting?

[2018-09-13 12:18] bbengfort commented on #606
@DistrictDataLabs/team-oz anyone interested in taking a look to see if the new version of ROCAUC solves this issue?

[2018-09-13 14:14] zjpoh commented on #601
@bbengfort Sure. I’ll take a look at that tonight.

[2018-09-13 18:45] bbengfort opened #609 "Cannot import Manifold from features"
**Describe the bug**

Cannot import the `Manifold` visualizer from `yellowbrick.features`

**To Reproduce**

[code]

**Expected behavior**

Should be able to import visualizer from the top level without having to import from `yellowbrick.features.manifold`.

**Traceback**

[code]

[2018-09-14 17:37] #526 closed

[2018-09-14 17:37] #553 closed

[2018-09-14 17:55] rebeccabilbro commented on #244
Hey there @cjmorale @bbengfort @NealHumphrey!

Just doing a quick inventory of old issues; I see that @cjmorale's fix for this was merged in and the issue was closed, but then re-opened. I'd like to update the issue to reflect what is left to do. From [here](https://github.com/DistrictDataLabs/yellowbrick/pull/253) it looks like we just need to update the documentation to reflect the merged change

[2018-09-14 18:30] #607 closed

[2018-09-15 14:01] bbengfort commented on #244
@rebeccabilbro yep, sorry about this, it should have been closed on June 8 with #253. For future reference, the fix to this is as follows:

[code]

Where the `label_encoder` argument can be a `sklearn.preprocessing.LabelEncoder` (or really anything with `inverse_transform` that does the mapping) or a `dict`.

closed via ff10ca0

[2018-09-15 14:01] #244 closed

[2018-09-15 15:36] bbengfort opened #610 "Improvements to PrecisionRecallCurve"
There are a few things that can be updated in the `PrecisionRecallCurve` visualizer:

- [ ] allow the user to specify colors as a list of colors or a colormap and use `resolve_colors` in `_draw_multiclass`.
- [ ] refactor shared `_get_y_scores` as a mixin, utility function, or shared base class for `ROCAUC` and `PrecisionRecallCurve`.
- [ ] Allow user to customize the values of the iso_f1_curves (

[2018-09-15 15:58] rebeccabilbro commented on #606
Hi @FranGoitia and thanks for reporting this bug!

Fortunately, after some research ([see notebook here](https://github.com/rebeccabilbro/yellowbrick/blob/rocauc-svm-check/examples/rebeccabilbro/rocauc_svm_check.ipynb)), it looks like this has been successfully addressed by #533 and #540.

For background, the bug was triggered whenever a user employed `ROCAUC` for binary classification with a scik

[2018-09-15 15:58] #606 closed

[2018-09-15 16:59] mattharrison commented on #596
Sweet! You guys are awesome. Thanks so much for the awesome library.

On Sat, Sep 15, 2018, 10:24 AM Benjamin Bengfort <notifications@github.com>
wrote:

[2018-09-15 17:15] FranGoitia commented on #606
Thank you for fixing it and working on such a fantastic library !
Best,
Fran

[2018-09-16 16:56] rebeccabilbro opened #613 "Labels are sometimes cut off in ConfusionMatrix"
**Describe the bug**
When a dictionary of encoding-to-string mappings is provided to the `ConfusionMatrix` so that the class names will appear as labels, sometimes the class and axis labels get cut off.

![confusion_matrix_iris](https://user-images.githubusercontent.com/8760385/45598773-2cfd1900-b9af-11e8-9d9b-d6e598b24da4.png)

**To Reproduce**

[code]

**Desktop (please complete the following in

[2018-09-17 02:40] edesz opened #614 "ConfusionMatrix asking for label in y_true even though integer list is provided"
**Describe the issue**

I am new to YellowBrick but am enjoying it so far - it;s been really great and easy to pick up. I have a question about generating a Confusion Matrix.

I am using the built-in `game` dataset from the [learning curve doc example for Classification](http://www.scikit-yb.org/en/latest/api/model_selection/learning_curve.html#classification) and I am trying to generate a confusi

[2018-09-17 13:14] bbengfort commented on #308
See also: https://github.com/jmcarpenter2/parfit/blob/master/examples/parfit_ex.ipynb

[2018-09-17 13:36] bbengfort opened #615 "Extend PCA Visualizer with Component-Feature Strength"
**Describe the solution you'd like**

Provide an optional heatmap and color bar underneath the PCA visualizer (by shifting the lower axes) that shows the magnitude of each feature value to the component. This provides an explanation of which features are contributing the most to which component.

**Is your feature request related to a problem? Please describe.**

Although we have the biplot mode t

[2018-09-17 13:43] bbengfort commented on #600
Marked as high priority for the version 1.0 release (not v0.9)

[2018-09-17 17:06] edesz commented on #614
Hi @bbengfort , many thanks for your reply! I had read this in the current docs but I was trying it out with only `label_encoder=encoder` and ommitting the `classes=encoder.classes_` part (which is required) since I was actually incorrectly thinking the `label_encoder` argument would have been sufficient on its own. So I didn't try anything further. Thanks for he new documentation example - it def

[2018-09-17 17:06] #614 closed

[2018-09-19 04:47] black-tea opened #616 "Extend color selection on ResidualsPlot() to histogram"
When running ResidualsPlot() visualizer, the `test_color` and `train_color` do not propagate down to the histogram. It would be nice if the histogram on the right reflected the color choices as well.

[code]

[2018-09-19 05:27] mapattacker commented on #615
nice library! The existing biplot already gives feature strengths but might not be suitable for everyone. this is indeed a good feature to add in @bbengfort .

[2018-09-19 18:40] rebeccabilbro commented on #615
Thank you @mapattacker; we really enjoyed reading through your documentation!

[2018-09-19 20:08] #616 closed

[2018-09-19 20:09] rebeccabilbro commented on #616
Great catch @black-tea! Just merged your fix :)

[2018-09-21 21:15] wagner2010 commented on #470
c1a939d only partially closed 470.  reopening.

[2018-09-30 07:00] Juanlu001 commented on #205
matplotlib 3.0 has changed the backend selection logic, perhaps someone wants to check if this is still an issue.

[2018-09-30 13:06] rebeccabilbro commented on #205
Hello @Juanlu001 and thanks so much for noting this! I was also noticing some weird things happening after upgrading to matplotlib 3.0; I've submitted a [PR](https://github.com/DistrictDataLabs/yellowbrick/pull/618), which as a temporary solution, will at least let people know what the mpl requirements are for YB. However, we definitely need to start discussing a comprehensive fix in Yellowbrick.

[2018-10-01 12:39] anshima1 commented on #115
Hey! I want to work on this issue.

[2018-10-01 12:47] rebeccabilbro commented on #115
Hi @anshima1 - that would be great! You can check out a bit of information about our current colors and styles [here](http://www.scikit-yb.org/en/latest/api/palettes.html) -- essentially we've got the basics but we're interested in some new options that would visually distinguish YB and add polish. Let me know if I can answer any questions and look forward to seeing what you come up with!

[2018-10-01 13:17] anshima1 commented on #115
https://github.com/DistrictDataLabs/yellowbrick/pull/622

Please Review my PR once and let me know what is missing and what more can be added.
I will eventually keep modifying the code and keep looking at newer options available!
Thanks for your prompt reply @rebeccabilbro !

[2018-10-01 13:20] anshima1 commented on #115
This was the first time I was using the palettable package, hence the PR is at a novice stage. (Also, I have just started with open source contributions, this was my third PR, so do give valuable inputs!)

[2018-10-01 19:32] alexander-ponomaroff commented on #613
Has this issue been fixed? I don't experience any problems with labels when reproducing your result.

[2018-10-01 22:38] edesz opened #623 "Pass fitted or unfitted objects to Classification Visualizers - how to avoid fitting X_train twice?"
For yellowbrick `visualize()` - from the __Classification Visualizers__ section:
- I am trying to avoid fitting a classification model twice to training data. Sould we pass fitted or unfitted model/gridsearch objects to the `visualize` method?
- my question is about when to call `visualizer.fit()`
  - before or after performing a `GridSearchCV`?

Here is a minimum example to recreate my question
-

[2018-10-02 12:12] rebeccabilbro commented on #613
Hi there @alexander-ponomaroff and welcome to Scikit-YB! Yes, as far as I know, this bug is still an issue, though it doesn't manifest in all scenarios -- I was only seeing it outside of Jupyter notebooks, for instance. Would you mind documenting your OS version, Python version, and YB version and also letting us know whether you were using YB inside or outside an ipynb?

[2018-10-04 11:51] bbengfort commented on #615
@stoff3l you're more than welcome! Looking forward to your PR!

[2018-10-05 16:44] edesz commented on #623
From trial and error:

Based on my question, I think it is acceptable to use `gs.fit followed by `visualizer.fit` (i.e. it is acceptable to pass a fitted grid search object to the Yellowbrick Classification Visualizers) - I am getting the same output for `best_score_` after each of these so I don't think it is fitting the data twice.

Feel free to correct me if I'm wrong though.

[2018-10-08 21:29] mattharrison commented on #397
Was just trying to create a ResidualsPlot with a TensorFlow regression model today. Since the keras api has a ``fit`` method that is similar to sklearn, this should be really low hanging fruit.

[2018-10-09 14:24] bbengfort opened #628 "Verify spearmanr works as expected in Rank2D"
The [`scipy.stats.spearmanr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.spearmanr.html) correlation was added to Rank2D without tests, and on reviewing the documentation for the correlation metric and in comparison to the numpy methods for covariance and Pearson correlation, we should check to ensure things are correct.

The goal of Rank2D is to create a plot of pairwise com

[2018-10-09 14:38] bbengfort commented on #397
@mattharrison did you get an exception when you tried to use the ResidualsPlot with the Keras model? I agree that it is low hanging fruit, and we've had good experience in the past with things just working, like XGBoost.

[2018-10-09 14:59] bbengfort commented on #623
@edesz sorry it's taken us a while to get back to you - it's been a very busy month for us!

To your question, I think you got lucky* with the `DiscriminationThreshold` visualizer because it actually does a cross-validation for each threshold, [cloning the estimator](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/classifier/threshold.py#L296) to ensure that each threshold

[2018-10-09 16:59] bbengfort commented on #566
@Insiyaa it is - please feel free!

[2018-10-09 19:35] bbengfort commented on #316
See this blog post: [A One-Stop Shop for Principal Component Analysis](https://towardsdatascience.com/a-one-stop-shop-for-principal-component-analysis-5582fb7e0a9c) for a detailed and readable explanation of PCA as well as the use of the "scree plot" for selecting the number of components, which is what this visualizer is largely for.

[2018-10-10 03:48] rishacha commented on #628
Hi, if this is open, can I have a go?

[2018-10-11 14:08] rebeccabilbro commented on #628
Absolutely @rishacha, let us know if we can help!

[2018-10-11 14:20] rebeccabilbro commented on #515
Hi there @lacanlale - thanks for checking out Scikit-Yellowbrick!
Yes, for enhancing the documentation of the `KElbowVisualizer`, the updates should go in the .rst files that generate the Sphinx docs (in this case, `yellowbrick/docs/api/cluster/elbow.rst`). As you can see, the [current version](http://www.scikit-yb.org/en/develop/api/cluster/elbow.html#elbow-method) of the elbow visualizer doc pag

[2018-10-12 01:06] smile2snail commented on #604
Hi Mattharrison,

Have you tried Random Forrest? It can help you create a feature importance chart by using python.

I found a good example to create the feature importance chart:

http://www.agcross.com/2015/02/random-forests-scikit-learn/

Is this kind of solution you are asking about? If not, please clarify and I can continue help on this issue.

[2018-10-12 13:48] sivu1 commented on #609
`from yellowbrick.features import manifold` works fine. `Manifold` seems to be a typo(caps). isn't it @bbengfort

[2018-10-13 06:11] Insiyaa commented on #566
Hey, I've been struggling with this for a while. Can you point me to a way I can know what kind of plot in passed into the function?

[2018-10-13 14:55] bbengfort commented on #145
@amueller we saw this: https://github.com/scikit-learn/scikit-learn/pull/9251/files#diff-92edc017ef26fcf3b1106f69f4ce88a9

Looks great, and am definitely glad to see a pure matplotlib version! Very cool!

@rebeccabilbro since this is now in scikit-learn should we close this issue, or would there be any value to creating a wrapper for the scikit-learn version?

[2018-10-13 15:39] bbengfort commented on #566
Hi @Insiyaa sorry to hear you've been struggling on this, but I'm glad you asked!

The idea is to change the signature of the [`manual_legend`](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/draw.py#L29) function in `yellowbrick.draw`:

[code]

At the moment we use `labels` and `colors` to add the legend to `g` (which can be either a Visualizer or a matplotlib Axes object

[2018-10-13 15:56] bbengfort commented on #604
@mattharrison great suggestion - I think an effect plot would be a very interesting feature to add to `yellowbrick.regressors` for any estimator that has an learned `coefs_` attribute. I was a bit confused about how to determine the variance in the weight plot - but it looks like this is not required since the effect can simply be computed via the training data.

Matplotlib has a box plot implemen

[2018-10-13 16:00] bbengfort commented on #609
@sivu1 the `Manifold` visualizer is a class inside of `yellowbrick.features.manifold`, and it should be directly importable from `yellowbrick.features` as our other visualizers are, e.g. `Rank2D`, `ParallelCoordinates`, etc.

[2018-10-13 19:05] rebeccabilbro commented on #145
@bbengfort - I think it's okay to close the issue for now. Nice work with the mpl tree plots @amueller!

[2018-10-13 19:05] #145 closed

[2018-10-15 01:29] gokriznastic commented on #516
@bbengfort  for the third item in the checklist i.e.

it would be counter-intuitive to provide that flexibility because Silhouette Scores by mathematical definition be ranges from −1 to +1, where a high value indicates that the object is well matched to its own cluster and poorly matched to neighboring clusters.

Please correct me if I did not understand this improvement as you intended.

[2018-10-15 12:57] rebeccabilbro commented on #516
Hi @gokriznastic and thanks for your interest in Yellowbrick!

What @bbengfort is suggesting here is not to change the scale along which computed silhouette scores are computed (which is indeed from -1 to 1), but to change the way that our `SilhouetteScore` visualizer scales the axes of the plot. In other words, if the visualizer computes the silhouette scores for our clusters, and they fall betwe

[2018-10-15 17:04] gokriznastic commented on #516
Oh okay! Thank you for the clarification @rebeccabilbro

I am totally new to open source contributions but I would definitely like to give this a shot! I'll do some plotting and look at what works best for this visualizer.

Also, for the second item in checklist i.e. finding a real world example, do you need some real world dataset with well-defined clusters, to see how the Silhouette Visualizer w

[2018-10-15 17:57] rebeccabilbro commented on #516
Awesome, so glad that you're game to work on this one @gokriznastic!

Yes, for the second item on the checklist, we could really use a real world dataset that has nicely defined clusters -- it can be something from the UCI machine learning repository or from a project you've worked on, so long as it can be shared openly with all users. Ideas welcome!

[2018-10-15 18:43] gokriznastic commented on #516
@rebeccabilbro thank you for the chance!

The first example that comes from the top of my mind would be the `Iris Flower Dataset`.
It can be found here: [https://archive.ics.uci.edu/ml/datasets/iris](https://archive.ics.uci.edu/ml/datasets/iris)

Here is an example silhouette visualization I came across while working with it previously:
![unnamed-chunk-15-1](https://user-images.githubusercontent.c

[2018-10-16 02:16] stoff3l commented on #615
Hi there, I unfortunately don't have as much time as I thought I'd have to dedicate to this. Might be good if someone else can pick this up (seeing that it's still hacktober). Apologies

[2018-10-16 11:49] rebeccabilbro commented on #615
No worries @stoff3l, thanks for your interest in contributing and feel free to check back in when you have more bandwidth!

[2018-10-17 16:55] sahilbansal17 commented on #610
I would like to work on it.

[2018-10-17 17:02] rebeccabilbro commented on #610
That would be great @sahilbansal17! Here's our [guide to contributing](http://www.scikit-yb.org/en/latest/contributing.html#advanced-development), and let us know if there's anything we can do to help!

[2018-10-17 17:02] sahilbansal17 commented on #610
Thank you for the quick response.

[2018-10-19 12:16] rebeccabilbro commented on #397
See also #637!

[2018-10-20 22:55] rebeccabilbro commented on #516
Hi @gokriznastic, great question! There are a couple ways to go about experimenting with new prototypes of YB visualizers, but my preferred way is to do it is by pasting the code into a Jupyter notebook. [Here's an example](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/examples/rebeccabilbro/rocauc_bug_fix.ipynb) of a notebook I was experimenting with when I was trying to fix a bug

[2018-10-23 01:09] gokriznastic commented on #516
@rebeccabilbro I have the PR ready for item 3 on checklist. In my opinion instead of hard fixing, letting the visualizer decide the range gives more flexibility indeed; but giving the user the option of setting the limits doesn't seem right as Silhouette Scores are constrained by certain values. I would like to know your opinions on this.

Also, I have added appropriate comments wherever I've chan

[2018-10-23 11:35] rebeccabilbro commented on #516
Ok, thank you @gokriznastic! I will take a look and get back to you in the next few days!

[2018-10-24 03:42] carlomazzaferro commented on #397
Just as a heads up, you can  make keras work with yellowbrick with minimal work, just like this:

[code]
Note that you need to import the sklearn wrapper for keras, which unfortunately is not fully compliant with the sklearn api, and does not have the required attribute `_estimator_type`, hence the need to subclass `BaseEstimator` and `ClassifierMixin`

The same pattern holds for a classifier (tes

[2018-10-24 03:51] ndanielsen commented on #397
Thanks for sharing this!

[2018-10-25 17:12] ndanielsen commented on #397
@carlomazzaferro that's an even better idea. I think that we can likely add a reference in the docs to the example notebooks.

[2018-10-26 20:10] carlomazzaferro commented on #397
Cool! I'll work on getting some examples going and I'll do a pull request.

[2018-10-29 14:35] bbengfort commented on #515
@lacanlale sorry for the confusion, I'm happy to clarify with the story so far. Right now our elbow method uses 3 metrics, distortion score, calinski-harbaz, and silhouette. Of these, [distortion scores are most commonly used to create elbows](https://pythonprogramminglanguage.com/kmeans-elbow-method/) (in fact, there is some question about whether or not the other two metrics create elbows at all

[2018-10-29 15:09] Kautumn06 commented on #515
Hi @lacanlale, thank you for contributing to Yellowbrick! KMeans tries to separate the samples into `n` groups of equal variance, minimizing inertia which is also known as within-cluster sum-of-squares (WCSS). I highly recommend [scikit-learn's documentation](http://scikit-learn.org/stable/modules/clustering.html#k-means) and I'm also tagging @mattharrison, who had originally [commented](https://g

[2018-10-29 22:50] lacanlale commented on #515
Thanks for the responses (both of you!) This clarifies a lot, and I'll definitely be looking into it!

[2018-10-30 12:18] danielhoadley commented on #539
I'm still hitting the exact same problem using version 0.8

[2018-10-30 14:02] gokriznastic commented on #516
@bbengfort what kind of label due you want for the red axvline? Should it display the average Silhouette score?

Also, you can tick the 2nd and 3rd item from the checklist if you like.

[2018-10-30 14:03] rebeccabilbro commented on #539
Hello @danielhoadley and thanks for checking out Scikit-Yellowbrick! You're right that the change isn't in v0.8 yet, but we've [made the fix](https://github.com/DistrictDataLabs/yellowbrick/pull/542), and it will be reflected in v0.9, which we should be releasing in just a few weeks!

[2018-10-30 20:03] bbengfort commented on #516
@gokriznastic glad to hear you're willing to keep going with the updates to this visualizer. The label should indicate the value of the `SilhouetteVisualizer.silhouette_score_` property, which is what is plotted by the red axvline: [L178](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/cluster/silhouette.py#L178). This may be as simple as just adding a `label=""` keyword a

[2018-10-30 20:48] gokriznastic commented on #516
@bbengfort thanks for the explanation. I'll try working on these one by one in my next PR.
And yes I remember the user defined limits to the figure.

Thanks again!

[2018-10-31 20:45] JohannesBuchner commented on #452
Toy algorithm that I just happened to make:
[code]

Can also do `i = numpy.argmax(invdists)` instead if you want it deterministic.

[2018-10-31 20:52] JohannesBuchner opened #650 "ValueError from multiclass data shapes in ParallelCoordinates and RadViz"
**Describe the bug**

I am having trouble using ParallelCoordinates and RadViz with a multi-class dataset.

**To Reproduce**

[code]

**Dataset**
The dataset has 6 classes and 500 instances here.

**Traceback**

[code]

The RadViz part gives:
[code]

**Desktop (please complete the following information):**
 - OS: Linux
 - Python Version 2.7
 - Yellowbrick Version 0.8

What am I doing wrong?

[2018-10-31 21:06] bbengfort commented on #650
Hi @JohannesBuchner - I'm about to head out, but I have a suspicion, can you try:

[code]

And see what that does?

[2018-10-31 22:36] Kautumn06 opened #651 "Fix second image in KElbowVisualizer documentation"
The second image that was added to the `KElbowVisualizer` documentation in PR #635 is not rendering correctly because the `elbow_is_behind.png` file is not generated by the `elbow.py` file, but was added separately.

- [x] Expand `KElbowVisualizer` documentation in `elbow.rst`
- [x] Add example showing how to hide timing and use `calinski_harabaz` scoring metric
- [x] Update `elbow.py` to generate

[2018-11-02 08:04] danielhoadley commented on #539
Thanks, @rebeccabilbro! It’s a great library!

[2018-11-02 14:05] bbengfort commented on #452
@JohannesBuchner I'd be very interested into digging into this further; I assume though that we need to get through #650 first?

[2018-11-02 14:19] bbengfort commented on #650
@JohannesBuchner - so there is a known issue that we've been struggling to deal with, which is handling the type of the target (though both ParallelCoordinates and RadViz are earlier visualizers, so potentially there is an easy fix).

Basically, the issue is that `y` can either be strings (e.g. if you convert YT to a string array) that are then label encoded, otherwise, they have to be index value

[2018-11-02 17:22] JohannesBuchner commented on #650
At the moment I am trying to find an example how it is supposed to work, so I can shoehorn my problem into it.
I tried converting to strings:

[code]

But it wants y to be nan-testable:
[code]

[2018-11-02 17:45] JohannesBuchner commented on #650
Using string classes with indexing integers is also giving me issues:

[code]

[code]
seed(1) works accidentally, because only generates instances from 2 classes.

[2018-11-02 19:00] bbengfort commented on #650
Ok, there is definitely a bug here, which I'll open up a new issue for, since it is separate from the problem you brought up in this issue. Could you tell me what version of matplotlib you're using?

Right now a quick fix is as follows:

[code]

Let me know if that helps!

[2018-11-02 19:05] bbengfort commented on #650
Well, this is strange, the following code doesn't generate the bug, though I expected it to:

[code]

[2018-11-02 19:09] bbengfort commented on #650
@JohannesBuchner in your example, this is the value of `_colors`:

[code]

But this is the value of `to_plot`:

[code]

I wonder if those `nan` values are causing problems?

[2018-11-02 22:17] meggles314 commented on #571
I cannot import InterclusterDistance:

  from yellowbrick.cluster import InterclusterDistance
ImportError: cannot import name 'InterclusterDistance'

AttributeError: module 'yellowbrick.cluster' has no attribute 'InterclusterDistance'

[2018-11-02 22:31] meggles314 commented on #571
Thank you so much!!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benjamin Bengfort <notifications@github.com>
Sent: Friday, November 2, 2018 4:25:49 PM
To: DistrictDataLabs/yellowbrick
Cc: Sabo, Megan E; Mention
Subject: Re: [DistrictDataLabs/yellowbrick] Intercluster Distance Map (MDS) (#571)

Hi @meggles314<https://github.com/meggles314> -- I'm really s

[2018-11-14 19:32] #651 closed

[2018-11-14 22:11] rebeccabilbro opened #654 "Version 0.9 Release"
Steps for 0.9 version bump:

 - [x] Branch release-0.9
 - [x] Do version bump
 - [x] Update tests and run tests
 - [x] Create change log/release notes
 - [x] Review documentation build
 - [x] Merge into `master`
 - [x] Push release to PyPI ([instructions](https://bbengfort.github.io/programmer/2016/01/20/packaging-with-pypi.html))
 - [x] Create 0.9 tag
 - [x] Copy change log to release notes
 - [x

[2018-11-14 23:37] bbengfort opened #655 "Yellowbrick v0.9 Conda Package"
Version 0.9 has been released, once it's been verified we need to upload it to conda.

[2018-11-14 23:37] #654 closed

[2018-11-16 00:41] BasilBeirouti opened #656 "Why do I have to retrain the model every time?"
**Describe the solution you'd like**
I want to be able to use ResidualsPlot and PredictionError classes without having to retrain the model every time. I want to be able to train the model on my own and pass in the y_actual, y_predicted, and X_test and make the plots. I have tried to use the draw() method but I get errors.

**Is your feature request related to a problem? Please describe.**
Very fr

[2018-11-16 00:44] BasilBeirouti commented on #656
The reason I have a big dataset, it takes some time to train and I want to avoid having to train multiple times. Also, because I have so much data, the plots are just completely solid because of all the overlapping markers. So I feel it should also be possible to modify size and type of markers in both of those classes, and to choose to only plot the test data, for example.

[2018-11-16 15:54] bbengfort commented on #656
@BasilBeirouti thank you for using Yellowbrick and for your question - it turns out that it should be fairly straight-forward to use these visualizers without retraining the model. For prediction error, try:

[code]

This should be sufficient for drawing a complete prediction error plot since only the test data is drawn. I'm assuming the error you got when using `draw` directly was that there was

[2018-11-16 15:54] #656 closed

[2018-11-17 02:16] edesz commented on #623
@bbengfort My apologies for the late reply. I;ve been a little busy recently. Ok, if I have some time I'll check out the pipelines link you posted.

For your suggested answer, it definitely works. Thanks for posting this....it seems like a sensible approach to me. Thanks again. Fine to close this thread....I should have closed it sooner.

[2018-11-19 16:20] bbengfort commented on #623
@edesz no worries at all; glad to hear the suggested answer works! Please let us know if you have any other questions.

[2018-11-21 18:05] navarretedaniel commented on #416
I took a look at this parsing issue and think I may have an idea on how one might approach this.

I warn that it likely won't be an elegant solution, but if anything, it might be a start for more advanced Python coders.

[2018-11-21 19:59] lwgray commented on #416
@navarretdaniel we’re glad you’re  going to work on this and we’re looking forward to seeing what you put together.

[2018-11-26 15:47] bbengfort commented on #322
@majidaldo I agree that most informative features could be its own visualizer and not necessarily related to the current functionality of `FeatureImportances`; any interest in opening a feature request and speccing out what this would look like?

[2018-11-28 03:29] majidaldo opened #657 "MostInformativeFeatures visualizer"
**Is your feature request related to a problem? Please describe.**
This feature is motivated by the discussion in #510. The problem is how to visualize feature importance for multiple classes and/or instances. This requires solving two problems: 1. selecting the "most informative features" and 2. producing an appropriate visualization.

**Describe the solution you'd like**
MIFV = MostInformativeFe

[2018-11-29 18:31] ndanielsen commented on #657
@majidaldo thanks for creating this issue and following / linking with other discussions.

I look forward to the community thinking through the questions and issues on this. =)

[2018-11-30 15:08] Kautumn06 opened #660 "Update default ranking algorithm in Rank2D documentation"
In the documentation for the `Rank2D` visualizer, it says `covariance` is the default ranking algorithm when it is actually `pearson`.
![image](https://user-images.githubusercontent.com/19958803/49296997-a91fdc80-f487-11e8-84c2-7bfdb50ca077.png)

@DistrictDataLabs/team-oz-maintainers

[2018-12-01 14:43] jaywalkingbackwards commented on #582
Greetings! Can I use it via Anaconda? Can't install 0.9 version of yellowbrick in order to use InterclusterDistance.
If I can't - tell me, please, if there is another easy way to find intercluster distance of sckit's k-means. Thanks!

[2018-12-01 19:42] lwgray commented on #582
@jaywalkingbackwards we haven’t deployed to anaconda yet.  It is one of our highest priorities.
I am not aware of a different way to find intercluster distance.  Have you taken a look at our code?
https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/cluster/icdm.py

@bbengfort or @rebeccabilbro any comments?

[2018-12-01 23:03] navarretedaniel opened #662 "Mislabeled Variable - Yellowbrick's Occupancy Detection dataset"
**Describe the bug**
The 'CO2' (Carbon Dioxide) variable in Yellowbrick's version of the [Occupancy](https://github.com/DistrictDataLabs/yellowbrick/blob/47826d93ca4b912e9ef590c82d2a86e535d6a129/yellowbrick/datasets/download.py#L79) dataset is mislabeled as 'C02' (C-Zero-Two).

Like the Bike Sharing dataset referenced in the [Quick Start Walkthrough](http://www.scikit-yb.org/en/latest/quickstart.h

[2018-12-01 23:42] lwgray commented on #662
@navarretedaniel Great catch!  Thanks for taking the time to write such a detailed issue.  We will definitely look into this. @Kautumn06 can you comment on this?

Happy Holidays!

[2018-12-03 02:45] mubashirtuf opened #663 "print important features"
It visualizes the number of important features but I can't find how to print/show those selected important features.

[2018-12-03 02:58] bbengfort commented on #663
Are you referring to the RFECV visualizer?

[2018-12-03 03:02] mubashirtuf commented on #663
@bbengfort yes. I can plot a graph showing the number of best features in RFEC. But don't show those features.

[2018-12-03 03:12] bbengfort commented on #663
@mubashirtuf see above, updated comment; the rankings and the features are stored in numpy arrays on the visualizer as follows:

- `n_features_` : int The number of features in the selected subset
- `support_` : array of shape [n_features] A mask of the selected features
- `ranking_` : array of shape [n_features] The feature ranking, such that ranking_[i] corresponds to the ranked position of feat

[2018-12-03 03:32] mubashirtuf commented on #663
@bbengfort Thanks it works.
Last, I have just numeric features, I want to show the best features column number, so how I can use them in given command:
[code]
I know this is very basic question. I have switched from Matlab to python, so facing these issues.

[2018-12-03 03:48] #663 closed

[2018-12-03 12:02] mubashirtuf opened #664 "step: removing 5 features in each iteration"
Using RFECV, the graph shows best features with one increment in each iteration.
I want to show each iteration should work with an increment of 5 features.
Example: score  should be plotted against x-axis of [5,10,15,20,25].
I used step=5, but its not working.

[2018-12-03 16:38] #660 closed

[2018-12-03 21:16] Kautumn06 commented on #662
Thank you @navarretedaniel for writing such a thoughtful and detailed issue! We are currently overhauling Yellowbrick's datasets so I am going to add this issue to Pull Request #535 so that this typo will be fixed in the updated `yellowbrick.datasets` module and throughout the documentation.

We are always looking for new [contributors](http://www.scikit-yb.org/en/latest/contributing.html) so plea

[2018-12-03 21:16] #662 closed

[2018-12-06 22:11] mattharrison opened #665 "Poofing viz warps the ax"
**Describe the bug**
I want to draw 3 plots next to each other. If I call ``.poof`` on them the last one is pushed off.
**To Reproduce**

Run the following code. Then uncomment the ``.poof`` calls and the ROC curve disappears.

[code]

**Dataset**
Included in example

**Expected behavior**
I expect in the above code to have 3 plots in a row.

**Desktop (please complete the following information):*

[2018-12-07 03:19] wagner2010 commented on #665
Hi @mattharrison Thank you, not only for submitting this issue, but for adopting our appreciated format of bug description, code reproduction, dataset in question, expected behavior and computer information.  @lwgray and I are teaming up to work on this and we will get back to you with what we find.  In the meantime, you are always welcome to submit a PR solution or even a partial solution.  @lwgr

[2018-12-07 15:34] jc-healy opened #666 "Add a UMAPVisualizer for text data"
After seeing Rebecca speak at PyDataNY I promised her a text/UMAPVisualizer as a drop in replacement for the current text/TSNEVisualizer currently in Yellowbrick.

[2018-12-07 15:40] jc-healy commented on #666
I had a look at your 'how to contribute page' so I'm creating a waffle ticket.  Not sure how to assign it to myself though.  The UMAPVisualizer was pretty straight forward so I was able to finish it up quite quickly.  You're how to contribute to Yellowbrick page was quite excellent and made the process of integrating code into your project quite smooth.  Thank you for that.  I'll put in a pull req

[2018-12-07 16:03] wagner2010 commented on #666
Thank you so much @jc-healy for complimenting us on on our 'how to contribute page'.  We strive to make contributing to yellowbrick easy because we rely heavily on our contributors to strive for improvements.  Thank you even more for submitting your PR and following up with @rebeccabilbro .  We can't wait to review it!  Stay well and let's stay engaged.

[2018-12-10 16:53] bbengfort commented on #655
Thanks @jkeung for doing this - we need to get a write-up together of how to upload this to Anaconda so we remember next time!

[2018-12-10 16:54] bbengfort commented on #655
Also, what was the final solution? Add pytest-runner and pytest to the requirements, right?

[2018-12-10 16:54] #655 closed

[2018-12-10 17:26] bbengfort opened #669 "Visualizer Audit"
In preparation for Yellowbrick v1.0 we would like to conduct an audit of the state of Yellowbrick visualizers (both documented and undocumented).

With the idea in mind that the overall purpose of this audit is to get a comprehensive sense of where our visualizer hierarchy is most and least healthy, we should:
- [x] Audit the quick methods, to support the follow-on task #600 (_maybe add Cooks Dist

[2018-12-11 00:32] lwgray commented on #665
@mattharrison Did changing poof() to finalize() resolve your issue?

[2018-12-11 14:11] #345 closed

[2018-12-11 14:22] bbengfort commented on #582
@jaywalkingbackwards version 0.9 has been released to conda - if you update your Yellowbrick install you should have access to ICDM now!

[2018-12-11 14:22] bbengfort commented on #666
Se #667

[2018-12-11 14:31] bbengfort commented on #662
Thanks @navarretedaniel for the bug report; it's great to see the current cohort already participating in YB development!

[2018-12-11 21:16] bbengfort commented on #68
#645 adds Kendall-Tau

[2018-12-11 21:20] #628 closed

[2018-12-11 22:15] bbengfort commented on #609
Fixed in #633

[2018-12-11 22:15] #609 closed

[2018-12-15 19:05] ColPlunkett commented on #206
I am getting this same error. I literally have tried every differing form of pip install and upgrade to anaconda and access this module.

![image](https://user-images.githubusercontent.com/40547979/50046502-0613b900-006a-11e9-8020-d34daa339206.png)

[2018-12-15 19:06] ColPlunkett commented on #206
In addition, when I try to update anaconda, it goes through this long process before failing.

[2018-12-15 22:07] lwgray commented on #206
Below are a series of questions, to help me better understand your problem.  I am trying to discern whether this is an anaconda or yellowbrick issue.

1.  What command are you using to update anaconda? What errors are you getting?
2.  What command are you using to install yellowbrick? are you using pip or conda?
3.  What OS are you working on?

[2018-12-15 22:41] ColPlunkett commented on #206
Thanks for the reply @lwgray, I am using Windows 7. Python version 3.6.4. I've used these commands:
pip install yellowbrick
python -m pip install yellowbrick
pip install -U yellowbrick
conda install -c districtdatalabs yellowbrick

and multiple other combinations I am sure.

I've used I've been getting these 'Access is denied' when I try to update or install through anaconda.

![image](https://use

[2018-12-15 23:13] lwgray commented on #206
@benbrock26 I am thinking through these issues however
As for the conda Permission Error... Try right clicking Powershell executable and select run as administrator then try Anaconda again in this environment

[2018-12-15 23:19] lwgray commented on #206
@benbrock26 When you typed in the above commands you listed, do you get errors?

[2018-12-15 23:30] lwgray commented on #206
@benbrock26 awesome!!!!  Let us know if you run into any other issues.

[2018-12-21 14:27] aaqibshehzad opened #675 "Allow Resize of figure"
**Describe the solution you'd like**
I understand the yellowbrick team has set the default figure sizes to ensure scientific accuracy when appraising the visualizations. However, It would be great if an optional parameter was added to allow users the option to scale up the image. It is very difficult when visualizing datasets with high number of features or even to allow for better readability of

[2018-12-21 15:08] #675 closed

[2018-12-21 15:13] lwgray commented on #675
Hi @aaqibshehzad  Thanks for submitting a feature request.  We really appreciate the input from the yellowbrick community.  Our response time might be slow due to the Holiday Season.  However, I will confer with the rest of the team and see what kind of answer we can provide.

Happy Holidays

[2018-12-21 15:20] lwgray commented on #675
@aaqibshehzad the solution to your problem might be answered in our FAQs
http://www.scikit-yb.org/en/latest/faq.html#how-can-i-change-the-size-of-a-yellowbrick-plot

If you have any further question please don't hesitate to ask

Happy Holidays

[2018-12-28 01:07] bbengfort commented on #601
@zjpoh still interested in fixing this bug?

[2018-12-28 01:09] bbengfort commented on #326
@lwgray is this in the audit spreadsheet by any chance?

[2018-12-28 15:55] bbengfort opened #677 "Extend ColorMap with target type detection and color resolution"
**Describe the solution you'd like**

The [`yellowbrick.style.colors.ColorMap`](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/style/colors.py#L124) object is one of the most underutilized objects in our code base and it solves many of the color issues we have such as #325 #327 #244 #556 #70 #73 #399. Now that #588 and #73 are solved in #676, I propose that we extend this

[2018-12-28 16:17] lwgray commented on #326
@Kautumn06 Thanks for handling this!

[2018-12-28 22:08] bbengfort commented on #666
Closed in #667

[2018-12-28 22:08] #666 closed

[2018-12-29 02:35] bbengfort commented on #556
See also #676 and #677 which both would influence this mixin.

[2018-12-29 14:37] #531 closed

[2018-12-29 14:40] bbengfort commented on #665
@mattharrison just wanted to bump this question - did @wagner2010's answer assist? More specifically, could you try the following:

[code]

If `finalize()`  is still changing the figure, perhaps add a `plt.tight_layout()` at the end?

[2018-12-29 14:44] bbengfort commented on #664
@mubashirtuf I'm sorry it's taken so long for us to respond; things got busy at the end of the semester and during the holiday. I can take a look at this, but it would be helpful if you could provide the code you used to generate the error - on my quick first attempt I couldn't reproduce the issue. I see a place where the problem might be occurring, but I'm not totally sure. Would you also upload

[2018-12-29 21:55] bbengfort commented on #664
@mubashirtuf ok, I figured out the issue!

Here is the example code I used to reproduce:

[code]

This resulted in the following image:

![example_step_bug_rfecv](https://user-images.githubusercontent.com/745966/50542371-3be88f80-0b8a-11e9-896d-4e3f9b1d630a.png)

Although step is passed to the `RFE` estimator to eliminate that many features each time, the CV methods are still using a step of 1. I

[2018-12-31 14:52] #73 closed

[2019-01-01 21:06] bbengfort commented on #662
@navarretedaniel just wanted to let you know, we made the fix and it will be updated in the v1.0 release!

[2019-01-02 02:03] bbengfort opened #681 "Dataset loader requires y variable, unsuited for unsupervised datasets"
The `Dataset.to_numpy` and `Dataset.to_pandas` methods both return `X` and `y` data for use in machine learning. Currently, all of our datasets are supervised (e.g. they have `y` data; however if we would like to include unsupervised data then these methods will have to be updated to return `None` for `y`. This will not work out of the box for the following reasons:

- the `to_numpy` method expect

[2019-01-02 02:03] bbengfort commented on #681
Related to #535 (this bug was introduced with our knowledge in this PR)

[2019-01-02 02:10] bbengfort opened #682 "Use yellowbrick.datasets in tests"
In #535 we implemented new `Dataset` and `Corpus` datasets. These datasets should replace the current `tests.datasets` to ensure standardization and that our examples work.

Subtasks:

- [x] Rename tests.fixtures.TestDataset to tests.fixtures.Dataset (prefix warnings in runner)
- [x] Remove `tests/datasets.py`
- [x] Remove all `DatasetMixin` extensions
- [x] ~Create fixtures for synthetic datasets

[2019-01-02 02:33] bbengfort commented on #319
Closing this in favor of #535 which removes our internal structured arrays. This means that YB is stable for numpy arrays and pandas data frames and series, for the most part we'll end up relying on scikit-learn to do the lifting with structured arrays. Reopen if this becomes a required feature.

[2019-01-02 02:33] #319 closed

[2019-01-02 02:38] bbengfort commented on #315
@ndanielsen this is kind of an old, non-specific issue that I don't really remember. Do you think this was fixed in #533 or #522? If you do remember, perhaps we could close this in favor of something more specific? I did take a look, none of the roc auc tests are marked as xfail.

[2019-01-02 02:40] bbengfort commented on #288
@rebeccabilbro I think this might have been fixed in #522 or #533; do you have time to use the mnist dataset and code that @DGaffney provided to see if this is resolved? If not, I can try to make time this weekend, let me know!

[2019-01-02 02:47] bbengfort opened #683 "Make yellowbrick.datasets prime time"
In #535 we implemented a new `yellowbrick.datasets` module that dramatically reduces the amount of work users have to do to access our examples and reproduce our visualizations. These datasets also will enhance our testing with more robust loading and dataset management.

In this epic, we make the `yellowbrick.datasets` module primetime, using it in all of our documentation and testing for maximum

[2019-01-02 02:49] bbengfort commented on #588
Fixed by #676

[2019-01-02 02:49] #588 closed

[2019-01-02 02:54] #416 closed

[2019-01-02 02:55] bbengfort commented on #416
@navarretedaniel our new datasets mechanism resolves these issues, but thank you so much for your help!

[2019-01-02 02:56] bbengfort commented on #416
@RaulPL the datasets have been completely overhauled and the meta.json is now well formed for both of these datasets; thank you for contributing this issue to yellowbrick!

[2019-01-02 03:01] bbengfort commented on #325
@ndanielsen yes this was fixed in #327; thank you for bringing up the issue and checking on it!

[2019-01-02 03:01] #325 closed

[2019-01-02 03:18] DGaffney commented on #288
Beautiful to see forward movement in this ticket! Love what you are all putting together.

Devin

[2019-01-02 18:02] willhyper commented on #402
Hi Ben,

I am busy recently. I am afraid that I dont have bandwidth recently. Sorry
about that.

Chao-Wei

On Tue, Jan 1, 2019 at 6:29 PM Benjamin Bengfort <notifications@github.com>
wrote:

--
Chao-Wei Chen
willhyper@gmail.com

[2019-01-04 20:48] rebeccabilbro commented on #288
@bbengfort - apologies for the delay! I can investigate tomorrow if that's ok, lmk

[2019-01-04 23:48] bbengfort commented on #288
@rebeccabilbro thanks, that would be great! I'm working on the PyData Miami presentation this weekend; let me know if you need a rubber duck!

[2019-01-05 23:04] rebeccabilbro commented on #288
@DGaffney @bbengfort - Sounds like the bug has been resolved! I just ran the pickle and above commands with no error, with the following plot as output:

![roc_auc](https://user-images.githubusercontent.com/8760385/50730147-0b699e00-1114-11e9-8368-81144557d9a8.png)

I did my best to replicate the environment reported above, but had to guess on a few of the library versions. Here's what I used:

Py

[2019-01-05 23:05] DGaffney commented on #288
Amazing! Great job Rebecca. Have a great weekend all!

[2019-01-05 23:16] rebeccabilbro commented on #288
Great, and thanks @DGaffney -- you too!
Marking this one resolved ✅

[2019-01-05 23:16] #288 closed

[2019-01-06 07:34] zjpoh commented on #601
@bbengfort Sorry again for being so irresponsive for such a long time.

I think this error is due to `MultinomialNB` not `PrecisionRecallCurve` even though I haven't figured out the exact problem yet. By simply changing the model to `RidgeClassifier`, the correct plot is shown.

![prcurve](https://user-images.githubusercontent.com/8103276/50733427-1fc48f80-1142-11e9-8194-dfb9db47ef38.png)

Here is

[2019-01-09 11:49] rohit-ganapathy commented on #610
Hello! I'm extremely interested in working on this. Let me know if i can!

[2019-01-09 15:09] bbengfort commented on #610
@rohit-ganapathy It would be great if you could help out on this. Check out our [contributor's guide](http://www.scikit-yb.org/en/latest/contributing.html#advanced-development) and feel free to open a PR right after you get started.

[2019-01-09 17:03] rebeccabilbro opened #684 "Update TSNE docs to clarify what is passed in on instantiation or fit"
**Describe the bug**
Currently, the TSNE docs [show an example](http://www.scikit-yb.org/en/latest/api/text/tsne.html#t-sne-corpus-visualization) where a variable named "labels" is passed into the `fit` method; however this variable actually stores `y` (the target), not the labels (which the `fit` method can derive from `y`). This has [lead to some confusion](https://github.com/DistrictDataLabs/ye

[2019-01-10 13:34] rohit-ganapathy opened #685 "Progress bar (tqdm) for Elbow Curve visualization during clustering"
I needed to visualize the elbow curve for a data set I was applying clustering on and not getting an idea of how much time it would take to run all iterations 1 to n  for visualizer = KElbowVisualizer(model, k=1,n) was quite frustrating. Felt like it would be a good feature add.

[2019-01-10 19:52] michael-ziedalski commented on #375
fdion's way of getting `fig` is currently the only way for me to display `Rank2D` correlation plots. Not sure if this qualifies as a new bug, or is covered here somehow.

[2019-01-11 16:04] #664 closed

[2019-01-11 16:06] bbengfort commented on #664
@mubashirtuf this is fixed in the develop version of Yellowbrick and will be available in Yellowbrick v1.0 -- in the meantime you can `pip install git+https://github.com/DistrictDataLabs/yellowbrick` to get the latest feature. Thank you again for contributing to yellowbrick!

[2019-01-11 16:10] bbengfort commented on #375
@michael-ziedalski - I'm a bit concerned that `poof` isn't working for you - what environment are you in? Are you still at PyData? Stop by the District Data Labs table and I'd be happy to take a look at it with you.

[2019-01-14 16:14] zjpoh commented on #601
@bbengfort Sorry for the long wait. Waiting for the final approval now. Should have it in a day or two.

[2019-01-14 17:22] rebeccabilbro commented on #601
Thanks so much for sticking with this @zjpoh! @bbengfort is traveling for the next few days, in and out of stable wifi, but will be back at the end of this week -- we're both looking forward to resolving this bug; let me know if there's anything I can do in the interim!

[2019-01-14 17:52] rwhitt2049 opened #687 "Add plot directives"
Checklist to go through for (potentially) replacing python code + png import with the plot directive.
This is just a project management issue to give contributors some direction.

 ## Quickstart

http://www.scikit-yb.org/en/latest/quickstart.html
quickstart.rst

- [x] bikeshare_rank2d.png
- [x] temp_feelslike_jointplot.png
- [x] bikeshare_ols_residuals.png
- [x] bikeshare_ridge_alphas.png
- [x] bi

[2019-01-18 23:58] amueller opened #689 "Unclear target of readme, some feedback on install docs"
The readme says "This README is a guide for developers, if you're new to Yellowbrick, get started at our documentation.", but I'm not sure if the content is appropriate in this case.
It provides instructions for installing from pip, but not from a build folder (is ``pip install -e . `` recommended?) and no instructions for running tests.

There's pretty extensive instructions at http://www.scikit-

[2019-01-19 00:09] amueller opened #690 "Some YB tests fail with conda Python 3.7 & Matplotlib 3.x"
I'm trying to run the tests.
I get 133 failures, many of them
[code]

Does running the tests require setting a specific backend?

[2019-01-19 04:05] ndanielsen commented on #689
@amueller thanks for stopping by and for this feedback. I'll take a look and address shortly!

[2019-01-21 16:19] wagner2010 opened #691 "Write a blog post on a machine learning project highlighting Yellowbrick. (GSoC-2019)"
Write a blogpost using a data set of your choice highlighting Yellowbrick.  Please begin by reviewing our QuickStart guide (http://www.scikit-yb.org/en/latest/quickstart.html), complete the walkthrough (http://www.scikit-yb.org/en/latest/quickstart.html#walkthrough), our Model Selection tutorial (http://www.scikit-yb.org/en/latest/tutorial.html) and review our Contributor section (http://www.sciki

[2019-01-22 00:03] ndanielsen commented on #690
@amueller great question and apologies that the tests didn't pass on the first shot.

The yb uses the [`agg` backend ](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/tests/base.py#L72)

Sometimes it needs to be set in the specific matplotlib config usually located at  `/.matplotlib/matplotlibrc`

Let me know if this helps with getting the tests passing!

[2019-01-22 00:04] ndanielsen commented on #691
I've been seeing a lot of good posts on this site:  https://towardsdatascience.com/

It might be a great place to submit?

[2019-01-22 00:54] ndanielsen commented on #689
Thank you for this helpful feedback. I agree that the `readme` seems to be sending mixed messages. I'll discuss with the maintainers group about this as we have had several discussions about revamping/ streamlining our documentation as part of our upcoming 1.0 release.

As for the running tests and installing dependencies, we run tests from the root of the folder as documented in code in the [`.tr

[2019-01-22 00:57] ndanielsen commented on #354
Adding this issue streamlining the project Readme:

https://github.com/DistrictDataLabs/yellowbrick/issues/689

[2019-01-22 01:33] bbengfort commented on #687
Thank you so much for compiling this @rwhitt2049!

[2019-01-22 01:47] ndanielsen commented on #689
Partially addressing this issue here:
https://github.com/DistrictDataLabs/yellowbrick/pull/692

[2019-01-22 01:51] bbengfort commented on #685
@rohit-ganapathy let us know if you'd like to include a demo or example of this in a PR, but in the meantime, I'm going to archive your question in case anyone else is interested! Thanks again for the suggestion!

[2019-01-22 01:51] #685 closed

[2019-01-22 01:52] bbengfort opened #693 "Add `yellowbrick.download` script to the README"
Document the use of the `python -m yellowbrick.download` script in the README and in the contributor's guide.

See #694

[2019-01-22 01:58] bbengfort opened #694 "DatasetsError: Could not find dataset at yellowbrick/datasets/fixtures/*/*.npz"
This issue is primarily to serve as documentation to a bug that Yellowbrick contributors may encounter when they move from version 0.9 (or earlier) to 1.0 or later or to the updated code base:

When running `make test` or `pytest`, the following error occurs:

[code]

This error occurs because the old spam dataset is in the datasets directory, making the loader think it is already downloaded, but

[2019-01-22 01:59] #694 closed

[2019-01-22 04:42] amueller commented on #690
I actually run "make test" which I thought was the sure-fire way to do it right ;)
Usually I would use pytest. The Makefile actually uses ``python setup.py test``.

Re config: according to ``matplotlib.get_configdir()``  it's in ``.config/matplotlib`` and it's empty.

Running ``pytest tests`` in the root YB directory yields the same errors.

[2019-01-22 04:44] amueller commented on #689
You run ``make test`` without adding anything to the path? I guess that works from that particular directory. But then you can't use the library because it's not installed, right?

[2019-01-22 13:24] bbengfort commented on #604
@souravsingh that'd be great - feel free to open a PR when you're ready to discuss it!

[2019-01-22 17:18] amueller commented on #690
I'm not on the same machine right now, but have the same problem on a different machine.
Also has an empty matplotlibrc, is using ubuntu 18.04.1, conda with python 3.7.1, matplotlib 3.0.2

[2019-01-23 00:14] rebeccabilbro commented on #690
Ah, thank you very much for the additional details @amueller! I think I've figured out what the issue is.

Apparently, this is [a unique Anaconda bug](https://github.com/ContinuumIO/anaconda-issues/issues/10219#issuecomment-433712810) that occurs when using conda Python 3.7 and Matplotlib 3.x ([which updated the way that backends are set](https://matplotlib.org/users/whats_new.html#improved-defaul

[2019-01-23 05:11] amueller commented on #690
Hm I wouldn't consider that an anaconda bug but a matplotlib feature? I pinged Thomas but I'm not sure if he has time for this kind of detail stuff.
The issue you linked to seems somewhat different because it calls ``get_backend`` first. As long as you call ``use`` first it should work, right? An alternative work-around would be ``force=True``.

I think a lot of people in the data science space us

[2019-01-23 17:28] wagner2010 commented on #691
Absolutely @ndanielsen .  Additionally, an accompanying YouTube video blog or even podcast would be awesome as well!

[2019-01-24 14:44] tacaswell commented on #690
A sure-fire way to fix this is to set the `MPLBACKEND=agg` env which overrides any other configuration files.

[2019-01-24 18:16] zjpoh commented on #601
https://github.com/scikit-learn/scikit-learn/issues/13043 addresses the problem of getting `nan` in the above example.

[2019-01-26 01:44] aronszanto opened #697 "DecisionThreshold seems to compute the minimum number of thresholds across trials, not max"
Presumably the following code should find the max number of thresholds found across all the trials so as not to ignore the values in the densest threshold list across all trials:
[code]
But this finds the minimum. So we may be losing information by bisecting with the sparsest number of thresholds rather than the densest.

[2019-01-28 13:09] rohit-ganapathy commented on #102
Hi this seems like an interesting problem but can you provide more context/details. From my understanding it is a plot of the following nature:
mse vs  regularization constants in the case of Elasticnet regression

[2019-01-28 13:38] Naba7 commented on #691
can i be assigned this issue?

[2019-01-28 16:35] bbengfort opened #698 "RTD webhook needs to be updated"
Hello!

Your project, Yellowbrick, is currently using GitHub Services to trigger builds on Read the Docs.

Effective January 31, 2019, GitHub will no longer process requests using the Services feature, and so Read the Docs will not receive notifications on updates to your repository.To continue building your Read the Docs project on changes to your repository, you will need to add a new webhook on

[2019-01-28 16:35] bbengfort commented on #698
Added webhook to Github.

[2019-01-28 16:35] #698 closed

[2019-01-28 16:36] bbengfort commented on #691
@Naba7 that would be great - looking forward to seeing a draft!

[2019-01-28 16:45] rebeccabilbro commented on #698
Thanks @bbengfort - I had totally forgotten about this!

[2019-01-28 17:21] bbengfort opened #699 "CI Tests are Failing"
It looks like recent updates to a couple of our dependencies have broken our CI tests on both Travis and AppVeyor. This needs to be resolved so that we can review the PRs currently in the backlog.

Travis:

The Travis failure appears to be a pyflakes related issues:

[code]

AppVeyor:

The AppVeyor tests seem to be failing with a change to Numpy with `X.copy().view((float, len(X.dtype.names)))` no

[2019-01-28 23:52] wagner2010 commented on #691
@Naba7 thanks for taking an interest.  As @bbengfort said, we would love to see a draft when you have it ready.  Out of curiosity are you participating or applying to participate in Google's Summer of Code (GSoC) program?  This is not certainly restricted to those who are participating in the GSoC however I am just wondering if you're looking to participate or if you just have an interest in writi

[2019-01-29 01:14] Naba7 opened #700 "Matplotlib (>=3.0) version's backends don't support YB"
**Describe the issue**
A clear and concise description of what the issue is.

@DistrictDataLabs/team-oz-maintainers

[2019-01-29 01:14] #700 closed

[2019-01-29 01:20] Naba7 opened #701 "Matplotlib version (>=3.0.0) backends don't support Yellowbrick"
**Describe the issue**
A clear and concise description of what the issue is.

@DistrictDataLabs/team-oz-maintainers
The error says YellowBrick  0.9 has requirement matplotlib <3.0 and >=1.5.1.So,the version of matplotlib without updating works fine.I will recommend users not to update matplotlib as its version 3.0.2's backends don't support yellowbrick.

[2019-01-29 10:48] Naba7 opened #702 "Documentation issue"
In the quick-start tutorial docs of yellowbrick,there is a passage explaining,the use of feature selection using Rank2D,highlighting Rank2D indicating it is a link,but it opens to error page showing nothing.check the error and write the docs for Rank2D.

The machine learning workflow is the art of creating model selection triples, a combination of features, algorithm, and hyperparameters that uniq

[2019-01-29 11:00] Naba7 commented on #702
Also,JointPlotVisualizer later in the docs .Only it is blue highlighted,yet nothing shows after being clicked

[2019-01-29 11:26] bbengfort commented on #701
@Naba7 Thank you for your note - as it turns out the issue was only with matplotlib 3.0.0 and the problem has been solved in 3.0.1, which Yellowbrick is compatible with. The new requirements file requires `matplotlib>=1.5.1,!=3.0.0`, which means any version of matplotlib > 3.0.0 is fine.

If you're having a problem with `pip` install of Yellowbrick v0.9 let me know and we can get a hotfix for Yell

[2019-01-29 11:26] #701 closed

[2019-01-29 11:38] bbengfort commented on #702
@Naba7 thank you for reporting this issue! This is the type of thing it's hard for us to detect and we very much appreciate it when you notice these things and let us know.

To clarify there are broken links on:

- docs/quickstart.rst L125
- docs/quickstart.rst L141

Both of these links have absolute links defined, e.g. `http://www.scikit-yb.org/en/latest/api/yellowbrick.features.html#module-yello

[2019-01-29 11:47] Naba7 commented on #702
Yes,I am on it

[2019-01-29 11:50] bbengfort commented on #702
Just as a tip, checkout docs/index.rst to get the document references from the list of visualizers. Both RankD and JointPlot are there.

[2019-01-29 12:27] dnabanita7 opened #703 "Update fit to fit_transform in JointPlot plot in walkthrough docs"
OS:Linux18.04LTS
Python=3.6.8 Anaconda Inc.
YellowBrick=0.9

from yellowbrick.features import JointPlotVisualizer

visualizer = JointPlotVisualizer(feature='temp', target='feelslike')
visualizer.fit(X['temp'], X['feelslike'])
visualizer.poof()

It compiles properly but no plots appear as it appeared in Rank2D.Shall I use as_matrix ?

[2019-01-29 14:54] jamesmyatt opened #704 "Configure ReadTheDocs custom domain with SSL certificate to support HTTPS"
The HTTPS version of the website gives a 403 error: https://www.scikit-yb.org/

[2019-01-29 14:59] aronszanto commented on #697
So consider the following thresholds with one metric's scores between them for each of 3 CV folds (or three trials with 1 CV fold each.

[0]---.1----.25--------1
      .5       .9         .4

[0]-.05----------------1
    .4               .8

[0]--.1----.2-----.6---.8--1
     .3    .95     .7       .6     .5

Then currently, `n_thresholds = np.array([4, 3, 5]).min() = 3`
Which means that `self.thre

[2019-01-29 16:01] lwgray commented on #704
Hi @jamesmyatt Thanks for bringing this to our attention

We host our docs at readthedocs.org and it looks like there is some configuration we have to do to get HTTPS set up, which we’ll try to take care of as soon as we can.

Until then, you could continue using HTTP version.

Thank you so very much for using Yellowbrick!

[2019-01-29 16:36] lwgray commented on #703
@Naba7 let me see if I can help you resolve this.

1. Are you getting an error when you run this?  If so, could you post it here. An image would help also.
2. Are you working in jupyter notebooks?

[2019-01-30 01:47] bbengfort opened #706 "Remove support for Python 2"
Add Python 3.7 to the Travis and AppVeyor test matrix. Deprecate Python 2.7 support in v1.0.

And while we're at it - let's add CI posts to Slack.

[2019-01-30 02:30] bbengfort commented on #704
Ok, it looks like [https://www.scikit-yb.org/en/latest/](https://www.scikit-yb.org/en/latest/) is now available and the redirects are currently propagating.

[2019-01-30 02:30] #704 closed

[2019-01-30 02:34] bbengfort commented on #693
While at it, this para could be updated in the README:

[2019-01-30 16:35] #699 closed

[2019-01-30 16:43] bbengfort opened #707 "Manage test warnings: 'Agg backend'"
Updates in our dependencies have created a lot of `PendingDeprecation` and `UserWarnings` in our tests, which we should address by ignoring them in the test spec or replacing the code that generates the warning with an appropriate expression that does not. Currently this involves the following actions:

- [x] ignore sklearn.exceptions.ConvergenceWarning in setup.cfg
- [x] replace `poof()` with `fi

[2019-01-31 14:30] dnabanita7 opened #709 "Update PredictionError plot in docs to show 45 degree line"
OS:Linux18.04LTS
Python:3.6.8 Anaconda Inc.
YellowBrick:0.9

The PredictionError for Ridge values plot diagram,doesn't show the 45 degree line which indicates zero error in the WalkThrough of Docs page.

![figure_1](https://user-images.githubusercontent.com/31562743/52060668-b134ef00-2592-11e9-9a8c-9b43203e8d2a.png)

[2019-01-31 16:05] #709 closed, assigned to nobody

[2019-01-31 16:06] rebeccabilbro commented on #687
Per #709 - when we update `quickstart.rst` to auto-gen the images, let's double check that the 45 degree line appears on the prediction error plot.

[2019-01-31 16:26] #703 closed, assigned to nobody

[2019-01-31 16:31] rebeccabilbro commented on #687
@bbengfort - yep!

[2019-01-31 16:31] bbengfort commented on #687
er ... sorry I thought that was a comment on the review for PR #446 (too many windows open); however, I am happy to make those changes in #446 if that will make the review easier.

[2019-01-31 16:34] rebeccabilbro commented on #687
@bbengfort nah, I say we stick with keeping #446 nice and focused on the POC with the feature importances and k-elbow docs. So excited to be moving forward with this docs refresh!!

[2019-02-01 01:45] bbengfort opened #714 "Add spec and verbose back to test configuration"
See #712 for a more detailed discussion and the changes that relate to this issue.

The update to pytest 4.2, unfortunately, broke our tests in two ways:

1. The test object no longer has a `_genid` attribute, hurting our verbose names with parametrize
2. pytest-spec issues 1142 warnings making the test output unreadable.

Temporarily, we have removed pytest-spec and have lost our nice test report

[2019-02-01 02:35] #693 closed

[2019-02-01 03:51] #354 closed

[2019-02-01 10:49] Naba7 opened #716 "JointPlotVisualizer not poofing"
OS:Linux 18.04LTS
Python:3.6.8 Anaconda inc.
Yellowbrick:0.9

So,as said by @rebeccabilbro  I tried to use fit_transform instead of fit in the JointPlotVisualizer,but no change .I am tracing the code along with my terminal output;
CODE:
[code]

OUTPUT:
[code]
No,changes no figures showing up.

I know I am increasing your tasks with my questions,Sorry!

[2019-02-01 13:52] rebeccabilbro commented on #716
Hi again @Naba7 - please try [providing an outpath for your visualizer](http://www.scikit-yb.org/en/latest/faq.html#how-can-i-save-a-yellowbrick-plot):

[code]

If what you're looking for is more immediate/interactive viewing of plots, you might try using yellowbrick inside a Jupyter notebook.

Out of curiosity, could you please run the following in a Python REPL and let us know what you see?
[cod

[2019-02-01 18:40] Naba7 commented on #716
I had saved it already in outpath and tried,but no success.
the code you had given to run gave output     backend: agg

[2019-02-01 18:42] rebeccabilbro commented on #716
@lwgray ☝️?

[2019-02-01 18:43] lwgray commented on #716
hi @naba7

Can you give this a try? by swapping in this line?

visualizer.fit(X['temp'].values, X['feelslike'].values)

[2019-02-01 18:44] Naba7 commented on #716
okay!

[2019-02-01 18:46] Naba7 commented on #716
sorry! no success

[2019-02-01 18:55] lwgray commented on #716
How about trying...

visualizer.fit(X['temp'].as_matrix(), X['feelslike'].as_matrix())

[2019-02-01 19:09] Naba7 commented on #716
yb1.py:10: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  visualizer.fit_transform(X["temp"].as_matrix(),X["feelslike"].as_matrix())

no success.

[2019-02-01 19:34] lwgray commented on #716
@naba7 Were you unable to view the jointplot in jupyter notebooks prior to change to ‘.values’ ?

[2019-02-01 19:34] Naba7 commented on #716
visualizer.fit(X["temp"],X["feelslike"])
visualizer.fit_transform(X["temp"],X["feelslike"])
visualizer.fit_transform(X["temp"].values,X["feelslike"].values)

all,poof the plot without the 45 degree line,in jupyter notebook but not with terminal.

[2019-02-01 19:35] Naba7 opened #717 "the data folder is not in yellowbrick repo"
OS:Linux18.04LTS
Python:3.6.8 Anaconda Inc.
yellowbrick=0.9

import os
import pandas as pd
names = [
    'class',
    'cap-shape',
    'cap-surface',
    'cap-color'
]
mushrooms = os.path.join('data','agaricus-lepiota.txt')
dataset   = pd.read_csv(mushrooms)
dataset.columns = names
dataset.head()

In docs there is a code,joining the path of csv file agaricus-lepiota.txt from data folder.But repo o

[2019-02-01 19:45] rebeccabilbro commented on #717
Hi again @Naba7 - the mushroom dataset is part of the new datasets module, which is merged into develop and will be in the v1.0 release. You can read more about the new datasets module [here](https://www.scikit-yb.org/en/develop/api/datasets.html) and [here](https://github.com/DistrictDataLabs/yellowbrick/pull/535). We already have several follow-up issues open for modifying the documentation to r

[2019-02-01 19:45] #717 closed

[2019-02-01 19:57] lwgray commented on #716
I am stumped @bbengfort any suggestions?

[2019-02-02 00:57] Naba7 commented on #716
okay! thank you

[2019-02-02 15:49] bbengfort commented on #716
Hi @Naba7 I've been going through the quickstart and there does appear to be something odd happening when running it as a script. It does work in a notebook, but the notebook is only rendering the current figure and it does not look like `finalize()` has been called. Possibly there is an issue with `poof()`. I'm looking into it!

[2019-02-02 15:59] bbengfort commented on #716
@lwgray @rebeccabilbro found the problem:

The poof method checks to make sure `draw()` has been called on [L209](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/base.py#L209) by determing if an `ax` has been created and exits if it has not been. The `JointPlotVisualizer` sets up three axes objects, `joint_ax`, `x_ax`, and `y_ax` but never sets `visualizer.ax`. So `poof()`

[2019-02-02 16:17] rebeccabilbro commented on #716
Thanks @bbengfort! Closing this as it will be resolved with #687

[2019-02-02 16:17] #716 closed

[2019-02-02 18:37] bbengfort commented on #716
Fixed in #719

[2019-02-02 18:38] bbengfort commented on #687
#719 handles the quickstart documentation.

[2019-02-03 03:54] #80 closed

[2019-02-03 12:18] Naba7 opened #722 "data folder not created"
As said earlier, python -m yellowbrick.download downloads datasets to yellowbrick/yellowbrick/datasets/fixtures rather not creating data folder in the current directory.The path of download is already set.when i type in the following command
data = pd.read_csv('data/concrete/concrete.csv')
error occurs
python
Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0] on linux
Type

[2019-02-04 12:40] Naba7 opened #723 "ParallelCoordinates have different index"
**Describe the bug**

The graph showing Output of ParallelCoordinates is incorrect.
As,the code in the docs outputs a different graph.

**To Reproduce**
[code]

**Dataset**
occupancy dataset
Its in yellowbrick/yellowbrick/datasets/fixtures

**Expected behavior**
As expected, in the above visualization, the domain of the light feature should be from  [0, 1600], far larger than the range of temperat

[2019-02-04 16:09] lwgray commented on #723
hi @Naba7 Thanks for the submission.  I am looking into this for you.

[2019-02-04 17:50] lwgray commented on #723
Hi @Naba7  Thanks for catching this.  I found the problem however It isn't a bug but a misprint in the documentation.  To generate the image that is in the documentation...the sample param needs to be set to 0.05

[code]

[2019-02-04 18:10] ianozsvald commented on #701
Hey @bbengfort . I totally missed the release of Matplotlib 3.0.x. My client this morning just told me they'd dropped YellowBrick because it wouldn't install cleanly with mpl 3, I suggested they try a `pip install git+...` and they're giving it a go. Given that mpl 3 came out in September might it be possible that you're losing users elsewhere due to the perceived incompatibility? Personally I'd +

[2019-02-04 22:38] Naba7 commented on #723
Okay! Thank you it works .. may I do the PR for this?

On Mon 4 Feb, 2019, 11:20 PM Larry Gray <notifications@github.com wrote:

[2019-02-04 23:09] lwgray commented on #723
@Naba7

We have to do this PR in-house because we are changing the way we construct plots in documentation [446](https://github.com/DistrictDataLabs/yellowbrick/pull/446)

[2019-02-05 00:11] #723 closed

[2019-02-05 02:55] Naba7 commented on #723
Ok!

On Tue 5 Feb, 2019, 5:41 AM Larry Gray <notifications@github.com wrote:

[2019-02-05 21:44] 53X commented on #684
Can I take this issue?

[2019-02-05 22:49] bbengfort commented on #684
@53X sure that would be great, thanks.

[2019-02-06 02:27] bbengfort opened #725 "Repair hotfix on v1.0 merge to master"
When we released hotfix v0.9.1 we created some potential conflicts in master when merging the v1.0 release that will need to be repaired. Namely:

1. The requirements files must match the `develop` version
2. The xfails in several tests must be removed

The details of these changes can be found in #724 and 3f20db

Also, while here - please also review the classifiers in `setup.py` -- particularly

[2019-02-06 05:43] soniaarora opened #727 "Not able to import UMAPVisualizer from yellowbrick.text"
I downloaded the latest package of yellowbrick but it was file of umap_vis.py was missing from the package of yellowbrick.text

[2019-02-06 05:57] soniaarora commented on #727
I downloaded the latest package of yellowbrick but it was file of umap_vis.py was missing from the package of yellowbrick.text

[2019-02-06 14:21] bbengfort commented on #727
Hi @soniaarora the UMAP visualizer hasn't been released yet; it's part of our v1.0 release which we're expecting to conclude in the next month or two -- I'm very sorry for the inconvenience. If you'd like to use the latest features you can install Yellowbrick directly from GitHub as follows:

[code]

This should install our develop branch and make sure you also reference our develop documentation:

[2019-02-06 14:26] bbengfort commented on #509
*Update*: In a recent call we decided to have the copyright line attributed to "The scikit-yb developers", the header should be updated to reflect this.

[2019-02-06 14:28] bbengfort commented on #297
This is also related to quick methods which would benefit from being able to draw an already fitted model without having to pass train-test splits directly into the method.

[2019-02-06 14:35] bbengfort commented on #450
This is an excellent proposal and I think would be very valuable to our contributors. After #720 we think this should work as follows:

- Create a `docs/README.md` that has limited instructions about how to build docs and install requirements, then points to the documentation for further instructions.
- Create a section in the contributor's guide for documentation that discusses all of the above.

[2019-02-06 14:37] bbengfort commented on #689
@amueller - mind checking out the README again? @rebeccabilbro did some work streamlining it so that it does a better job of pointing to the docs. I think our goal from here on out is to primarily use the docs rather than in-code READMEs.

[2019-02-06 14:40] bbengfort commented on #512
Complete with #535 and covered in other issues described by #683

[2019-02-06 14:40] #512 closed

[2019-02-06 14:45] rebeccabilbro commented on #527
Note: have consolidated this task with #441 to ensure we get it done for the v1.0 release!

[2019-02-06 14:45] #527 closed

[2019-02-06 16:15] bbengfort opened #728 "Finish JointPlot for Machine Learning Use Cases"
This issue is a follow on to #721 to wrap up the extension of `JointPlot` for machine learning-specific use cases. The tasks are as follows:

- [ ] In the case where two columns are specified, color the plot with the target variable as in Manifold
- [ ] Add in best fit line(s) as an option (this might extend the `kind` parameter) - note that lines may drawn for each class in a discrete target.
- [

[2019-02-06 19:50] Kautumn06 commented on #600
@bbengfort I've finished documenting all of our quick methods in the Yellowbrick audit spreadsheet (#669). The information answers the first three questions under "Verifications" and the second question under "Other Questions" listed above.

[2019-02-06 19:53] bbengfort commented on #600
@Kautumn06 awesome! Thank you so much! I'll take a look and then add some comments on this issue about what the next steps are to make this prime time. @ndanielsen would you mind also taking a look?

[2019-02-06 20:43] Kautumn06 commented on #600
@bbengfort Also, I did add two additional columns to the "Quick Methods" tab to record some additional information I noticed while finishing it. One column to track when a quick method has additional parameters not found in the Visualizer and another that contains notes about when a parameter has different defaults (for instance, `balanced_binning_reference` has `target='Frequency'` while `Balance

[2019-02-07 14:47] pdamodaran commented on #722
Hi @Naba7 - just wanted to follow up with you to see if you are still having any issues with downloading the datasets.

[2019-02-07 17:02] #605 closed

[2019-02-07 17:02] #214 closed

[2019-02-07 17:02] #434 closed

[2019-02-07 18:19] bbengfort commented on #687
Note that the cleanup is going to require the gallery to be updated to use the plot directive relatively soon - the gallery uses many of the static images that we'd like to delete throughout this documentation process!

[2019-02-08 01:57] richardjgowers commented on #691
@wagner2010 Cool project! - I’ve done gsoc a few years now, I think the project has to be code based and not documentation. A code based blogpost is obviously borderline but I’d double check this

[2019-02-08 04:10] bbengfort commented on #687
Note - we had to use the `:context: close-figs` on all of our plot directives to ensure they rendered correctly. I'm still looking into this, but it's something to be aware of as you're working on these files!

[2019-02-09 15:55] cac04 opened #734 "Importing yellowbrick changes global matplotlib styles"
This may be intentional behavior. If it is, sorry for the noise! It surprised me though, so maybe it should be in the documentation somewhere.

When you `import yellowbrick`, it runs `yellowbrick/__init__.py` which contains this line:
[code]
This does indeed change `matplotlib.rcParams`, which means that every other plot generated via `matplotlib` is altered.

I have a workaround, which is to crea

[2019-02-09 16:09] bbengfort commented on #610
Thank you @rohit-ganapathy for taking care of two of these items!

[2019-02-09 21:15] bbengfort commented on #689
@amueller I believe your comments have been addressed in #731 and in #720 so I'm going to go ahead and close this issue. Let us know if you have any other feedback on our documentation, we're always looking to improve it!

[2019-02-09 21:15] #689 closed

[2019-02-09 21:15] bbengfort commented on #722
Hi @Naba7 based on our other conversations I believe this was resolved, so I'm going to go ahead and close this issue. Thank you for contributing to Yellowbrick!

[2019-02-09 21:15] #722 closed

[2019-02-10 22:58] ianozsvald opened #738 "Suggestion for changes to ROCAUC to aid interpretation"
Whenever I use a ROC plot I have to refresh myself about what it means. In particular - what do the axis labels _mean_ and where are the thresholds on the plot. It doesn't help that wikipedia's https://en.wikipedia.org/wiki/Receiver_operating_characteristic page has a heap of formulas and their confusion matrix example has different conventions relative the sklearn's.

I'd like clearer description

[2019-02-11 01:46] lwgray opened #739 "Address why Images produced by plot directives differ from previous script generated images"
Concerns #687 and #737
This issue is to capture instances when images that are produced by plot directives are different than the images produced by our former inline scripts .

In comparison to the old script derived Images:
1.  Classification Report - Image doesn't expand across entire width of screen
2.  Class_prediction_Error - The width of the plotted area has shrunk
3.  DispersionPlot - Font

[2019-02-11 02:29] bbengfort commented on #734
@cac04 thank you for your question, and it certainly is not noise -- we're always happy to go over the choices we've made in the library and see if there are ways we can do things better. In this case, yes it was intentional that we modify the default styles of matplotlib not just for Yellowbrick but for all other visualizations. I will say that the decision was not made lightly and it was after a

[2019-02-11 03:15] bbengfort commented on #738
First, thank you so much for including YB in your PyData Amsterdam talk! And by the way - the "confusion probabilities" would make an awesome visualizer ...

I've got to say that I'm with you in that I rarely use ROC/AUC for diagnostics and prefer Precision-Recall curves and other tools (particularly since I mostly deal with multiclass classifiers). ROCAUC is in Yellowbrick for exactly the reason

[2019-02-11 03:17] #450 closed

[2019-02-11 03:19] bbengfort commented on #727
Hi, @soniaarora I hope my suggestion helped, let me know if you need any further assistance, and please stay tuned for the v1.0 release!

[2019-02-11 03:19] #727 closed

[2019-02-11 04:51] Naba7 commented on #722
Thanks @pdamodaran and @bbengfort for helping

On Sun 10 Feb, 2019, 2:45 AM Benjamin Bengfort <notifications@github.com
wrote:

[2019-02-11 09:44] ianozsvald commented on #738
You're very welcome! It was the Confusion Probabilities part that got me the feedback about ROC curves and, given that article, I think my chart (whilst being pretty) is less useful than an annotated ROC curve. I meant to link the slides from PyDataAmsterdam, here they are: https://ianozsvald.com/2018/05/26/creating-correct-and-capable-classifiers-at-pydataamsterdam-2018/

My chart _does_ show dis

[2019-02-11 14:13] cac04 commented on #734
Thank you for that detailed reply! Yes, I'd be very happy to discuss this further. I'm afraid I am not an experienced Yellowbrick user: I only started using it a few weeks ago. I had a notebook that already contained many plots: some created by using matplotlib directly, some via Seaborn. Then I added a `yellowbrick.regressor.ResidualsPlot` and suddenly all my existing plots changed.

I guessed th

[2019-02-11 21:33] haseebkhan1421 commented on #614
Hi
I'm new to yellowbricks and trying to explore things. I have tried everything but couldn't get why am I facing this issue in generating my confusion matrix. Only a part of code is shown below to give you understanding

`from sklearn.model_selection import train_test_split
FeatureData_Train, FeatureData_Test, TargetData_Train, TargetData_Test = train_test_split(FeatureData,TargetData, test_size

[2019-02-12 13:24] maximilian1064 opened #741 "[elbow visualizer] Error in distortion score calculation"
Instead of the sum of the squared distance of each sample to its closest centroid, what you are calculating here is the sum of mean distortion within each cluster. Do you intend to calculate in this way?

[2019-02-12 13:28] maximilian1064 commented on #741
https://github.com/DistrictDataLabs/yellowbrick/blob/80169ab4ac8b066abd4c5f4f8f3af34fc2c76d20/yellowbrick/cluster/elbow.py#L102

This line should be

if you intend to follow the way described in https://bl.ocks.org/rpgove/0060ff3b656618e9136b

[2019-02-12 16:08] bbengfort commented on #741
@maximilian1064 Thank you for reporting this, unfortunately right now we're a bit tied up with a number of PRs and open issues so we can't get to this right away. Please ping us in a week or two if we haven't followed up!

[2019-02-12 16:18] bbengfort commented on #614
@haseebkhan1421 - thank you for your question and for using Yellowbrick! There is potentially one of two errors happening here. First - are you using the latest version of Yellowbrick (v0.9)? If not please `pip install -U yellowbrick`, and you can then use the solution as discussed above:

[code]

Note that `classes` is intended to give the figure nice class labels, you could also just omit this,

[2019-02-12 19:59] Naba7 commented on #691
I have made a draft. I am pasting it below.Please check out and help me get clear through the errors and please specify if I left anything.Here is the link https://github.com/Naba7/NYPD_Hunchlab

[2019-02-13 02:43] bbengfort opened #744 "AppVeyor with Conda/Miniconda Broken"
AppVeyor is failing on the Miniconda3 matrix when installing NLTK:

[code]

See: https://help.appveyor.com/discussions/problems/20308-importerror-dll-load-failed-the-specified-module-could-not-be-found for more details and discussion.

[2019-02-13 03:39] wagner2010 commented on #691
Hi Naba, thank you for your work. I and we (the team) don't really had the bandwidth to take up blogposts drafts at the moment.  The purpose of my starting this issue was to include it on a list of issues for our GSoC proposal (for this summer) which is still going through the mentor organization application process.  Blogposts are a low priority right now for us as we're trying to push forward on

[2019-02-13 03:39] #691 closed

[2019-02-13 03:51] Naba7 commented on #691
Okay! Thanks a lot

On Wed 13 Feb, 2019, 9:09 AM wagner2010 <notifications@github.com wrote:

[2019-02-13 04:06] Naba7 commented on #738
Can I be assigned this issue?

[2019-02-13 04:27] Naba7 commented on #650
Can I be assigned this issue?

[2019-02-13 04:28] Naba7 commented on #677
Can I be assigned this issue? Please help me proceed with this.

[2019-02-13 10:28] ianozsvald commented on #738
@bbengfort just for completeness - if there was a desire to include my histograms-of-probabilities confusion matrix variant, the code is online at In[27] in the Notebook I used for my PyDataAmsterdam talk: https://github.com/ianozsvald/data_science_delivered/blob/master/ml_creating_correct_capable_classifiers.ipynb

[2019-02-13 11:56] Naba7 commented on #722
I want to clear everyone on this . The actual statement is python -m yellow
brick.download ./data rather than python -m yellow brick.downloads ./data

On Mon 11 Feb, 2019, 10:21 AM Nabanita Dash <dashnabanita@gmail.com wrote:

[2019-02-13 12:11] Naba7 commented on #684
@rebeccabilbro I have created a PR regarding this issue

[2019-02-13 13:19] Naba7 commented on #380
As in https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/base.py
the fit method returns self,the draw method returns nothing and checks a Not Implemented Error,the finalize method returns self.ax.While poof method wraps up finalize method at first which returns self.ax and a follow up if-else statement wraps either plt.show method or plt.savefig method.
    def poof(self, out

[2019-02-13 14:51] bbengfort commented on #380
Hi @Naba7 thank you for your note - I did check `Rank1D` and it looks like it does indeed return `self` so no change needs to be made to that. If you're interested in taking a look at this, perhaps you can see if you can reproduce the bug using the notebook that @fdion provided on YB v0.9.1? It is possible that this bug has been repaired through a different change.

[2019-02-13 14:58] bbengfort commented on #734
@cac04 sorry for the delay in response - we've been slammed with issues and PRs over the past couple of days; we're just a small group of part-time volunteers so we have to juggle things as best we can.

I did try using the context manager inside of the `poof` method - but it didn't work out of the gate. However, I did note some promising things in that direction. I think a documentation page woul

[2019-02-13 16:06] Naba7 commented on #380
Ok! No problem

On Wed 13 Feb, 2019, 8:21 PM Benjamin Bengfort <notifications@github.com
wrote:

[2019-02-13 17:11] zjpoh commented on #741
@maximilian1064 I agree with you.

According to the documentation, the distortion should be sum of squared distances, not mean. https://github.com/DistrictDataLabs/yellowbrick/blob/80169ab4ac8b066abd4c5f4f8f3af34fc2c76d20/yellowbrick/cluster/elbow.py#L49

As a simple example, consider the following four points in the same cluster.
[code]
The centroid is the origin and the distortion score should b

[2019-02-13 18:39] pdamodaran commented on #677
@Naba7 - We really appreciate your enthusiasm to contribute to Yellowbrick! We don’t usually specifically assign people to individual tasks unless it is something only they can take care of, we usually proceed by having the contributor open a PR and for the issue and then the discussion takes place there. We see that you have already opened a PR for #684, which is great!  When you are ready to tak

[2019-02-13 18:40] pdamodaran commented on #738
@Naba7 - We really appreciate your enthusiasm to contribute to Yellowbrick! We don’t usually specifically assign people to individual tasks unless it is something only they can take care of, we usually proceed by having the contributor open a PR and for the issue and then the discussion takes place there. We see that you have already opened a PR for #684, which is great!  When you are ready to tak

[2019-02-13 23:47] Naba7 commented on #615
Can I be assigned this issue?

[2019-02-14 01:35] wagner2010 commented on #615
Hi @Naba7 .  We don't assign issues out however you are always welcome to work on the problem yourself and submit a PR.  Be sure to check out the referenced issues above to fully grasp what it is that we are looking for.  Thanks.

[2019-02-14 07:22] Naba7 commented on #615
Ok, thank-you

On Thu 14 Feb, 2019, 7:05 AM wagner2010 <notifications@github.com wrote:

[2019-02-14 11:20] cac04 commented on #734
Thank you very much for looking at this. I don't know if it's high priority - especially if I'm the only one to have filed an issue about it! - but I thought it was worth asking about.

[2019-02-14 16:02] lwgray commented on #613
I am reopening this issue because during my implementation of plot directive for the ConfusionMatrix Docs #747 I came across it again.  It doesn't appear to be fixed with recent mpl updates.

* OS:  Ubuntu 18.04.1 LTS
* Python Version 3.6.5
* Yellowbrick Version 0.9
* I use Anaconda

![confusionmatrix-2](https://user-images.githubusercontent.com/1000117/52799546-07506a80-3048-11e9-8f8f-a416321a3aa

[2019-02-15 00:44] bbengfort commented on #738
Hi @ianozsvald sorry again for the delay, as @pdamodaran mentioned we are a bit overloaded with issues this week!

Thanks for providing the code for the histograms-of-probabilities confusion matrix variant, I think it could be an interesting visualizer so I'll add it to the issues if you don't mind!

I think you've won me over with your argument about expressiveness. We do view yellowbrick as havi

[2019-02-15 00:47] bbengfort opened #749 "Confusion Matrix Probability Histogram"
@ianozsvald suggested an interesting extension to the Confusion Matrix: one which displays a histogram of probabilities in each square:

![download](https://user-images.githubusercontent.com/745966/52827067-49ea6500-3091-11e9-9103-47855846a108.png)

Code is here:

https://github.com/ianozsvald/data_science_delivered/blob/master/ml_creating_correct_capable_classifiers.ipynb

[2019-02-15 01:40] #601 closed

[2019-02-15 02:26] bbengfort commented on #697
@aronszanto I'm really sorry we've fallen behind on this issue - we've been slammed with PRs and requests, but it's definitely important to us! Would you be interested in opening a PR to fix this issue by any chance?

[2019-02-15 02:54] bbengfort commented on #600
@Kautumn06 very helpful! Now that we have the audit I think we need to do the following:

- [ ] repair all return values
- [ ] ensure all quick methods have tests
- [ ] ensure none of the parameters are missing
- [ ] figure out a documentation mechanism for the quick methods
- [ ] document the quick methods

So the question is how do we move forward? #687 is an exhaustive list of what needs to be

[2019-02-15 12:12] Naba7 commented on #615
@bbengfort  Will I update the docs of pca.rst or update pca.py ?
If I update pca.py,then will I make changes in the draw method? In the given example,cancer dataset id chosen.What will I do to get the feature names?

[2019-02-15 12:32] Naba7 commented on #615
The changes I have made
 def draw(self, **kwargs):
        X = self.pca_features_
        if self.proj_dim == 2:
            plt.colorbar(orientation='horizontal', ticks=[pca.components_.min(), 0,
                                              pca.components_.max()], pad=0.65)
            fig, ax = plt.subplots(figsize=(8, 4))
            plt.imshow(pca.components_, interpolation = 'none', cmap = '

[2019-02-15 13:58] bbengfort commented on #615
Hi @Naba7 - for this issue, we would have to edit `yellowbrick/features/pca.py` and implement the component feature strengths on the `PCADecomposition`. The best bet would be to make this an independent method because as you noted in your code snippet it's going to require additional axes, which can be tricky when working with visualizers, plus it should be optional for the user.

This feature is

[2019-02-16 05:25] ajaysub110 commented on #749
Hi. First time here. Can I take this up?

[2019-02-16 11:12] bbengfort commented on #749
Hi @ajaysub110 you're more than welcome to submit a PR for this, thanks for your interest in contributing to Yellowbrick!

[2019-02-16 14:04] ianozsvald commented on #749
Hello Ajay. I'd be happy to review your contribution, thanks for picking up
on the idea. Ian

On Sat, 16 Feb 2019, 11:12 Benjamin Bengfort <notifications@github.com
wrote:

[2019-02-16 18:54] ajaysub110 commented on #749
Great. Thanks a lot!

[2019-02-17 07:28] ajaysub110 commented on #749
Quick question. How do I test a single file (confusion_matrix.py in this case?). Its giving me some import errors due to relative imports being used in the code.

**What I tried**
I tried adding the path of the utils and style folders to the system path as follows:
`sys.path.insert(0,'/home/ajays/Desktop/yellowbrick/yellowbrick');`

When I print out the system path, the directory I want is there,

[2019-02-17 09:30] ianozsvald commented on #749
Can you give some background on how you've setup your environment please?
What package manager so you have (Windows? System python? Venv? Other?)
Have you taken a fresh checkout of YB from GitHub, via a Fork?
Have you followed the contributor guidelines and checked that all the tests
run to completion first?
https://www.scikit-yb.org/en/latest/contributing.html
Ian

On Sun, 17 Feb 2019, 07:29 Ajay

[2019-02-17 10:04] ajaysub110 commented on #749
I've set up a virtualenv environment and installed packages using pip. I'm working on the updated fork on the develop branch.
I'm actually stuck on running the tests themselves. The contribution guidelines provide the following code template to test visualizers
 <pre><code>import pytest
from tests.base import VisualTestCase
from tests.dataset import DatasetMixin

class MyVisualizerTests(VisualTest

[2019-02-17 10:08] ajaysub110 commented on #749
The path of the file I'm modifying (confusion_matrix.py) is <code>yellowbrick/classifiers/confusion_matrix.py</code> while the utils module (which is being used in the file for the `div_safe` method) is in the yellowbrick directory.

[2019-02-17 11:39] ianozsvald commented on #749
Let me confirm where you are. You note that you've followed https://www.scikit-yb.org/en/latest/contributing.html and I think you're saying that you've followed https://www.scikit-yb.org/en/latest/contributing.html#forking-the-repository with steps 1-4 (finishing with a `develop` branch) - right?

Under the `Testing` section it notes `$ make test` - does that run for you?

I think you might be try

[2019-02-17 11:49] ianozsvald commented on #749
I'll note that it took me a while to get the tests running on my Linux machine a year back (issues fixed by Ben), so take it slow to make sure this is all running for you before you crack on with new code: https://github.com/DistrictDataLabs/yellowbrick/issues/389

[2019-02-17 12:21] ajaysub110 commented on #749
Thanks for the guidance. I'll take a look at the existing tests and try to fix them before I move on

[2019-02-17 12:37] ajaysub110 commented on #749
As you suggested, I ran <code>make test</code> on the original fork (without my changes).
<code>910 passed, 18 skipped, 7 xfailed, 142 warnings in 529.70 seconds</code>
Are the 7 errors something to be alarmed about? I'm working on Ubuntu 18.04 + Python.

[2019-02-17 13:10] ajaysub110 commented on #749
But none of the tests failed with 'F'. So I guess that's alright?

[2019-02-17 13:30] Naba7 commented on #615
Thank a lot .It is all because of all the members and fellow contributors who are so supportive and active.

![credit](https://user-images.githubusercontent.com/31562743/52913578-5b2baf80-32e5-11e9-8660-ca6c71d9bffb.png)

This image shows that after scaling the credit data,they merged to one point rather than getting scattered.

![colorbar](https://user-images.githubusercontent.com/31562743/529135

[2019-02-17 14:01] ianozsvald commented on #749
I don't know what an "xfailed" result means, perhaps they're marked as
being expected to fail (due to other changes occurring in the code base)? I
think you're in good shape.
Maybe post one of those as an example here?
I think next try to add a placeholder test with a 1/0 into the existing
tests, then build up.
Noting your progress here would be useful because maybe we can update the
Contributor d

[2019-02-17 14:11] ajaysub110 commented on #749
According to what I've observed, the 'xfailed' result has occurred only for the image comparison tests, which I guess are more probable since they involve pixel comparisons.
Meanwhile, I've added a test for the histogram and am in the process of fixing errors now.
Sorry. I'm unfamiliar with what a 'placeholder test with a 1/0'. Could you elaborate please?

[2019-02-17 18:50] ianozsvald commented on #749
Sounds like progress.
When I work on new code I always write a test that should fail (eg it
contains a divide by zero line). I then run all the tests. If they don't
fail...I made a mistake somewhere and my new test wasn't included, which
needs fixing.
The risk if you avoid this step is that you write a test which you think is
working... But it never tests the code you're writing.
This has bitten m

[2019-02-18 07:29] rohit-ganapathy commented on #476
Hey! i'm interested in tackling this.

[2019-02-18 13:18] bbengfort commented on #614
Solution is posted on Stack Overflow:

https://stackoverflow.com/questions/54646168/error-creating-confusion-matrix-although-label-encoding-done-on-target-variable

[2019-02-18 15:28] bbengfort commented on #476
@rohit-ganapathy - that would be great, feel free to open a PR when you're ready for us to take a look.

[2019-02-18 15:33] bbengfort opened #761 "Validation Curves can be very slow"
Two of the code examples in the [validation curve documentation](https://www.scikit-yb.org/en/latest/api/model_selection/validation_curve.html) can take hours to run even with joblib parallelism. There is a warning in the documentation about this -- the goal of these images was to show a useful diagnostic image that demonstrated the utility of the visualizer. However, this also means it is an exam

[2019-02-18 15:50] bbengfort commented on #749
@ianozsvald @ajaysub110 thanks for all your hard work on this! I just wanted to chime in to confirm some of your questions:

1. `xfailed` is "expected failure" and is no cause for concern. As you mentioned @ajaysub110  - it's likely because a font or something is missing from your system that would throw the image comparisons off.

2. If you're adding a new visualizer to `yellowbrick/classifiers/c

[2019-02-18 15:57] ajaysub110 commented on #749
I see. Thanks. I'll keep that in mind.

I've been stuck on something for almost a day now. But before that, there are two important things to note here, that I'm not allowed to modify in any way:

 1. The **Figure object is not passed** as a constructor parameter to the class; only the Axes object is. So the **subplots object cannot be modified in any way**.
 2. The Axes parameter is set to that o

[2019-02-18 16:09] bbengfort commented on #615
Hi @Naba7 - thank you for providing the code snippet and trying the example! I've updated the code to use the new `yellowbrick.datasets` module - this is available in the `develop` branch, and if you have set up yellowbrick according to the contributor's guide, then it should be available to you. Alternatively, you should be able to put `PCA_Visualizer.py` in the root yellowbrick project and it sh

[2019-02-18 16:19] bbengfort commented on #749
Hi @ajaysub110 yes - this is a tricky problem that we also have in our `JointPlot` visualizer, `ResidualsPlot`, and others. We are very reluctant to manage the entire figure since we want to be able to use Yellowbrick to create reports, etc. So what we have been doing is using [`make_axes_locatable`](https://matplotlib.org/mpl_toolkits/axes_grid/users/overview.html) and dividing up the area that t

[2019-02-18 17:50] ajaysub110 commented on #749
Thanks for your insight into this issue. I check the links out. Also, just to confirm, you want me to create a superclass for ConfusionMatrix, and embed the new histogram feature into that, correct?

[2019-02-18 19:31] pdamodaran commented on #741
@maximilian1064 - thanks for bringing up this issue and @zjpoh - thanks for reviewing and providing your feedback.  We will be updating the code with the suggested fix.

[2019-02-19 00:35] Naba7 commented on #458
Can I be assigned this issue?

[2019-02-19 00:36] Naba7 commented on #476
Can I start working on this,even if @rohit-ganapathy is assigned?

[2019-02-19 01:07] Naba7 commented on #615
Thank you @bbengfort, for figuring out what went wrong and yes I have set up yb according to contributor's guide.I will keep this in mind to use yellowbrick.datasets from next time. I will try on this issue as well as try GridSpec too.This is really interesting,amazing and fun to work and get guidance and support from you.OSS is love.

[2019-02-19 02:18] rebeccabilbro commented on #476
Hello @Naba7 &mdash; as we explained last week in response to your questions on #738 and #677, we do not "assign" issues or reserve issues for contributors. Anyone is welcome to submit a PR for a feature or bugfix they work on.

However, given that you already have one PR open that still needs to be completed (#755), have started working on #615, and are new to working on Yellowbrick and still get

[2019-02-19 02:19] rebeccabilbro commented on #458
Hello @Naba7 &mdash; as explained in response to your notes on #738, #677, and #476, we do not "assign" issues or reserve issues for contributors. Anyone is welcome to submit a PR for a feature or bugfix they work on.

However, given that you already have one PR open that still needs to be completed (#755), have started working on #615, and are new to working on Yellowbrick and still getting to kn

[2019-02-19 02:23] Naba7 commented on #476
It's so exciting and fun. I want to know and learn things quick. So,I am
asking questions to get assigned everywhere. Sorry I have noted this now.

On Tue 19 Feb, 2019, 7:48 AM Rebecca Bilbro <notifications@github.com wrote:

[2019-02-19 10:40] maximilian1064 commented on #741
@pdamodaran Thanks for the fix! I think you should also change this comment
https://github.com/DistrictDataLabs/yellowbrick/blob/80169ab4ac8b066abd4c5f4f8f3af34fc2c76d20/yellowbrick/cluster/elbow.py#L101
to `# Add the sum of square distances to the distortion`.

[2019-02-19 14:00] bbengfort commented on #749
That's correct, thank you!

[2019-02-19 14:07] cchanning commented on #255
@bbengfort would implementing this feature require crazy levels of effort?

[2019-02-19 15:04] bbengfort commented on #255
Hi @cchanning - I don't really know the level of effort involved, but even just a proof of concept prototype script posted here as a gist would go a long way toward us adding the feature and would be extremely helpful. Would you be willing to take a go at it if it was framed that way?

[2019-02-19 15:49] bbengfort opened #764 "Add elbow detection using the "kneedle" method to Elbow Visualizer"
It would be nice if we could (optionally) annotate the "best" k in the elbow method by detecting the "knee" of the curve using the "kneedle" method described in: https://github.com/arvkevi/kneed. This feature could be added either by adding `kneed` as an _optional_ dependency or by reimplementing part of the kneedle code in Yellowbrick.

[2019-02-19 16:00] bbengfort commented on #741
So I did some investigation in response to #762 -- (I added this comment there as well). Here is the original distortion score using `mean()`:

![elbow-1](https://user-images.githubusercontent.com/745966/53028298-9b4d7800-3434-11e9-8002-436e5921b841.png)

And here is the distortion score using `sum()`:

![elbow-2](https://user-images.githubusercontent.com/745966/53028311-a30d1c80-3434-11e9-93f0-f3

[2019-02-19 18:12] ianozsvald commented on #738
Hey @bbengfort. I have no strong view on adding specificity/sensitivity, as you note this gets less useful in the multi-class case (but then, with many classes these visualisations are probably less useful in general as too many lines just get hard to read).
Re https://yellowbrick.readthedocs.io/en/latest/api/classifier/threshold.html I think I didn't use it in my talks but I did investigate it at

[2019-02-19 18:19] ajaysub110 commented on #749
I think I've completed a basic version of the ConfusionProbabilityMatrix using gridspec, and a primitive test file for that (that I copied off of the test_confusion_matrix.py file).
According to the [Contributing](http://www.scikit-yb.org/en/latest/contributing.html#image-comparison-tests) page, the image comparison test will fail initially due to there being no baseline image, after which I shoul

[2019-02-19 18:24] ajaysub110 commented on #749
My test function:
<pre><code>
        _, ax = plt.subplots()

        model = GaussianNB()
        cm = ConfusionProbabilityMatrix(model, ax=ax, classes=None)
        cm.fit(self.digits.X.train, self.digits.y.train)
        cm.score(self.digits.X.test, self.digits.y.test)

        self.assert_images_similar(cm, tol=10)
</code></pre>

And the error I get after the test:
`AttributeError: 'NoneType'

[2019-02-19 18:48] bbengfort commented on #749
@ajaysub110 that method is called off of the Figure, though it does not appear in Yellowbrick as far as I can tell. Could you provide a complete traceback, please?

[2019-02-19 18:54] ajaysub110 commented on #749
self = <tests.test_classifier.test_confusion_probability_matrix.ConfusionProbabilityMatrixTests testMethod=test_no_classes_provided>

    def test_no_classes_provided(self):
        """
        Integration test on digits dataset with GaussianNB, no classes
        """
        _, ax = plt.subplots()

        model = GaussianNB()
        cm = ConfusionProbabilityMatrix(model, ax=ax, classes=None)

[2019-02-19 19:18] bbengfort commented on #749
Well, I can certainly say I've never seen that before. I've Googled around and haven't come up with anything. A couple of important questions come to mind:

1. In your `ConfusionProbabilityMatrix.__init__` are you calling `super` with the `ax` object?
2. Do you happen to know the version of matplotlib you've got installed?
3. Do you have a custom rcParams set by any chance?

If we can't figure it

[2019-02-19 19:51] bbengfort opened #765 "Critical Vulnerability in np.load with NumPy v1.16 and earlier"
There is a critical vulnerability with NumPy v1.16 and earlier that affects the new YB datasets module:

https://www.bleepingcomputer.com/news/security/numpy-is-awaiting-fix-for-critical-remote-code-execution-bug/

This does not affect any Yellowbrick user for version 0.9.1 or earlier and we will not release version 1.0 without a patch for this bug. When NumPy 1.17 is released (if it contains the

[2019-02-19 19:52] ajaysub110 commented on #749
1. Yes. `super(ConfusionProbabilityMatrix, self).__init__(model, ax=ax, classes=classes, label_encoder=label_encoder, **kwargs)`
2. I have matplotlib 3.0.2 installed
3. Not that I know of
Yeah sure. I'll open one right away

[2019-02-19 21:07] #706 closed

[2019-02-19 21:15] bbengfort commented on #765
It turns out that our `load_game` and `load_mushroom` datasets are affected by this change because they contain string data with `dtype=object`, which results in: `ValueError: Object arrays cannot be loaded when allow_pickle=False` when the patch is applied.

I tested a workaround to this, and that is to save these arrays with `dtype=np.unicode_` -- which does allow save and load with `allow_pickl

[2019-02-19 23:53] #765 closed

[2019-02-20 13:30] bbengfort commented on #749
Or if you just have prototype code, feel free to post it here as a gist if you're not ready to open a PR.

[2019-02-20 19:22] ajaysub110 commented on #749
https://gist.github.com/ajaysub110/1521f1923d16a2062f1ebb4f47863260

[2019-02-20 19:24] ajaysub110 commented on #749
There's the code for the class. I think the problem is that the final 'current_ax' object is being considered as a numpy array rather than a plt.axes.Axes instance. Thanks for taking a look.

[2019-02-20 21:55] mattharrison commented on #665
Sorry for the delay in responding. It looks like `.finalize` works. Should I prefer that over `.poof`?

[2019-02-21 03:06] bbengfort commented on #665
@mattharrison glad that `finalize` worked for you. In this case, `finalize` is better than `poof` -- `poof` calls `finalize` and then either `show` or `savefig` which concludes the figure, so in a multi-axes plot like you have, you don't want to call `poof`. This is also the strategy we use when we draw multi-axes plots.

[2019-02-21 03:06] #665 closed

[2019-02-21 12:51] ajaysub110 commented on #749
I ran the prototype manually (on handmade data) using this code. And it seems to be working just fine with no errors. So I assume there's no problem with the logic. Here's the [gist link](https://gist.github.com/ajaysub110/0dd6b78408fc20f0e0a8b45b82415cf8) and here's the [output histogram matrix](https://photos.app.goo.gl/k4NsESmJ7qc819Sn7).
Also, were you able to take a look at the code for the c

[2019-02-22 17:18] lwgray commented on #613
I think I might have found a partial solution (also at #768).  I found that adding the keyword `bbox_inches='tight'` to `poof` fixed the cutoff.

[code]

Before `bbox_inches='tight'`
![image](https://user-images.githubusercontent.com/1000117/53255137-05635880-3693-11e9-9766-48fb69c5068e.png)

After `bbox_inches='tight'`
![image](https://user-images.githubusercontent.com/1000117/53255057-d4832380-3

[2019-02-22 22:28] rebeccabilbro opened #771 "Improvements to PosTagVisualizer"
In #768 we rebooted the part-of-speech tag visualizer to make it more practical for NLP machine learning tasks. Here are a few ideas for follow-up features that could be added:

- [x] optional ordering of the plot by tag count (similar to a frequency distribution). _Note: this should NOT be the default behavior since it could prevent users from being able to compare across plots or across corpora_

[2019-02-23 11:09] ajaysub110 commented on #749
@bbengfort @ianozsvald
I've been searching for a possible solution to this for the last 3-4 days. But unfortunately, there just doesn't seem to be a way to **return one Axes object for the whole figure**. I went through every suggestion that @bbengfort had given me a few days ago but am still unable to solve this.

1. **`make_axes_locatable`**: This method can be used to _divide the current axes_

[2019-02-24 10:11] ajaysub110 commented on #771
Hello,
Just a query. For the stacked barchart, do you want the number of elements in each class, for each part of speech?
Thanks
Ajay

[2019-02-24 22:59] lwgray commented on #771
Hi @ajaysub110 Thanks for reaching out.  We're a bit busy at the moment & will get back to you soon.

[2019-02-25 14:55] lwgray commented on #739
PosTagVisualizer - Cut-off labels
![image](https://user-images.githubusercontent.com/1000117/53345663-6b461f00-38e3-11e9-8ade-0d55ff7ddb8a.png)

[2019-02-25 15:01] lwgray commented on #739
ConfusionMatrix - Labels-Cutoff Before and After Plot Directive
![image](https://user-images.githubusercontent.com/1000117/53345810-c11ac700-38e3-11e9-885e-df5cde136109.png)

[2019-02-25 15:08] lwgray commented on #739
Classification Report - Before Plot Directive
![image](https://user-images.githubusercontent.com/1000117/53346197-8c5b3f80-38e4-11e9-8f02-624503e1d02d.png)

Classification Report - After Plot Directive - Image Smaller - The width of the plotted area has shrunk
![image](https://user-images.githubusercontent.com/1000117/53346217-941ae400-38e4-11e9-8b41-197e23e7551b.png)

[2019-02-25 15:11] lwgray commented on #739
ClassPredictionError - Before Plot Directive
![image](https://user-images.githubusercontent.com/1000117/53346708-8ade4700-38e5-11e9-9226-daa2b73a29e4.png)

ClassPredictionError - After Plot Directive - The width of the plotted area has shrunk
![image](https://user-images.githubusercontent.com/1000117/53346780-bc571280-38e5-11e9-9867-abfb910c7c64.png)

[2019-02-25 15:18] lwgray commented on #739
DispersionPlot Before Plot Directive
![image](https://user-images.githubusercontent.com/1000117/53347027-43a48600-38e6-11e9-8029-0ea8ff3b4eeb.png)

DispersionPlot AFter Plot Directive - Smaller Font
![image](https://user-images.githubusercontent.com/1000117/53347111-6a62bc80-38e6-11e9-982c-c9c07e9a1928.png)

[2019-02-25 15:30] lwgray commented on #749
@ajaysub110 @bbengfort is really sorry but he going to be away for the next couple of weeks.  He feels really bad for not responding to you this weekend.

However, In regards to your comments above, I would point you to the stackoverflow for the question about the square make_axes_locateable

Also, JointPlot will be fixed with that solution soon but in the meantime, just do the prototype with what

[2019-02-25 15:43] ajaysub110 commented on #749
@lwgray Thanks a lot for getting back. I understand completely that you guys are busy with other appointments. In the meantime, I'll try my best to move on with the solution, using the suggestions provided now and earlier.

[2019-02-27 19:40] saurabhdaalia commented on #308
@bbengfort , Hey!! I am interested in working on this issue. It will be a great learning experience for me, I hope. I am new to yellowbrick code base.
It would be really great if you can help me with where can I start with for this particular issue
Thank you!!

[2019-02-27 19:49] lwgray commented on #308
Hi @saurabhdaalia Thanks for taking interest in Yellowbrick.  However @bbengfort is going to be away for the next couple of weeks.  You are welcome to open a pull request to address the issue.    I encourage you to check out the contributor’s guide for our conventions around branching, API, testing, etc https://www.scikit-yb.org/en/develop/contributing/index.html
If you don't hear back from us in

[2019-03-02 16:50] pdamodaran commented on #739
Original CVScores Regressor Image:

![cv_scores_regressor](https://user-images.githubusercontent.com/7106134/53684898-6b7a5c00-3ce1-11e9-9f19-0cfbfeee1412.png)

[2019-03-02 17:34] pdamodaran commented on #739
New CVScores Regressor Image:

![cross_validation-2](https://user-images.githubusercontent.com/7106134/53685361-82bc4800-3ce7-11e9-9e25-c5c1ed97aaa2.png)

[2019-03-09 04:19] navarretedaniel commented on #226
As a coding novice, I enjoy a handy cheat sheet from time to time and I think it'd be great to have a cheat sheet coincide with the release of Yellowbrick v1.0.

I started the attached mock-up by focusing on the very basics (and didn't get too deep into the substance when constrained to a single page).

To that end:
- What aspects or features of Yellowbrick do you all believe should be emphasized

[2019-03-09 16:25] pdamodaran commented on #226
@navarretedaniel - Thank you so much for putting together this cheatsheet!  This is a great start!  I like the formatting of the document and how you organized everything.  For now, my suggestions are as follows:

1) Remove the numbers from the heading.  Since the topics are not necessarily chronological, I think the numbering might be misleading.
2) I like the idea of adding an example per catego

[2019-03-09 22:18] saurabhdaalia commented on #365
@bbengfort , Hi, I am interested in contributing to this feature.

https://nbviewer.jupyter.org/github/saurabhdaalia/ProbablityCurve/blob/master/Curve.ipynb
I have put together this very naive sort of example to get an idea that what are we trying to implement exactly. Would love to get some feedback over it to put down some initial steps to implement the feature.

[2019-03-09 23:24] lwgray commented on #365
Hi @saurabhdaalia Thanks for taking interest in Yellowbrick. However @bbengfort is going to be away for the next couple of weeks. You are welcome to open a pull request to address the issue. I encourage you to check out the contributor’s guide for our conventions around branching, API, testing, etc https://www.scikit-yb.org/en/develop/contributing/index.html
If you don't hear back from us in a cou

[2019-03-11 06:22] Naba7 commented on #615
Proposal:
We can normalize the axis values and use divider.make_axes_locatable to create colorbar alongside

[2019-03-12 12:30] gavsideas commented on #738
I'm not going to pretend to profess any expertise yet based on a cursory reading and in answer to the first question: in the interests of brevity i would call the X axis 'ALARM (-)' and the Y axis 'DETECTION (+).

In response to the second part: the use of circles clearly starts adding complexity to the graph and raises questions of visibility, understanding, meaning and comprehension. As such wou

[2019-03-12 13:01] lwgray commented on #738
hi @gavsideas Thanks for adding to the discussion.  We are on a very short hiatus and will provide feedback once we return.  cheers.

[2019-03-12 13:13] gavsideas commented on #734
I may be getting the wrong end of the wrong stick here but would it be possible to create a sandbox for rcParams that could then hold a context manager until changes need to be imported back into the live yellowbrick environment?

[2019-03-12 13:17] lwgray commented on #734
hi @gavsideas Thanks for adding to the discussion. We are on a very short hiatus and will provide feedback once we return. cheers

[2019-03-14 23:29] jeromemassot opened #784 "Seems impossible to combine clustering and clustering distance ...."
Hi team,

I just want to send your this feedback about my impossibility to combine clustering and interclusteringdistance computation in a consistent way. This is an example of code I have problem with:

- in the first call, I create my tokens from a list of words
- in a second call, I create my cluster using clusters = KMeans(n_clusters=nb_k) and I SEND BACK the clusters
- in a third call, I comp

[2019-03-15 01:00] jeromemassot opened #785 "With Jupyter Lab, axe seems to do nothing when set in visualizer"
**Describe the bug**
I send an axe to any visualizer function but it is not taken into account.

**To Reproduce**

[code]
fig, axes = plt.subplots(1, 2, figsize=(17,8))
visualizer = FreqDistVisualizer(features=features, legend_loc="lower right", ax=axes[1])
[code]

[2019-03-15 01:29] lwgray commented on #784
hi jerome thanks for bringing this to our attention.  We are on a short 2 week hiatus and will reply when we return.

[2019-03-15 01:32] lwgray commented on #785
hi jerome thanks for bringing this to our attention.  We are on a short 2 week hiatus and will take a look at this when we return.

[2019-03-18 13:10] naresh-bachwani commented on #785
![Screenshot (119)](https://user-images.githubusercontent.com/43993586/54532209-3b071300-49ad-11e9-8df1-9ba28f04e13e.png)
Hey @jeromemassot. I got these results with the same code. Is this your desired result?

[2019-03-18 20:18] jeromemassot commented on #785
Hi,

in fact, it is more a problem with the axes[0]

Thanks
Best regards

Jerome

Le lun. 18 mars 2019 à 06:10, naresh-bachwani <notifications@github.com> a
écrit :

[2019-03-18 22:44] ResidentMario commented on #397
I independently had the same thought and took a shot at mating `yellowbrick` to `keras` myself. Here's a write-up, which is currently in draft: ["Evaluation Keras neural network performance using Yellowbrick visualizations"](https://medium.com/@aleksey.bilogur/evaluating-keras-neural-network-performance-using-yellowbrick-visualizations-6fcea1b85a89).

I'd be happy to try and figure out if broad co

[2019-03-18 22:49] ResidentMario commented on #443
Unfortunately the original dataset got deleted, and the notebook got rerun as part of the deletion clearance process. So I'm not sure these notebooks are very actionable anymore unfortunately!

[2019-03-19 09:36] lwgray commented on #397
@ResidentMario Thank you for this awesome work.  I encourage you to open a PR.  However we won’t be able to review it for 2-3 weeks as we are on a short hiatus.  Here is a link to our contributor’s guide.    http://www.scikit-yb.org/en/latest/contributing.html

[2019-03-19 11:01] naresh-bachwani commented on #785
It works well for me in both cases. Show me the code for which it doesn't work.

[2019-03-21 12:34] ansin218 opened #789 "Plots overlapping"
I have created a function like this:

[code]

I am calling this function from a loop where my dataframe is filtered and is passed on to this function to generate the plots. However, all my plots are overlapping.

Suppose I have the loop running thrice, my first image contains one training and one validation curve. My next image from the second loop contains curves of current dataset and the previo

[2019-03-21 14:30] lwgray commented on #789
hi @ansin218,  It could be just a matter of creating a new axes object through every loop,  e.g.

[code]

[2019-03-22 18:12] rebeccabilbro opened #790 "Remove `numba` test dependency once v0.43 bug is resolved"
An [update to `numba`](https://numba.pydata.org/numba-doc/dev/release-notes.html#version-0-43-0) was causing strange [errors](https://github.com/lmcinnes/umap/issues/209)  in the `umap-learn` library. Since our `UMAPVisualizer` depends on `umap-learn`, we observed the errors in a series of persistent Travis CI failures to the `UMAPVisualizer` tests.

By way of a temporary fix, in #780 I pegged our

[2019-03-22 20:06] #684 closed

[2019-03-24 20:30] naresh-bachwani commented on #507
Hello @ndanielsen and @rebeccabilbro ,
I have been working on this issue for past few days and have got some satisfying results. However, I had some questions related to the project. I would be grateful if you could help me through this.
I have attached my results with two Classes (RadViz and Rank1d). Let me know if some changes are to be made.
[New folder (2).zip](https://github.com/DistrictDataL

[2019-03-24 21:17] naresh-bachwani opened #793 "RadViz does not plot when transform is called"
**Describe the bug**
I wanted to fit the model on the dataset and obtain its plot by using transform function on their subset. While working with RadViz, I found that it plots the graph when fit method is called. However, it should plot the output, when the transform method is implemented as described in the domentation. Moreover, I did not get the desired result (i.e. plotting) when transform met

[2019-03-24 21:34] lwgray commented on #507
@naresh-bachwani. Thank you for this message.  Yellowbrick has been on hiatus and just now returning.  We will respond asap.  In the meanwhile i encourage you to open a PR.  Our contributing guide can be found here http://www.scikit-yb.org/en/latest/contributing.html

[2019-03-25 08:25] ansin218 commented on #789
Oh damn, that was silly of me. Nevertheless, thank you for pointing it out. The solution worked!

[2019-03-25 08:26] #789 closed

[2019-03-25 09:45] naresh-bachwani commented on #507
I am not sure about my solution and needed some insights regarding the code. I want to open a PR once I am sure about the solution.

[2019-03-25 12:52] percygautam opened #795 "PCA projections on biplot are not clear for datasets with large number of features"
**Problem**
The PCA projections visualized on a biplot are not clear, and various feature's projection can be seen to overlap with each other when working with a dataset with a large number of features. e.g. with credit dataset from yellowbrick.datasets
![bug1](https://user-images.githubusercontent.com/20489158/54920524-719ed980-4f29-11e9-9c8e-a64e1f1dc454.png)

This could be solved by considering

[2019-03-25 14:23] lwgray commented on #795
@percygautam thanks for opening this issue.  We are just returning from a hiatus and will address this after catching up on our backlog of PRs and Issues.

[2019-03-25 14:23] lwgray commented on #793
@naresh-bachwani  thanks for opening this issue.  We are just returning from a hiatus and will address this after catching up on our backlog of PRs and Issues.

[2019-03-25 17:43] percygautam commented on #784
I wanted to reproduce the problem you are facing, Can you specify the dataset you're working on?

[2019-03-25 17:53] ResidentMario commented on #397
FYI, the write-up is now published to the [Towards Data Science](https://towardsdatascience.com/evaluating-keras-neural-network-performance-using-yellowbrick-visualizations-ad65543f3174) mailer on Medium.

[2019-03-25 21:50] naresh-bachwani commented on #604
Hello @bbengfort ,
I was working on this issue for quite a few days and have built a class(beta version) for dealing with this issue. The output with is of the form:
![Screenshot (126)](https://user-images.githubusercontent.com/43993586/54956314-b2bcdb00-4f75-11e9-9e8c-191f5b99b161.png)

The code snippet looks like this
[code]
I wish to hear your reviews on this and any suggestion would be valuabl

[2019-03-26 00:18] lwgray commented on #604
@naresh-bachwani Thanks for commenting on this issue. We are just coming off a hiatus and it might take a bit to get to this but we will asap.  I encourage you to open a PR.  Our contributing guide can be found @ http://www.scikit-yb.org/en/latest/contributing.html

[2019-03-27 20:53] rebeccabilbro commented on #790
[This](https://twitter.com/numba_jit/status/1110883203252961280?refsrc=email&s=11&ref_src=twcamp%5Eshare%7Ctwsrc%5Eios%7Ctwgr%5Eemail)  might be relevant!

[2019-03-29 18:49] haleemason opened #797 "normalize ='minabs' not working for ParallelCoordinates"
**Describe the bug**
When using `visualizer = ParallelCoordinates(normalize ='minabs')` the normalize parameter  ='minabs' is not working.

**To Reproduce**

[code]

**Dataset**
Did you use a specific dataset to produce the bug? Where can we access it?
`python -m yellowbrick.download`
`X, y = load_occupancy()`

**Expected behavior**
I was expecting the visualizer plot to be normalized using the `m

[2019-03-30 11:11] naresh-bachwani commented on #604
I have been working with effect plots and PCA for some time. I have my GSoC'19 proposal ready and would like to have reviews and help from mentors. I have made a PR related to the proposal and the link for the PR is [this](https://github.com/DistrictDataLabs/yellowbrick/blob/8407b9f617aac199b59705bf909a14f076d8f266/GSoC_Proposal_2019/Proposal.pdf).

[2019-03-30 17:34] pswaldia commented on #797
Yellowbrick ParallelCoordinates do not have 'minabs' as an option for normalization. Mostly used Normalizing methods are 'min-max', 'maxabs' , 'l1' , 'l2' in practice.

P.S  MinAbsScaler() is not implemented in sklearn.preprocessing module.

[2019-03-31 02:53] haleemason commented on #797
Okay, cool. The documentation stated, "Several transformers are available; try using minmax, minabs, standard, l1, or l2 normalization to change perspectives in the parallel coordinates". I've updated the [documentation ](https://www.scikit-yb.org/en/latest/api/features/pcoords.html) to remove the recommendation to try `minabs` for ParallelCoordinates. I have submitted a PR for this "bug". Thanks

[2019-03-31 13:38] chiahsuy opened #801 "ValueError: too many values to unpack (expected 2) using load_occupancy()"
**Describe the bug**
A clear and concise description of what the bug is.
In feature analysis step, the error occurs around this statement "X, y = load_occupancy()"

"ValueError: too many values to unpack (expected 2)"

However, if only one variable is used on the left hand side of assign operator, the error won't occur. (e.g., "y = load_occupancy()")

**To Reproduce**

[code]

**Dataset**
Did you

[2019-03-31 13:47] #797 closed

[2019-03-31 14:29] haleemason commented on #801
Hi @chiahsuy, this happened to me recently and it was due to the fact that I had loaded in another dataset for X and y in a previous cell of the Jupyter Notebook. If you are running an ml-demo from the recent Skills Session, try going to the Kernel Tab and clicking "Restart kernel and clear output"  to see if that helps.

[2019-03-31 17:12] lwgray commented on #801
hi @chiahsuy,  we just returned from a hiatus and working our way through our backlog of issues and PRs.  Please know that we will get to this asap.

[2019-03-31 17:19] pdamodaran opened #802 "Occasionally there are issues with generating the gallery images due to Matplotlib crashing"
**Describe the bug**
Occasionally there are issues with generating the gallery images due to Matplotlib crashing.  The following is the error message:

``
Terminating app due to uncaught exception 'NSInvalidArgumentException'
``

**To Reproduce**

[code]

**Traceback**

[code]

**Desktop (please complete the following information):**
 - OS: macOS
 - Python Version 3.7
 - Yellowbrick Version [lates

[2019-03-31 23:50] nickpowersys opened #803 "Matplotlib warning triggered by scatter plot with x, y arrays of size>1 and 3-tuple for color"
**Example**

The Anscombe example subplots in anscombe.py are correctly generated but there is a warning from matplotlib (3.0.3). For context, the argument to the `c` parameter is a 3-tuple.

`'c' argument looks like a single numeric RGB or RGBA sequence, which should be avoided as value-mapping will have precedence in case its length matches with 'x' & 'y'.  Please use a 2-D array with a single r

[2019-04-01 00:11] lwgray commented on #803
@nickpowersys thanks for pointing this out.  We just came back from a haitus and still going through our backlog of issues and PRs.  We will respond more fully asap.  We definitely need to address this as We have several issues about color that are open.    #677

[2019-04-01 00:18] #741 closed

[2019-04-01 15:45] pswaldia opened #804 "Scree Plot for Pricipal Component Analysis"
**Describe the solution you'd like**
I would love to have a plot that shows the amount of variance explained by the prinicipal components. It can help to reduce the dimensionality of the features to the dimensions that explains the variance in the dataset the most.  It will help to find the optimal principal components without extensive searching.

**Examples**

![Screenshot 2019-04-01 at 21 09 36

[2019-04-01 18:46] lwgray commented on #804
@pawaldia Awesome suggestion!  We are catching up on issues and PRs since we just returned from a short hiatus.  We will respond properly asap.

[2019-04-02 21:22] saurabhdaalia commented on #365
Hi @bbengfort,

I  was hoping to get some clarification regarding the implementation of the visualizer. When we are showing the calibration curve using the reliability diagram, should only the true calibrated probabilities be plotted as a base or do we need to plot another model as base as well?
_As shown in the figure Logistic Regression is also used for compatibility._

[2019-04-02 21:28] saurabhdaalia commented on #365
Does it make sense, if we add something like this?
[code]
user can pass a base parameter which will be a secondray model for better comparability

[2019-04-03 16:43] lwgray commented on #365
Hi @saurabhdaalia Thanks for the questions and comments.  we are currently working through our backlog of PRs and Issues.  We will address this asap.

[2019-04-06 14:24] naresh-bachwani commented on #604
Hello @lwgray,
I have done some work regarding effect plot and wanted to open a PR. But I had a question! In which directory should  I put my effect plot file into?
According to me it should go in yellowbricks/features. Correct me if I am wrong!

[2019-04-06 14:50] bbengfort commented on #604
Hi @naresh-bachwani actually I propose that this plot should go into `yellowbrick/regressor/effect.py` and it should extend `RegressionScoreVisualizer`. I completely understand your point about the similarity of this to the `FeatureImportances` visualizer, however, my feeling is that this plot is more directly about the analysis and interpretation of a linear model and is coupled more deeply to th

[2019-04-06 15:05] bbengfort commented on #604
@naresh-bachwani I'm slowly getting back involved with PRs and issues - I noticed that you currently have two PRs open, #806 and #807; I really appreciate your enthusiasm and desire to contribute to YB - but perhaps we could focus on getting those shipped before opening a new PR for effect plots?

[2019-04-07 02:36] rebeccabilbro commented on #801
Hi there @chiahsuy &mdash; just checking to see if @haleemason's solution worked for you? If so we can go ahead and close this issue. Thanks for coming to the skills session at UVA and for checking out Yellowbrick!

[2019-04-07 15:59] Yogayu commented on #498
Dear Mentor @bbengfort ,

I am very interested in this Project for `GSoC2019`. So I spend two days to understand the core concept of yellowbrick and the struct of the `yellowbrick` library. However, there is something confusing to me about this idea, so if you can discuss with me, it will greatly help.

## Brief Introduce
First of all, I would like to introduce my understanding of the project. Sin

[2019-04-07 17:43] Kautumn06 commented on #793
Hi @naresh-bachwani, thank you for your patience as we catchup with our backlog of PRs and Issues! So that I can help you with this, can you please also share with me the code you used to load the bikeshare dataset? Thanks!

[2019-04-07 19:08] saurabhdaalia commented on #764
Hi @bbengfort,
Can I work on this issue?
Just a clarification, when you say optionally, does that mean giving the user option to get annotated "best k" by passing a parameter to `KElbowVisualizer` ?

[2019-04-07 20:19] naresh-bachwani commented on #793
Hi @Kautumn06, the dataset is used just as an example and not to obtain some explicit results. I was working with bikeshare and used one of its categorical columns to produce the output. We can use occupancy or any other dataset.
I was working on issue #507 related to the animation of feature visualizer and noticed that all feature visualizer except RadViz produce an output when transform is calle

[2019-04-07 20:50] naresh-bachwani commented on #604
Hello @bbengfort,
Thank you for the guidance and clearing the doubts. I have completed  building a simple base class for effect plot and we can work through hyperparameter setup on GITHUBgist once my two PRs get shipped!

[2019-04-08 12:38] Yogayu commented on #498
Respected Mentors @rebeccabilbro @bbengfort @lwgray @ndanielsen @pdamodaran @wagner2010,
Sorry to bother again. Is there anyone who can help me with this problem? There is little time left for GSoC Proposal to be submitted.

[2019-04-08 14:51] wagner2010 commented on #498
Hi @yogayu wow this is great!  Thanks so much for your work here in such a short period of time.  I also did see your posts on the Google group which I will be responding to shortly.  Because, as you mentioned, time is running short and because we’re not available to respond in detail please go ahead and incorporate this into your proposal and submit it.  We believe you’re on the right track for a

[2019-04-08 16:07] Yogayu commented on #498
@wagner2010 I understand. Thank you.

[2019-04-08 17:26] Yogayu commented on #691
Dear Mentors  @rebeccabilbro @bbengfort @lwgray @ndanielsen @pdamodaran @wagner2010,

I plan to work on ["Allow ModelVisualizor to wrap pipeline objects"](https://github.com/DistrictDataLabs/yellowbrick/issues/498) and this idea for GSoC. So, I'd like to describe how I am going to do this.

Idea: write blog posts about Data Science (including EDA and ML) by highlighting the usage of Yellowbrick.

[2019-04-08 23:51] #590 closed

[2019-04-09 19:42] jimmyshah commented on #437
Hi! I wanted to work on the frameon feature? Is that still up for grabs?

[2019-04-09 19:47] lwgray commented on #437
hi @jimmyshah Thanks for your intrest in contributing to yellowbrick.  however we rarely assign issues.  But, You are more that welcome to open a PR for this addition.  I look forward to seeing you contributing.

[2019-04-09 20:03] jimmyshah commented on #437
Thank you for the quick response! Sounds good to me, I'm excited to contribute!

[2019-04-12 13:25] bbengfort commented on #226
@navarretedaniel this is wonderful! I love it and I hope you will provide it to both the Summer and Fall cohorts in Visual Analytics!

I think that @pdamodaran's feedback is spot on. Since you're a TA, perhaps it would be easiest to focus on students of the data science program to be the primary audience?

Stylistically, I'm happy to get you some of the YB assets and logos if you'd like to use the

[2019-04-12 14:20] navarretedaniel commented on #226
Thank you @pdamodaran and @bbengfort for the feedback.

I'll look into both Google Draw and draw.io.  Feel free to link to the preferred YB assets/logos/palette (either here or via Slack).

I'll also work with @lwgray to brainstorm the first version ahead of PyCon.

[2019-04-12 14:26] bbengfort commented on #749
@ajaysub110 thanks for being so patient with us. I will take a look at this later tonight or this weekend! Hopefully, I can figure out a solution to `make_axes_locateable` - but if not, then we do actually have a grid visualizer -- which is actually driving the `make_axes_locateable` requirement; worst case scenario, we will have to treat this as a visualization of visualizations on a grid, rather

[2019-04-12 14:32] bbengfort commented on #226
Perhaps you could work with @mchestnut91 as well!

[2019-04-12 14:34] bbengfort commented on #226
The palette is here: https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/style/palettes.py#L57

[2019-04-12 20:42] mchestnut91 commented on #226
Hey @navarretedaniel, happy to connect whenever you are able to discuss how I can help as well!

[2019-04-14 14:55] #589 closed

[2019-04-14 22:56] jimmyshah commented on #437
Hello again! I was interested in working on the n_neighbors attribute issue, is that one still available?

[2019-04-14 23:02] lwgray commented on #437
hi @jimmyshah Let me again Thank you for your  last contribution to yellowbrick. In regard to your currest ask, we rarely assign issues.  But, You are more that welcome to open a PR for this addition. I look forward to seeing your next contribution.

[2019-04-14 23:04] rebeccabilbro commented on #437
Hey there @jimmyshah and welcome back! The maintainers don't generally assign issues to contributors (we're only 5-6 people so that would be a bit too much management overhead for us), so the best strategy is to check if there's already an [open PR addressing the issue](https://github.com/DistrictDataLabs/yellowbrick/pulls) (which in this case, there isn't... yet! 😉) Look forward to seeing your ne

[2019-04-14 23:10] rebeccabilbro commented on #801
Hello again @chiahsuy &mdash; I'm hoping we haven't heard back because @haleemason's solution worked great for you and now you're blazing ahead with your exploration of Yellowbrick! 😄  I'm going to go ahead and close this issue, but if your issues persist feel free to reopen! Thanks again!

[2019-04-14 23:10] #801 closed

[2019-04-14 23:17] rebeccabilbro commented on #785
Bon retour @jeromemassot! Would you mind sharing the notebook you were working in when you experienced the problem? Unfortunately the information you've provided so far has not been enough for us to replicate it.

I'm guessing the answer isn't as simple as you not calling `poof` 😉, but if you could share the full code, that would be a great help!

Also, could you please provide more detail about w

[2019-04-15 00:39] rebeccabilbro commented on #784
Bonjour @jeromemassot and apologies that you were having trouble with the [Intercluster Distance Map Visualizer](https://www.scikit-yb.org/en/develop/api/cluster/icdm.html#intercluster-distance-maps)! We would like to help, but unfortunately the information you have provided thus far is not sufficient for us to replicate or diagnose the error you are experiencing.

It would be most helpful if you

[2019-04-15 00:42] rebeccabilbro commented on #697
Bump @aronszanto! Any interest in submitting a PR to fix the bug? We're a pretty small team over here and would be most appreciative!

[2019-04-15 00:44] rebeccabilbro commented on #650
@JohannesBuchner @bbengfort &mdash; can this issue be closed?

[2019-04-15 00:46] jimmyshah commented on #437
Thank you for the assistance @rebeccabilbro and @lwgray, I'm happy to contribute! I'll make a PR request shortly, after I've had a chance to make some code changes 🙂

[2019-04-16 15:02] aronszanto commented on #697
Hey all, thanks for bumping. I discovered this and then wrote a fix for my company, which means that whether I can open source it is up to the lawyers. Working on this :)

[2019-04-16 18:10] bbengfort commented on #697
@aronszanto glad to hear that you're using Yellowbrick in your work! Do you mind if I ask where you work? (We're just interested in how our users are using the library). Feel free to send me a DM on twitter ([@bbengfort](https://twitter.com/bbengfort)) if you want to chat about it!

If we can be of any help with your company lawyers, please let us know! Yellowbrick is licensed under a permissive [

[2019-04-17 12:11] bbengfort commented on #749
@ajaysub110 I've been playing around with this and I think we may need to get some outside support to answer this question. Please see [this small writeup](https://github.com/DistrictDataLabs/yellowbrick/blob/53dba52da421884eb178aa85c6e47560c3272190/docs/api/figures.rst) for my overall thoughts and the questions that we will have to pose to move forward on this visualizer.

Do you have any comment

[2019-04-18 14:24] bbengfort commented on #744
This issue is occurring again, this time with the `Previous Visual Studio 2017` image.

[2019-04-18 14:48] bbengfort commented on #744
Reverting to the default image, Visual Studio 2017, did not work the error still occurs.

Build:
https://ci.appveyor.com/project/districtdatalabs/yellowbrick/builds/23948948/job/9dct318qikbot98h

[2019-04-18 14:56] bbengfort commented on #443
@ResidentMario ok, thank you for letting us know -- that's too bad that the dataset was removed. If you do any other notebooks with YB please let us know! @ndanielsen because this issue is now a year old and because the datasets have been deleted I propose that we close it. Let me know if you'd prefer to leave it open.

[2019-04-18 14:56] #443 closed

[2019-04-18 15:17] bbengfort commented on #793
@naresh-bachwani thank you for bringing this up. In order to investigate this, we'll need to remind ourselves of the API for feature visualizers, so I've labeled the issue as technical debt. In the meantime, I'll say that the most common way we use the feature visualizers is through `fit_transform` rather than either `fit` or `transform`. Obviously, we don't want to have our API behave strangely -

[2019-04-18 15:20] bbengfort commented on #397
@ResidentMario such a great write up - thank you so much! We would be certainly interested in a contrib model for Keras if you ever want to pursue it!

[2019-04-18 15:22] bbengfort commented on #744
Even more bad news, the previous solution, reverting to Previous Visual Studio 2017 also did not work.

Build:
https://ci.appveyor.com/project/districtdatalabs/yellowbrick/builds/23949638

[2019-04-18 22:19] JaimieMurdock commented on #744
Having the same issue in another project :/

[2019-04-19 03:26] #500 closed

[2019-04-19 12:40] bbengfort commented on #744
@JaimieMurdock sorry to hear that - which project?

Perhaps if you post a comment on the [issue we opened on AppVeyor](https://help.appveyor.com/discussions/problems/20308-importerror-dll-load-failed-the-specified-module-could-not-be-found) -- it will help alert them more to the problem? Their previous solution, revert to the "Previous Visual Studio 2015" image is now also broken, and unfortunatel

[2019-04-20 13:03] naresh-bachwani commented on #793
I raised this issue only to highlight this bug in the API. As far as #507 is concerned I will try using fit transform method. Thanks for help!!

[2019-04-22 16:46] #764 closed

[2019-04-22 21:09] rebeccabilbro commented on #784
Hi @jeromemassot &mdash; I'm hoping the staleness of the thread means that you found a resolution to the problem and are blazing ahead! 😄 If so, feel free to chime back in with the fix in case another YB user experiences it in the future. Since it's gone a bit quiet here and we're missing some key details, I'm going to go ahead and close this issue for now. However, if you find that the problem is

[2019-04-22 21:09] #784 closed

[2019-04-22 21:11] rebeccabilbro commented on #785
Hi again @jeromemassot &mdash; hoping that you found a resolution to the problem and have already moved on! If so, feel free to chime back in 💁‍♂️ with the fix 🔧 in case another YB user experiences the same thing in the future.  Since it's gone a bit quiet here and we're missing some key details, I'm going to go ahead and close this issue for now. However, if you find that the problem is persistin

[2019-04-22 21:11] #785 closed

[2019-04-24 20:19] bbengfort opened #826 "API Discussion for Figures and Axes"
This issue is to discuss the open letter regarding Yellowbrick's API roadmap. To summarize, we currently attempt to only manage matplotlib `Axes` objects so that visualizers can be embedded into more complex plots and reports. However, many of our visualizers are getting increasingly complex, requiring subplots of their own. For a complete discussion of the API issue please see:

https://www.sciki

[2019-04-26 03:27] tacaswell opened #828 "Add yellowbrick blurb and link to Matplotlib docs"
Please add your self to: https://matplotlib.org/thirdpartypackages/index.html / https://github.com/matplotlib/matplotlib/blob/master/doc/thirdpartypackages/index.rst

[2019-04-26 03:28] tacaswell commented on #826
This is going to be a bit of a rambling answer (sorry).

This is a sticky API problem (that gets worse if you want to think about how to return "artists" that span multiple `Axes` (I want to change the color of / data in the residuals plot, I need one to be able to grab all of the parts of it) ).

:100: agree with this.

AxesGrid is not going anywhere and there is currently on going work to docume

[2019-04-26 04:13] jklymak commented on #826
Note that gridspecs can be nested, so your "axes" vis can still have multiple subplots inside it while participating in a larger axes layout in a figure.  The nesting can be as many levels as you like:

https://matplotlib.org/gallery/subplots_axes_and_figures/gridspec_nested.html#sphx-glr-gallery-subplots-axes-and-figures-gridspec-nested-py

[2019-04-26 13:35] bbengfort commented on #828
@tacaswell done: https://github.com/matplotlib/matplotlib/pull/14051; thank you!

[2019-04-26 13:35] #828 closed

[2019-04-26 13:47] bbengfort commented on #826
@tacaswell and @jklymak thank you so much for your responses - very helpful information! Based on this I think that we would be happy to continue down the path of using `AxesGrid` and thinking of visualizers as being part of a larger figure. Also very happy to hear there is more documentation on the way, and if we can be of any assistance please let us know!

I will also consider the compatibility

[2019-04-26 13:58] jklymak commented on #826
AxesGrid is not compatible with either tight_layout or constrained_layout so that is another drawback.  I would tend to avoid its use unless very necessary. The only use case that I know that it is crucial for is when you want axes with equal aspect ratios to be close to each other on a figure that is too wide or too high.  Other layout managers tend to spread the axes whereas axes grid puts the b

[2019-04-30 15:03] nickpowersys commented on #690
With matplotlib 3.0.3 on Windows, the backend tests pass for me when specifying backend as 'agg'. See PR #823. A small number of image comparison tests need to be resolved.

With matplotlib 3.0.3 on Ubuntu 16.04, even if no changes are made to the backend, the backend tests pass. A larger set of image comparison tests fail with conda packages installed on Ubuntu than on Windows, but all tests pass

[2019-04-30 15:30] tacaswell commented on #690
I suspect that the issue is the version of freetype (which renders the text) varying between platforms / installations.

[2019-05-01 10:25] rebeccabilbro commented on #353
Closing in favor of #687 &mdash; which is very close to done! 😄

[2019-05-01 10:25] #353 closed

[2019-05-01 10:30] rebeccabilbro commented on #318
@bbengfort potentially we could close this in favor of #456 and #682?

[2019-05-01 13:41] bbengfort commented on #318
@rebeccabilbro thanks for grooming the backlog of issues! Although #456 and #682 are closely related to this issue, I think this is an independent task from those and there are several gotchas that this issue records (e.g. TestThing vs ThingTests). The good news is that in the PRs since this issue we've added no new unittest dependencies and have replaced some of the old dependencies with PyTest.

[2019-05-01 13:48] rebeccabilbro commented on #318
Gotcha @bbengfort, I’ll add to the v1.0 milestone in that case.

[2019-05-02 02:10] amueller opened #829 "Using multiple classifier visualizers"
I feel like I'm still missing something wrt the interface.
It looks like PrecisionRecallCurve and ROCAUC fit the model before plotting, and the convenience function does so as well.
How would I plot both of them for a given classifier?

Thanks!

[2019-05-03 13:46] bbengfort commented on #829
This is still one of our primary pain points that we're trying to resolve (e.g. #297, #623, #498, visual pipelines, model reports, etc.) and we haven't quite figured it out yet, but this is absolutely on our radar to handle soon! Many of our visualizers do require access to the training data in order to make visualization decisions and we haven't had the opportunity to dive in depth into the `chec

[2019-05-03 17:13] amueller commented on #829
Thanks for your input. Can you say why the PrecisionRecallCurve needs access to ``fit``? I guess the current behavior is just not very coherent with my mental model of plotting. I don't see why you decided to include fitting into the plotting process in the first place. I'm trying to see if I can reuse some of yellowbrick for dabl but it seems easier to rewrite everything given the limitations of

[2019-05-03 17:16] amueller commented on #829
The interface I would use for any plotting function would be ``fitted_estimator, X_val, y_val``. The main use-case I care about it not so much computing multiple metrics (though that's an important one), it's just plotting anything on a fitted estimator. I don't see why you would decide on the visualization before the fitting, or why you would decide to use a single visualizer.

[2019-05-03 18:02] amueller commented on #829
I think this can be closed as a duplicate of #297. Thanks!

[2019-05-03 18:02] #829 closed

[2019-05-03 18:04] amueller commented on #297
There's two easy ways to see if you need to fit. The more obvious and easier is to just call ``predict`` or ``predict_proba`` or whatever you need, and if a ``NotFittedError`` is thrown, you fit.

The second one is to check if any attribute with a trailing underscore exists. But there's really no reason why you should reimplement this logic, we have the ``NotFittedError`` exactly for this usecase.

[2019-05-03 19:19] rebeccabilbro commented on #297
Awesome, thanks @amueller &mdash; this will be super helpful for our roadmap planning (happening later this month). Stay tuned!

[2019-05-06 13:12] lschumm commented on #18
pycon 2019 here. taking a look at this...

[2019-05-06 14:18] mgarod commented on #516
I'm looking into parts of this issue for pycon sprints.

[2019-05-06 14:32] joeyzhang823 opened #831 "'conda envs' url in the documentation is invalid"
**Describe the issue**
In the 'Forking the Repository' session of the documents (http://www.scikit-yb.org/en/latest/quickstart.html), 'conda envs' points to an invalid link.

Please consider use this link instead: https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html

@DistrictDataLabs/team-oz-maintainers

[2019-05-06 15:03] vivienneinus commented on #515
Hi,
I found the dataset better for Elbow Method regarding the stretch goal - Find example dataset with clear elbow curve demonstration to use in documentation. The dataset is created with make_blobs of 500 points with 8 features and 4 centroids.
![images_calinski_harabaz](https://user-images.githubusercontent.com/46324391/57234377-7063d080-6fee-11e9-8310-4b532ee497d8.png)

[2019-05-06 16:26] #424 closed

[2019-05-06 16:58] GrahamStein commented on #515
Unless anyone is close to completion, I'm at Pycon 2019 Sprints and I'm going to take a look into adding in   @##inertia_.

[2019-05-06 18:25] chalmerlowe commented on #470
NOTE:
The suggestion above, to clean up the esthetics for the example notebooks by using this warning suppression code works, but **only** in some cases.

    import warnings
    warnings.filterwarnings('ignore')

The `matplotlib` warning described in this issue:  #803 is not suppressed by this snippet. Nor is it suppressed if you use any of these arguments in place of `ignore`:
`"error", "ignore"

[2019-05-06 18:32] lschumm opened #835 "Add Random Forest Visualization"
Random forests are one of the most powerful, yet understandable machine learning algorithms, since it's a pretty simple decision graph with sets of human-understandable rules at each step.

I found [this article](https://towardsdatascience.com/how-to-visualize-a-decision-tree-from-a-random-forest-in-python-using-scikit-learn-38ad2d75f21c) detailing how to create a `graphviz` visualization from a s

[2019-05-06 19:03] pdamodaran commented on #835
@lschumm - as we discussed, this was addressed in: https://github.com/DistrictDataLabs/yellowbrick/issues/145

[2019-05-06 19:03] #835 closed

[2019-05-06 19:47] mgarod commented on #516
Update: Color customization PR: https://github.com/DistrictDataLabs/yellowbrick/pull/837

[2019-05-06 20:13] mgarod commented on #516
Ran into a problem with tests on the color customization PR. https://github.com/DistrictDataLabs/yellowbrick/pull/837#issuecomment-489758466

Is the codebase moving away from `palette.py` and towards `colors.py`?

[2019-05-06 20:53] chalmerlowe commented on #470
Unless someone else is gonna dive into this, I plan on cleaning up the example notebooks:

* break up some of the examples from the main example.ipynb in a manner similar to @Kautumn06's breakup of examples into separate notebooks.
* gonna start on pulling out the text visualizer example.

[2019-05-07 13:48] lschumm commented on #804
[code]

[2019-05-07 13:53] lschumm commented on #804
I've done a mockup of some code to make this style of Scree plot:

[code]

![An example Scree plot](https://user-images.githubusercontent.com/15222678/57304707-d4999980-70ad-11e9-89d8-b70c2c836ebe.png)

[2019-05-07 14:01] mgarod commented on #516
Highlighting an issue raised with @lwgray for PR #833 moving labels to y-axis, copied from that PR:

The tests do not show axis labels currently:
![current_test_image](https://raw.githubusercontent.com/DistrictDataLabs/yellowbrick/develop/tests/baseline_images/test_cluster/test_silhouette/test_integrated_kmeans_silhouette.png)

These changes make the test image appear to have removed the cluster l

[2019-05-07 14:12] pdamodaran commented on #804
@lschumm - fyi - we have a visualizer to do this - it can be found here:

https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/features/decomposition.py

[2019-05-07 14:20] yanigisawa commented on #435
Are there additional tests / algorithms expected here beyond the Kendal-Tau metric added above?

[2019-05-07 14:25] lschumm commented on #804
In that case, we ought to close this issue @pdamodaran

[2019-05-07 15:35] mgarod commented on #516
Update: PR to add legend describing red dashed line #839

[2019-05-07 16:32] amueller commented on #826
@jklymak can you elaborate on these limitations? GridSpec works with both of these, though, right?
There's two things I want from an interface:

- being able to control a set of axes (say changing the markers on a 5x5 grid of scatterplots, and having a single legend for them).
- putting something within existing axes. Say I have a plot that consists of 3 axes objects. Someone wants to put that int

[2019-05-07 17:11] joeyzhang823 commented on #30
I am working on this issue and finished adding exponential, will add log soon. I will make a pull request later this week

[2019-05-07 17:13] jklymak commented on #826
Yes, `GridSpec` works with both `tight_layout` and `constrained_layout`

The reason `axes_grid1` doesn't work with these managers is because the location of plot elements is not determined until draw time.  Sometimes that works OK, but its not guaranteed to work.

I don't see anything in your list of requirements that would require `axes_grid1`.  Again, the use case where it really shines is repla

[2019-05-07 19:44] NancySin opened #841 "Explain NLTK once before using it in this form."
**Describe the issue**

Under "Note"  bar in Quick Start, please spell out what or hover effect over "NLTK" to let newbies know what it stands for. Thanks.

[2019-05-07 19:49] longtimethemanxomefoe opened #842 "Spanish Language Translation"
Your website says that one of the contributions you are looking for is "Translate our documentation into another language." I can translate from English to Spanish. Which section of the documentation would be the best to begin translating.

@DistrictDataLabs/team-oz-maintainers

[2019-05-07 19:49] brl1906 opened #843 "Make minor changes to documentation (tutorial & contributing) to improve readability and or grammar."
**Describe the issue**
A clear and concise description of what the issue is.

@DistrictDataLabs/team-oz-maintainers
I am proposing the changes to:
* yellowbrick/docs/tutorial.rst in the 'Model Selection Triple' & 'Feature Extraction' sections.
* yellowbrick/docs/contributing/getting_started.rst in the 'Forking the Repository' section.
* yellowbrick/docs/contributing/developing_visualizers.rst in t

[2019-05-08 22:06] joelostblom commented on #734
Thanks for looking into this! It would be great if it could be handled the same way as in seaborn, where users have to call `seaborn.set()` to explicitly modify the global matplotlib rc params. In my limited testing, neither `reset_defaults()` or `reset_origin()` successfully reset the styles to the same as when launching a notebook the first time (tested in JupyterLab only, not classic).

[2019-05-10 02:16] Kautumn06 commented on #470
Thank you @chalmerlowe for coming to our sprint and for helping us with this issue! I'll take a look at this tonight since I really want to make sure that our examples notebook are up-to-date and helpful for new Yelllowbrick users. Thanks again for jumping in and helping us make progress on this issue!

[2019-05-11 02:30] chalmerlowe commented on #470
@Kautumn06
I would say that the primary issue is:
* from my novice outsider perspective, it does not appear that the TSNEVisualizer is feature complete (ie. it doesn't include documentation on the use of `classes` NOR does it appear to correctly handle the situation where `labels` OR `classes` OR **both** are provided. There appears to be some code to try to handle this situation, but a cursory ex

[2019-05-11 13:04] lwgray commented on #435
@yanigisawa Thanks for the comment. However, The Kendall-tau metric was already added in PR #645

[2019-05-11 17:32] lwgray commented on #30
@joeyzhang823 Thanks for looking at this...looking forward to your PR.

[2019-05-11 17:53] lwgray commented on #515
@GrahamStein were you still interested in tackling this issue?

[2019-05-13 23:38] Kautumn06 commented on #470
Hi @chalmerlowe, I think you may find it helpful to refer to the development version of our [documentation](https://www.scikit-yb.org/en/develop/api/text/tsne.html), since we've updated the sample code in our docs since our last release. The `TSNEVisualizer` example you mentioned had confused others as well, since `labels` actually stores `y` (the target), not the labels (which the fit method can

[2019-05-14 00:15] bbengfort commented on #690
@tacaswell thank you for the note, it looks like [your solution](https://matplotlib.org/devel/contributing.html#building-matplotlib-for-image-comparison-tests) to this was to build a special version of matplotlib with a local freetype. Any chance there is a reference build to that hosted on a package index that we could use as a dependency for testing only?

[2019-05-14 00:55] tacaswell commented on #690
There are packages on conda-forge for this purpose.

We obviously build Matplotlib from source as part of our tests so this is not something we have worried about.

@dopplershift and @qulogic may have more useful comments here.

[2019-05-14 03:19] GrahamStein commented on #515
I have it done, just need to clean it up a bit. Sadly I'm booked out
working on life/house stuff for the remainder of the week.

On Sat, May 11, 2019 at 1:53 PM Larry Gray <notifications@github.com> wrote:

[2019-05-14 14:03] dopplershift commented on #690
You can install the testing version from conda-forge with `conda install -c conda-forge/label/testing matplotlib`. Looks like the latest we have there right now, though, is 3.0.2

[2019-05-14 14:07] bbengfort commented on #690
@dopplershift and @tacaswell awesome, thank you -- we'll give that a try!

[2019-05-16 01:54] ndanielsen commented on #423
I'm actively working on this in this branch.

https://github.com/DistrictDataLabs/yellowbrick/tree/add-windows-tolerance

[2019-05-16 14:16] lwgray opened #849 "Change ordering in which opening a PR is suggested in the Contributing Guide in Docs"
We would like to change the ordering of the steps in the contributing guide.  Currently,  we have the contributors opening a PR immediately, meaning prior to adding any significant code to the PR.

This has lead us to coaching people on how to solve issues instead of reviewing  a somewhat functional PR.  I suggest reordering of the contributing steps so that the opening of the PR is after doing so

[2019-05-16 14:22] lwgray opened #850 "Remove references to Waffle.io in docs"
Waffle.io shutdowns today.  We need to remove any reference to it in our docs.

@DistrictDataLabs/team-oz-maintainers

[2019-05-16 16:38] ndanielsen commented on #849
Thanks for opening this issue.

As mentioned the other night, I recommend in the docs to direct folks to make contributions of new visualizers and related tooling to the `contrib` folder.

This is a great place to incubate and development these additions to the project until they are ready to be hoisted into the main package.

@lwgray

[2019-05-16 16:39] ndanielsen commented on #841
@NancySin thanks for creating this issue. We strive to have great documentation.

[2019-05-17 16:45] ndanielsen opened #852 "Add Jupyter Notebook Widgets"
This is an initial issue to track and research incorporating interactive Jupyter Notebook widgets into yellowbrick.

Likely any outputs from this would be well placed in the `contrib` module

A few potentially bad use cases:

- Feature analysis one or many categories
- Quickly save image
- Change color palettes

There are already a couple existing libraries that some Yellowbrick visualizers could

[2019-05-17 22:04] tirthajyoti opened #853 "Add Q-Q plot to the yellowbrick.regressor.residuals class"
You already have a histogram feature for the `ResidulaPlot` method.
It will be immensely helpful to add a standard normality check method to the parent `yellowbrick.regressor.residuals` class like Q-Q plot.

Your functional interface is gearing up to be similar to statistical languages like **R** where you can throw the fitted model inside a function to generate more insight - mostly a visualizati

[2019-05-17 22:15] lwgray commented on #853
@tirthajyoti Thanks for opening this issue.  This is an excellent suggestion.  If this is something you would like to work on then you could signup as a core-contributor during our fall semester and begin working on it then.   https://forms.gle/NT3inRQhaV278kf96

[2019-05-17 23:11] tirthajyoti commented on #853
I will see what I can do. Is it OK if I use a [`SciPy` method](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.probplot.html) for this to keep the code compact and fast?

[2019-05-18 00:21] lwgray commented on #853
@tirthajyoti We definitely use scipy methods... for instance https://github.com/DistrictDataLabs/yellowbrick/blob/76b2f8854a44dde534609b9545d8215d43c6555b/yellowbrick/features/rankd.py#L21

I hope to see you this Fall

[2019-05-20 22:35] #849 closed

[2019-05-20 22:35] #841 closed

[2019-05-20 22:35] #850 closed

[2019-05-21 02:46] #543 closed

[2019-05-21 15:37] jaydee829 commented on #188
This hasn't been closed so I thought I would add a workaround to this 2-year old issue. If you directly access the visualizer axes, you can call tick_params as follows:

`visualizer.ax.tick_params(axis='x', labelrotation=90.)`

Here is the output on 110 features ;-)
![xtick_rotation](https://user-images.githubusercontent.com/42184471/58110068-cc1c8500-7bbc-11e9-8e06-9157831a6fae.png)

[2019-05-21 18:39] mgarod opened #855 "resolve_colors() needs a way to be able to pull colormaps from PALETTES"
The func `resolve_colors()` in https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/style/colors.py does not have any way to use colors defined in https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/style/palettes.py

See conversation here for some background https://github.com/DistrictDataLabs/yellowbrick/pull/837#discussion_r283103118

[2019-05-21 19:08] bbengfort commented on #188
@jaydee829 great workaround thank you for sharing!

[2019-05-21 19:54] mgarod commented on #516
Bullet point `Add a legend/annotation that describes the average clustering coefficient (e.g. label the red axvline)` has been addressed with #839 merged

[2019-05-21 21:06] naresh-bachwani opened #856 "PosTag does not sort xticklabels in frequency mode"
**Describe the bug**
I noticed a strange behavior while working with PosTag visualizer. When in frequency mode it does sort the bars but the x tick labels remain in the initial order.
![Screenshot (17)](https://user-images.githubusercontent.com/43993586/58130671-3e7f7a80-7c3a-11e9-977f-1209dd4d9ca1.png)

**To Reproduce**

[code]
where load_corpus is the function from yellowbrick contributing [sect

[2019-05-21 21:23] bbengfort commented on #856
This will likely be fixed in #847 - thanks @naresh-bachwani!

[2019-05-22 01:15] bbengfort opened #857 "Updates to DESCRIPTION.rst"
The `DESCRIPTION.rst` file in the root of our project directory is the file that determines what is displayed on both PyPI and Anaconda Cloud. This file could use some love as a result (both in terms of content and grammar).

Additionally, if PyPI supports it, it would be better to have this file as Markdown rather than reStructuredText because Anaconda Cloud requires Markdown and right now we hav

[2019-05-22 01:24] bbengfort commented on #507
@naresh-bachwani perhaps we can explore this toward the end of the summer together. Also @ndanielsen may be interested in this.

[2019-05-22 02:03] rebeccabilbro commented on #802
This is great @pdamodaran! I'm going to go ahead and archive this issue so that anyone else who encounters the same problem will find your workaround!

[2019-05-22 02:03] #802 closed

[2019-05-22 08:40] naresh-bachwani commented on #507
I would like to have this feature in the yb library! It will be good to have @ndanielsen with us.

[2019-05-22 15:50] ndanielsen commented on #423
Related to PR #823 and issues #744 #690

[2019-05-22 15:57] ndanielsen commented on #507
@naresh-bachwani I am closely paying attention to this issue. I'll circle back on this issue and hopefully contribute a bit when some of the testsuite issues are resolved.

Keep up the good work on this :1st_place_medal:

[2019-05-22 17:56] bbengfort commented on #315
I believe this was fixed in #522 - closing!

[2019-05-22 17:56] #315 closed

[2019-05-22 21:29] lwgray commented on #365
@saurabhdaalia I am assigning this issue to you

[2019-05-23 18:09] amueller commented on #826
this seems also relevant: https://github.com/matplotlib/grid-strategy

[2019-05-24 17:45] kumar781 opened #860 ""no module named yellowbrick" error displaying in my jupyter notebook"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

**Dataset**
Did you use a specific dataset to produce the bug? Where can we access it?

**Expected behavior**
A clear and concise description of what you expected to happen.

**Traceback**

[code]

**Desktop (please complete the following information):**
 - OS: [e.g. macOS]
 - Python Version [e.g. 2

[2019-05-24 17:51] kumar781 commented on #205
cant use the library as it is displaying an error" no module named yellowbrick" despite installation through pip or even conda.

[2019-05-24 18:13] rebeccabilbro commented on #860
Hi there @kumar781 and thanks for checking out Yellowbrick! I'm sorry you're experiencing challenges with your installation, but unfortunately your issue does not provide us with any of the information we need to help you figure out what has gone wrong. We would need to know, at a minimum:

- what is your operating system?
- what is your Python version?
- what Yellowbrick version do you have insta

[2019-05-24 18:25] rebeccabilbro commented on #205
Hi again @kumar781 sorry you're having trouble; as noted in my response to you in #860 we would need more information about your installation and set-up to help you. If you continue to experience challenges with your installation, feel free to respond there with the details we requested!

[2019-05-24 19:49] saurabhdaalia commented on #365
@lwgray , Thank you. Going to start working on it, ASAP

[2019-05-24 21:20] rebeccabilbro commented on #826
Indeed! Thanks @amueller!

[2019-05-25 16:58] jaydee829 opened #861 "Additional support for label encoders"
ConfusionMatrix already supports passing 'label_encoder' as an argument, but many of the other classification visualizers do not. I suggest that the feature to support an encoder be added to these other methods.

In particular, I was trying to use ClassPredictionError but noted it did not support this feature. I think it would be almost a copy/paste of lines 163-170 in confusion_matrix.py into cla

[2019-05-25 17:20] jaydee829 commented on #861
Nevermind, ClassPredictionError functions as intended, user error

[2019-05-25 17:20] #861 closed

[2019-05-26 13:16] rjalexa opened #863 "ImportError: cannot import name '_print_elapsed_time'"
I am copying the  def visual_model_selection(X, y, estimator) sample into a Jupiter lab notebook and get the error as in the title:

ImportError: cannot import name '_print_elapsed_time'

I have the following imports before it:
[code]

**Desktop (please complete the following information):**
 - OS: MacOS 10.12.6
 - Python Version: Python 3.6.8 :: Anaconda custom (64-bit)

iMac:~ bob$ pip3 install

[2019-05-26 13:22] rjalexa commented on #863
Sorry I am confused the error just went away without myself understanding why it came and why it went :(

[2019-05-26 13:22] #863 closed

[2019-05-27 17:09] edublancas commented on #506
Hi there,

@bbengfort mistune is just a python library to convert markdown to html

I recently started working on sklearn-evaluation again, I am still brainstorming ideas on which is the best API for generating reports. I re-factored the old code (which was kind of messy) with a new workflow, there is not much documentation yet but I'll briefly explain the logic:

Reports are now generated here: h

[2019-05-27 17:31] bbengfort commented on #861
@jaydee829 glad you figured it out!

[2019-05-27 19:01] rebeccabilbro commented on #860
Hi again @kumar781 &dash; hope this means you were able to resolve your installation challenges! Because every combination of operating system, Python distribution, yellowbrick version and other dependencies are rather unique, I’m sure you can appreciate that it’s tough for us to guess what’s gone wrong on your end with out being able to dig into your setup. Like I mentioned, the most likely thing

[2019-05-27 19:01] #860 closed

[2019-05-27 20:08] ndanielsen commented on #863
@rjalexa Thanks for checking out yellowbrick. Sorry to hear that an error popped up but then seemed to resolve itself - which I'm happy to hear.

Thank you for your detailed write up. It is very helpful to track these types of issues where it can potentially be happening to other uses.

Thanks again!

[2019-05-28 14:27] lwgray commented on #525
@zjpoh thank you for submitting this feature request.

[2019-05-29 20:25] nickpowersys opened #868 "CI Tests fail due to NLTK download first byte timeout"
**NLTK Downloader**

Here is a sample of an NLTK download in progress:

[nltk_data]    |     C:\Users\appveyor\AppData\Roaming\nltk_data...
[nltk_data]    |   Unzipping corpora\twitter_samples.zip.
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\appveyor\AppData\Roaming\nltk_data...
[nltk_data]    | Error downloading 'omw' from
[nltk_data]    |     <https://raw.githubuser

[2019-05-31 14:12] PandaBoi commented on #30
Hey!
I am new to open source contribution and would like to know more about how I can start off with it for this organization, could anyone help me out with some guidance? Would like to know how issues are assigned as well. Thanks!!

[2019-05-31 21:58] lwgray commented on #30
Hi @PandaBoi

Thanks for reaching out to us.  We are excited that you would like to contribute to open-source projects like Yellowbrick.  However, the way that Yellowbrick is structured (we divide our development year into three  4-month semesters) we send out a call for core-contributors(person wanting to contribute to yellowbrick) at the beginning of each semester.  We are already in the summer

[2019-05-31 22:04] lwgray commented on #365
@saurabhdaalia how's it going?  Can I help in any way?

[2019-06-01 04:34] PandaBoi commented on #30
@lwgray Thanks for reaching out. Looking forward to joining in next semester!

[2019-06-04 10:34] thisHermit commented on #855
Hi @mgarod, i was assigned to this issue by @lwgray.
Is this how the issue was supposed to be resolved?

[2019-06-04 11:12] #525 closed

[2019-06-04 13:29] bbengfort commented on #856
@naresh-bachwani we fixed this in #847 right? When we did that fix did we add a test to make sure the tick labels were sorted correctly?

[2019-06-04 13:46] lwgray commented on #855
@thisHermit did you open a PR?