[2017-05-07 15:16] #217 closed

[2017-05-08 13:55] bbengfort commented on #206
@thedatalass is Anaconda the only version of Python on your computer? Did you install it with the downloadable installer? It sounds like pip is not on your `%PATH%`

[2017-05-10 18:54] bbengfort commented on #91
Maybe reserve this as a minimum viable visualizer example to get people during PyCon sprints to work on it.

[2017-05-10 19:07] bbengfort opened #218 "Review Quickstart"

[2017-05-10 19:37] bbengfort commented on #214
Consider the first two things as quick and easy things for new contributors.

[2017-05-10 19:42] bbengfort commented on #212
Do n-elements (matplotlib elements) check on a per-visualizer basis to issue warnings when the dataset is too large and may crash the image.

Add sampling and aggregation methods to actually make these visualizations appear.

[2017-05-10 19:48] bbengfort opened #219 "Data Loading"
See: http://scikit-learn.org/stable/datasets/index.html

And #203 and (other issue we don't remember right now)

[2017-05-10 19:52] bbengfort commented on #188
@rebeccabilbro ping PyLadies who were working on this project.

[2017-05-10 19:55] bbengfort commented on #173
Check and see if Caswell is going to be at PyCon and see if he can provide advice/huddle.

[2017-05-10 20:05] bbengfort commented on #113
@rebeccabilbro can we close this?

[2017-05-10 20:05] bbengfort commented on #104
Visualize pruning in a multi-dimensional way.

[2017-05-10 20:07] bbengfort commented on #92
@bbengfort is this closed?

[2017-05-11 19:04] bbengfort commented on #140
@rebeccabilbro would you mind reading through the [CONTRIBUTING.md](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/CONTRIBUTING.md) and [Contributing](http://www.scikit-yb.org/en/develop/contributing.html) documentation when you get a break, and just give some thoughts about what needs to be done here relative to the tasks above?

[2017-05-11 19:04] #113 closed

[2017-05-11 19:06] rebeccabilbro commented on #140
Will do!

[2017-05-11 19:06] bbengfort commented on #22
Closing in favor of #173 -- visual unit tests which looks very promising!

[2017-05-11 19:07] bbengfort commented on #38
Maybe redo the poster as a webpage?

[2017-05-11 19:07] #22 closed

[2017-05-11 19:07] bbengfort commented on #80
For the PyData Seattle Interactive talk.

[2017-05-11 19:08] bbengfort commented on #47
Let's at least get a prototype going before the sprints.

[2017-05-11 19:09] bbengfort commented on #65
Closing in favor of the refactoring we did on the classifier and regressor packages -- though I'm not 100% sure where `ScoreVisualizer` ended up, so I'm moving this to 0.4.1 just to do a check on it.

[2017-05-11 19:10] bbengfort commented on #8
See #176 and #168

[2017-05-11 19:11] bbengfort commented on #45
See #8 #168 and #176

[2017-05-11 19:13] rebeccabilbro commented on #38
I.e. redo webpage following the poster?

[2017-05-12 02:29] rebeccabilbro opened #220 "Docs repair for alphas"
On `make html` inside `docs`, getting this warning:

[code]

[2017-05-12 02:31] #218 closed

[2017-05-12 11:32] bbengfort commented on #38
I just meant create a page, gallery.rst with some gallery.css that is similar to or inspired by the poster gallery.

[2017-05-12 12:32] #220 closed

[2017-05-12 12:33] bbengfort commented on #220
Used this tool: http://rst.ninjs.org/ to test the docstring and (fairly) easily find the error and fix it. Builds fine for me now.

[2017-05-12 16:35] rebeccabilbro commented on #220
Nice tool! Docs build works for me now too - thanks @bbengfort!

[2017-05-13 16:39] ndanielsen commented on #173
Would be helpful, can't get the @image_comparison to recognize tests. Seems to be an issue for other devs out there.

[2017-05-13 20:18] rebeccabilbro opened #221 "Add distortion to kmeans visualizer"
Add distortion to kmeans visualizer.

[2017-05-13 20:19] rebeccabilbro commented on #221
See Nicole's class [tutorial](https://github.com/georgetown-analytics/machine-learning/blob/master/notebook/Clustering%20Flag%20Data.ipynb):

[code]

[2017-05-15 12:28] bbengfort commented on #221
![kmeans_eblow](https://cloud.githubusercontent.com/assets/745966/26057626/737c7ab2-3948-11e7-9a16-764a5d659d7a.png)

Job done, I think it looks pretty good!

[2017-05-15 13:06] #221 closed

[2017-05-15 13:10] bbengfort commented on #91
K-Elbow has been improved with metrics and timings. Close to done, just need to add documentation to this.

![distortion](https://cloud.githubusercontent.com/assets/745966/26059053/5a11cb1c-394e-11e7-8581-24bdb686802c.png)

![silhouette](https://cloud.githubusercontent.com/assets/745966/26059060/5cdeed2a-394e-11e7-90c2-414442620785.png)

![ch](https://cloud.githubusercontent.com/assets/745966/2605

[2017-05-15 13:59] ndanielsen commented on #91
@bbengfort these look great

[2017-05-16 01:34] ndanielsen opened #223 "Update Documentation: Load Datasets for Example Code"
This is a follow issue after: https://github.com/DistrictDataLabs/yellowbrick/issues/219 is completed

The documentation section titled [Load Datasets for Example Code](http://www.scikit-yb.org/en/develop/examples/methods.html#load-datasets-for-example-code) is a bit confusing at the moment.

After #219 is completed, this section and subsequent code examples utilizing yb data set should be updated

[2017-05-16 11:16] bbengfort opened #224 "Classification Report has an offset with three classes"
Rendered a three class classifier using the game dataset (code below), but there is an offset in the grid, creating a white space to the right. This is not related to the double heatmap legend, but that's also a problem (only one rendered in the PDF of this graph).

![game_nbayes_classification_report](https://cloud.githubusercontent.com/assets/745966/26103364/06570be0-3a07-11e7-9919-85431f256ad8.

[2017-05-16 11:18] bbengfort commented on #224
hopefully moving from `imshow` to `colormesh` helps solve this.

[2017-05-16 12:02] NealHumphrey commented on #224
Yeah, this is what I mentioned was what was only a partial fix - previously 3 classes would produce a stack dump with errors, so in the refactor I changed it so that it at least showed this graph but w/ bad formatting. I expect that the `mesh` will fix it (or at least side step it).

[2017-05-16 12:05] bbengfort commented on #224
Ok; so see #141 -- where this will be worked on with the colormesh solution.

Also I moved `plt.colorbar()` up to `draw()` so that multiple calls to poof would only create one color bar.

[2017-05-16 12:06] #224 closed

[2017-05-16 12:09] #203 closed

[2017-05-16 12:11] bbengfort commented on #223
Yeh, that's primarily a feature of the dump from the notebook to rst. In #209 we're going to break up the examples documentation into meaningful splits and we can handle the data loading on a per-section basis.

For URLs for `pd.read_csv` -- we have our datasets hosted on S3. Part of what the downloader in both the examples and the tests does is check signatures; so that will go into #219. In the

[2017-05-16 18:20] #215 closed

[2017-05-16 18:21] #92 closed

[2017-05-16 18:22] bbengfort commented on #153
Example from Scikit-Learn:

http://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html

[2017-05-18 11:53] rebeccabilbro opened #225 "Matplotlib tutorial"
Add this link to the docs, or better yet, reach out to the author and see if we can incorporate with attribution: http://pbpython.com/effective-matplotlib.html

[2017-05-19 17:27] bbengfort opened #226 "Cheatsheet"
Make a PyCon style cheatsheet for yellowbrick and send it to Van de Ven.

[2017-05-19 18:16] tomsvds opened #227 "ROCAUC should be using predict_proba, not score"
Hi.  I was following your examples here:
http://www.scikit-yb.org/en/latest/examples/methods.html#classifier-evaluation
when I saw the ROCAUC example.  The ROC is a triangle, which means you're getting only a single point from the classifier.  This usually means you're not using scores, you're using hard classification labels.  I looked at the code in ./classifier/rocauc.py and indeed in score() y

[2017-05-19 18:26] bbengfort commented on #227
Hi Tom - thanks for your feedback! Your advice is good, and we'd love to have you contribute. Note #153 where we have plans to do what you mentioned as well as add per-class labels as in the example you cited. We're at PyCon and thought this might be a good thing to leave for newcomers to Yellowbrick at the sprints. If you're here in Portland, join us at the poster session on Sunday morning and at

[2017-05-20 11:21] eyadsibai opened #228 "Python 3.6 support"
many packages now support python 3.6.

[2017-05-20 14:48] cjmorale commented on #99
@rebeccabilbro I am currently at pycon but unfortunately not staying for the sprints. Nevertheless I would be interested in working on this feature.

[2017-05-20 19:20] bbengfort commented on #228
@eyadsibai Yellowbrick supports Python 3.5 and greater; I just ran all the tests on Python 3.6 and they all pass. Are you having any particular compatibility issue with 3.6?

[2017-05-20 20:56] eyadsibai commented on #228
when I try to install it through conda it says it cannot be installed as it doesn't support python 3.6 ...

[2017-05-21 16:36] bbengfort commented on #228
@jkeung would you package 3.6 with conda, please?

[2017-05-21 17:16] #158 closed

[2017-05-21 18:59] lmcinnes opened #229 "Density based clustering validity measures"
Clustering scores like silhouette work well for K-Means but make less sense for density based clustering techniques like DBSCAN which support arbitrary cluster shapes. It would be nice to include scores and visualisation for measures that support density based notions of clustering. These are a a little thin on the ground, but the Density Based Cluster Validity Index of Moulavi et al (http://www.d

[2017-05-21 19:02] lmcinnes commented on #204
I have code for dendrogram simplification and plotting the resulting pruned/condensed dendrogram as part of my clustering project (http://github.com/scikit-learn-contrib/hdbscan). The `condense_tree` tree routine in `hdbscan/_hdbscan_tree.pyx` handles tree simplification and there is code in `hdbscan/plots.py` that does plotting. Feel free to steal whatever looks useful.

[2017-05-21 20:26] bbengfort opened #230 "Parallel Coordinates is getting slower"
There seems to be a dependency or something that has increased the amount of time that parallel coordinates takes (already a significant amount of time). I ran the tests on my local 2.7 and 3.5 environments and got approximately 24s-1m run times. However on Travis it took > 10m.

pip freeze:

[code]

[2017-05-21 20:59] rebeccabilbro commented on #140
Created yb twitter account, per above list.

[2017-05-21 21:34] rebeccabilbro commented on #140
Ok, I think we're in good shape with these - the main thing I noticed upon review is that the PR process is described as though to someone who has push access to develop (i.e. instructing them to `squash-merge` after code review. Most contributors from the general public will not have push access and we will have to merge in their PRs. I can make another subhead to split out instructions for core

[2017-05-21 22:02] bbengfort commented on #140
Once the review and checks have completed, GitHub will allow the pull
requester to squash merge.
--
Sent from Gmail Mobile

[2017-05-21 23:01] bbengfort commented on #65
See #90

[2017-05-21 23:16] #47 closed

[2017-05-21 23:17] bbengfort opened #231 "Visual Pipeline Documentation"
Document the visual pipeline and show how it works.

[2017-05-22 03:11] rebeccabilbro commented on #140
Ok, sounds good - marking complete and closing this issue.

[2017-05-22 03:11] #140 closed

[2017-05-22 03:19] rebeccabilbro commented on #230
Need to test each combination of dependency versions since the last to identify the deprecation warning. Most likely candidates are, in order: numpy, scipy, matplotlib.

[2017-05-22 03:27] rebeccabilbro commented on #231
Pipeline has been implemented and the tests pass. It works by exposing visual steps and filtering out all of the steps that aren't visualizers. It has a `poof` method that accepts as an argument a directory path, and it goes through each visualization in the pipeline, creating an outpath that joins the directory path with the named steps, plus an extension.  If you don't supply a directory path, i

[2017-05-22 16:56] rebeccabilbro opened #233 "Release 0.4.1"
Steps for 0.4.1 version bump:

 - [x] Branch release-0.4.1
 - [x] Do version bump
 - [x] Update tests and run tests
 - [x] Create change log
 - [x] Review documentation build
 - [x] merge to master
 - [x] create 0.4.1 tag
 - [x] push release to PyPI
 - [x] push documentation to Read the Docs
 - [x] push documentation to pyhosted
 - [x] merge release to develop
 - [x] delete release

[2017-05-22 17:00] rebeccabilbro opened #234 "Anaconda package update"
Synchronize anaconda package update with 0.4.1 release. Build for 2.7, 3.5. 3.6

[2017-05-22 17:57] jkeung commented on #116
going to follow this implementation
http://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.html

[2017-05-22 18:11] #90 closed

[2017-05-22 18:12] rebeccabilbro commented on #233
In rst, for the docs:

[code]

In markdown, for Github:

[code]

[2017-05-22 18:12] bbengfort commented on #65
With the refactor of the `ModelVisualizer` and `ScoreVisualizer` I think that we're in a good place with the current hierarchy.

[2017-05-22 18:12] #65 closed

[2017-05-22 18:17] rebeccabilbro opened #235 "Update palettes with humor"
@ndanielsen correctly identified that our palettes aren't humorous enough. It has been recommended that we add some new state-of-the-art colors described in this [recent publication](https://arstechnica.com/information-technology/2017/05/an-ai-invented-a-bunch-of-new-paint-colors-that-are-hilariously-wrong/).

[2017-05-22 18:49] bbengfort commented on #180
Ok, framework is in place -- but the specific checks were actually kind of difficult to implement. I'm going to punt on this for now, but you guys can take a look to see if the tests.checks module makes sense.

[2017-05-22 19:18] #233 closed

[2017-05-22 20:12] rebeccabilbro commented on #204
@lmcinnes - this is excellent, thank you!

[2017-05-22 20:36] bbengfort commented on #229
Absolutely that would be awesome -- we had to add our own distortion score metric, would you be willing to write up some Python to compute the cluster validity index? Check out [distortion_score](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/cluster/elbow.py#L43)

[2017-05-22 20:38] bbengfort commented on #228
@eyadsibai ok, we've built a conda package for 3.6 -- should work now.

[2017-05-22 20:38] #228 closed

[2017-05-22 20:39] eyadsibai commented on #228
thx

[2017-05-22 20:45] rebeccabilbro commented on #234
@jkeung this is done right?

[2017-05-22 20:49] jkeung commented on #234
not yet, still fixing the description

[2017-05-22 21:53] bbengfort commented on #99
@georgerichardson is also working on an explained variance visualizer that goes along with this.

[2017-05-22 21:54] bbengfort commented on #100
Pandas implementation here:

https://github.com/pandas-dev/pandas/blob/master/pandas/plotting/_misc.py#L235

Shouldn't be too hard; we can also add scaling etc. to the visualization.

[2017-05-22 22:26] jkeung opened #236 "scikit-yb.org site not working"
Redirect for subdomain

[2017-05-22 22:31] jkeung commented on #234
Done

[2017-05-22 22:31] #234 closed

[2017-05-22 23:07] bbengfort commented on #236
Done.

[2017-05-22 23:07] #236 closed

[2017-05-23 00:10] lmcinnes commented on #229
I have some code for it [here](https://github.com/scikit-learn-contrib/hdbscan/blob/master/hdbscan/validity.py). It has some dependency on hdbscan, but in practice that amounts to the mst_linkage_core, which you can replace with any suitable minimum spanning tree code.

[2017-05-23 17:02] bbengfort opened #239 "Understanding Yellowbrick and Publishing"
In order to better understand and utilize yellowbrick we want to explore it from a code analysis standpoint. Suggestions include:

- https://lgtm.com/projects/g/DistrictDataLabs/yellowbrick/
- http://fossa.io/

We can also discuss yellowbrick scientifically:

- http://joss.theoj.org/

[2017-05-23 17:52] JimStearns206 opened #240 "DOC: Update bike sharing dataset link in Quick Start"
Current link [bike sharing data](https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset) points to UC Irvine data download site, with data before Benjamin's clean-up.

Correct link to [bike sharing data on DDL S3](https://s3.amazonaws.com/ddl-data-lake/yellowbrick/bikeshare.zip).

[2017-05-23 18:04] JimStearns206 commented on #240
Actually, the DDL S3 file contains the Irvine data column cnvntns (at least that's how UCI would abbreviate conventions :-)
* DDL Preferred: ['month' 'hour' 'weather']
* UCI : ['mnth' 'hr' 'weathersit']

[2017-05-23 18:47] #240 closed

[2017-05-23 18:49] bbengfort commented on #240
Updated the data set on S3 and made a note in the walkthrough of where to get the data from; thanks @JimStearns206 !

[2017-05-23 20:15] JimStearns206 opened #242 "DOC: Correct data columns in bikeshare WalkThrough"
Change:
[code]
to:
[code]
I.e:
* Rename "hum" to "humidity"
* Drop "atemp"
* Add "feelslike"

[2017-05-23 20:19] JimStearns206 opened #243 "JointPlotVisualizer insists on Matplotlib "2.0.0" exactly."
Warns if on mpl.__version__ == "2.0.2". That's overly picky, yes?

Line 133 in features/jointplot.py.

[2017-05-23 21:24] bbengfort opened #244 "ConfusionMatrix classes: one label must be specified in y true."
When trying to passes class names to the ConfusionMatrix, I'm getting the following error:

[code]

This is do to the fact that the y_true vector is label encoded (e.g. ones and zeros) but that the labels are strings, e.g. "occupied" and "unoccupied".

Here is the code to produce the error:

[code]

Note that:

[code]

Does not raise an exception.

[2017-05-23 21:45] rebeccabilbro commented on #231
Bad things. Bad things happen inside a notebook: https://github.com/DistrictDataLabs/yellowbrick/blob/develop/examples/rebeccabilbro/pipelines.ipynb

[2017-05-23 21:53] bbengfort commented on #231
And yet, it makes so much sense ... but I wouldn't have guessed.

Ok, so the pipeline has to create a new axes object for each visualizer. got it.

[2017-05-23 22:42] ndanielsen opened #245 "Update Contributors.txt with how to write visual unit tests"
Visual Unit tests introduced in:
https://github.com/DistrictDataLabs/yellowbrick/pull/241

[2017-05-25 03:25] cjmorale commented on #189
@bbengfort Made a pull request to resolve this bug.

[2017-05-25 03:34] ndanielsen commented on #235
Here's my proposed palette:

b:  Esprisse blue, #167192
g: Parp green, #6e7548
r:  Stanky Bean, #c5a2ab
c: Dad, #00ccff
m: Kold of Tale, #de78ae
y: Stargoon, #ffcc99
k: Dorkwood, #3d3f42
w: Barkying White, #ffffcc

<img width="117" alt="screen shot 2017-05-24 at 8 32 46 pm" src="https://cloud.githubusercontent.com/assets/2944777/26434880/34af6ebe-40c0-11e7-9573-6bcc5ba69923.png">

For names, it sh

[2017-05-25 17:56] bbengfort commented on #235
Looks great! Want me to toss it into palettes.py?

[2017-05-25 18:00] ndanielsen commented on #235
I'll toss it in later tonight, it's a quick one to do

[2017-05-25 18:36] bbengfort commented on #189
@cjmorale feel free to merge and close this issue.

[2017-05-25 19:27] #243 closed

[2017-05-25 19:36] bbengfort commented on #230
Looks like it's matplotlib 2.0.2 -- I was on matplotlib 1.5.3 locally and travis is installing the latest version of mpl.

[2017-05-25 19:38] bbengfort commented on #230
Oh, actually numpy also upgraded ...

[2017-05-25 21:57] cjmorale commented on #244
@bbengfort Is anyone working on this bug yet? I was able to reproduce the error last night on my local environment and wanted to offer my help.

[2017-05-25 22:21] ndanielsen commented on #244
@cjmorale I'm one of the maintainers of yb, you're welcome to take a stab at it! 💯

[2017-05-26 01:22] cjmorale commented on #244
@ndanielsen How should the system handle examples like @bbengfort provided above? I was a little unsure what type of behavior the yb team is looking for in these situations.

[2017-05-26 01:45] NealHumphrey commented on #244
@cjmorale I'm another maintainer and also authored the original ConfusionMatrix.

@bbengfort The error raised is actually the one raised by the scikitlearn. If I remember correctly, if you passed the same data directly into the scikitlearn confusion matrix you'd get the same error:

`sklearn.metrics.confusion_matrix(y_true, y_pred, labels=classes)`

If you want to have label encoded data but have

[2017-05-26 01:47] NealHumphrey commented on #244
Side note: the functionality currently provided by the use of 'classes' is slicing the ConfusionMatrix, the same way the sklearn.metrics.confusion_matrix works. In case you were wondering why there was even a classes argument to begin with.

[2017-05-26 02:57] cjmorale commented on #244
@NealHumphrey Thanks for your reply. I plan on working on this over the next few days so stay tuned.

[2017-05-26 03:46] cjmorale commented on #189
@bbengfort You might want to close this issue now that we have it resolved.

[2017-05-26 11:44] rebeccabilbro commented on #235
Ah, thanks very much @ndanielsen; not sure we would have been able to resolve this one without you. Marking complete and closing this card.

[2017-05-26 11:44] #235 closed

[2017-05-26 12:19] #189 closed

[2017-05-26 12:43] bbengfort opened #251 "Test dependence test_radviz and test_pca"
From @cjmorale:

@bbengfort I discovered something interesting today. On my local setup the RadViz unit tests were failing when I was running make test.

My unit tests lived in a file named test_pca.py. If I removed this file from the folder tests/test_features and ran make test again like magic the RadViz unit tests were passing and there were 0 errors.

If I put my test_pca.py file back into tes

[2017-05-26 17:59] #153 closed

[2017-05-26 18:03] bbengfort commented on #227
@tomsvds ROCAUC now uses `predict_proba` or `decision_function` depending on what the underlying classifier has available. Documentation hasn't been finished yet, but here is an example:

![roc_curves](https://cloud.githubusercontent.com/assets/745966/26506902/17f34e14-421c-11e7-99b3-b608c0519c08.png)

[2017-05-26 18:03] #227 closed

[2017-05-26 18:04] bbengfort commented on #219
changed this issue to move the data downloader from examples to the primary module. That way we can simply put everything in one place similar to how Scikit-Learn provides examples. This will change how we do #223 as well.

[2017-05-26 18:09] bbengfort opened #252 "Finish up ROCAUC"
ROCAUC needs a few things to be finalized:

- [x] decision function bug (binary classifier)
- [x] documentation
- [x] add to gallery
- [x] simplify example in docstring and switch to YB data instead of `sklearn.datasets`
- [x] add `multiclass` and `binary` fixtures from conftest.py (see [ClassificationReport](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/tests/test_classifier/test_c

[2017-05-26 18:10] bbengfort commented on #173
@ndanielsen -- good to close this issue now that you won all the things?

[2017-05-26 18:19] #173 closed

[2017-05-26 20:16] #242 closed

[2017-05-26 20:16] bbengfort commented on #242
Thanks @JimStearns206 -- this is really helpful; I've updated the fields, thank you so much for your detailed look at the quickstart!

[2017-05-26 20:17] bbengfort commented on #242
http://www.scikit-yb.org/en/develop/quickstart.html#walkthrough

[2017-05-26 22:41] #251 closed

[2017-05-26 22:42] bbengfort commented on #251
It looks like having the `PCADecompositionTests` extend `tests.base.VisualTestCase` rather than `unittest.TestCase` fixed the problem; though I'm not sure why.

[2017-05-29 16:44] JimStearns206 commented on #242
Glad to help, @bbengfort! It's a good tutorial. These minor fixes will allow new users to concentrate on learning of the benefits of yb visualization.

[2017-05-29 17:38] ndanielsen commented on #242
@JimStearns206 thanks for your feedback! it's very helpful

[2017-05-30 15:11] bbengfort commented on #244
So I also have this issue in the `ROCAUC` visualizer; and the scoring metrics are more sensitive to what's being passed in as `y` (which is usually `y_test`) -- in the end, I used the classes only for labels and

[2017-06-01 19:25] ndanielsen commented on #180
Just found this interesting package, we might be able to modify for our doc string conventions:

https://github.com/PyCQA/pydocstyle

[2017-06-03 20:09] amontilla0 opened #255 "whisker proposal for radviz"
These are a couple examples to add to the radviz visualization. That way it could be easier to see the "pull-force" from every direction

http://docs.orange.biolab.si/2/widgets/rst/visualize/radviz.html

Hope it helps!

Best,
Abe

[2017-06-04 19:41] ndanielsen commented on #255
@bbengfort created the radviz, I'll defer to him on it

[2017-06-05 16:42] bbengfort commented on #180
Nice, I'll have to put that on my list of tools to use!

[2017-06-05 17:40] bbengfort commented on #255
@amontilla0 this is absolutely a great idea! I've labeled it and added it to our backlog; I think this would really enhance the RadViz visualizer!

You mentioned the whiskers, which look like the following:

![radviz-brown-springs](https://cloud.githubusercontent.com/assets/745966/26795475/c2c564ba-49f3-11e7-893c-1c997e2a6419.png)

They are referred to as "springs" in the link you submitted. They

[2017-06-08 21:46] evelynmitchell opened #257 "Add Datasaurus, a version of Anscombe's Quartet"
As an addition to Anscombe's Quartet, but starting from a plot that looks like a dinosaur.

https://www.autodeskresearch.com/publications/samestats
http://www.thefunctionalart.com/2016/08/download-datasaurus-never-trust-summary.html
data: https://www.autodeskresearch.com/sites/default/files/The%20Datasaurus%20Dozen.zip

[2017-06-09 11:44] rebeccabilbro commented on #257
@evelynmitchell such a great idea! Want to take a crack at implementing it in Python for Yellowbrick and submitting a pull request?

[2017-06-09 15:14] ndanielsen commented on #257
This is amazing. Fun dataset!

[2017-06-12 13:36] bbengfort opened #260 "Add Listserv to Documentation"
We now have a Google Groups/Email Listserv for questions and discussion that can be indexed by Google but don't really fit into a GitHub issues category:

https://groups.google.com/forum/#!forum/yellowbrick

We need to add this to the documentation. Now, I will say, there are a couple of obvious places that it can be referenced, largely because the structure of the  YB documentation follows from m

[2017-06-12 19:22] bbengfort commented on #260
Also short URLS:

http://bit.ly/scikit-yb to main documentation

http://bit.ly/yb-listserv to listserv

[2017-06-20 19:45] ianozsvald opened #262 "Document example for `ResidualsPlot` uses `PredictionError`"
The current example for `ResidualsPlot`:
http://www.scikit-yb.org/en/latest/api/yellowbrick.regressor.html
has a copy/paste error. This page shows two examples. The first is for `PredictionError` and it builds `PredictionError(Lasso())`.
The second incorrect example imports `ResidualsPlot` and creates `PredictionError(Ridge())`, I'm guessing it is meant to use `ResidualsPlot`.

[2017-06-20 20:38] ndanielsen commented on #262
@ianozsvald thanks for creating this issue! I'm flagging @bbengfort to take a look as he created the ResidualsPlot visualizer.

[2017-06-20 21:22] ianozsvald opened #263 "[Feature suggestion] Add `shared_limits=True` option to PredictionError"
Depending on the quality of a regressor we can get different output ranges to the input range. The `PredictionErrror` scatter plot may then have a slope that isn't 45 degrees, yet the current plot will look as though there's a 45 degree relationship in the data. Here's an example:
![image](https://user-images.githubusercontent.com/273210/27355665-ca189b6c-5603-11e7-8ba5-b7a91b63f739.png)

An optio

[2017-06-21 12:02] ianozsvald opened #264 "[Feature Suggestion] Add histogram plot of residual errors to ResidualsPlot"
The current `ResidualsPlot` shows training and testing residuals as a scatter plot, by eye we can get an idea of whether more errors are above or below the 0 line. By adding a histogram of testing errors we might more clearly be able to tell if errors have a Normal  distribution.

In the following examples I have some large positive and negative errors, from the histogram it looks as though I have

[2017-06-21 14:06] ndanielsen commented on #264
@ianozsvald thanks for this great feature enhancement suggestion. you're welcome to make a pull request with this enhancement =)

[2017-06-21 14:06] ndanielsen commented on #264
@bbengfort

[2017-06-21 15:34] ianozsvald commented on #264
Sorry, I'm only going as far as sharing some proof-of-concept code, I'm still recovering from running PyDataLondon 2017 and I'm not up to extending any libraries at the moment! Maybe someone will find time to take this a little further. Cheers!

[2017-06-21 15:49] ndanielsen commented on #264
@ianozsvald thank you so much for your feature suggestions and the time that you've spent in writing up the detailed issues with examples. it is really fantastic and helpful. i'm sure that someone will move forward with these.

[2017-06-21 15:54] ianozsvald commented on #264
Well, thank you all too for putting this library together, I've got a bunch of my own hacky viz tools but you've built something far more useful here. @rebeccabilbro's talk for us at the conference (and the book signing she joined me for) was ace :-)

[2017-06-21 20:00] rebeccabilbro commented on #264
Hey there @ianozsvald - thanks so much for all your work on PyData London - what a terrific conference! And thanks for checking out Yellowbrick -- I love this idea of plotting error distributions to make it easier to look for things like skew and heavy tails. As for how to best cope with subaxis locations, we might take a look at [GridSpec](https://matplotlib.org/api/gridspec_api.html#matplotlib.g

[2017-06-22 15:23] bbengfort commented on #263
@ianozsvald you're absolutely right, and thank you for this outstanding feature request. We'll add it to the backlog and get to it ASAP; though if you're interested in doing a PR for it, we'd be more than happy to accept it!

We generally have difficulty setting the range of the axes in many of our figures, precisely for the reasons you describe and it's easy to rely on the auto axes. I propose th

[2017-06-22 15:29] bbengfort commented on #264
@pdamodaran @ianozsvald  my instinct actually says to put it on the right side, oriented vertically so that the histogram shares an access with the residuals (the y axis of the plot). In this orientation I think it might be easier to directly compare and would probably also have the effect of balancing the axes so that zero is in the middle, RE: the axes issues we had in #263 -- what do you guys t

[2017-06-22 17:25] ianozsvald commented on #263
@bbengfort that looks lovely!

[2017-06-22 17:56] #262 closed

[2017-06-22 17:57] bbengfort commented on #262
@ianozsvald nice catch - that's a tricky one to notice!

[2017-06-22 18:22] bbengfort commented on #263
I even went so far as to set the aspect ratio to sqaure:

`shared_limits=False`:

![slfalse](https://user-images.githubusercontent.com/745966/27449344-142c5eca-5756-11e7-8a9f-775adc73ebf2.png)

`shared_limits=True`:

![sltrue](https://user-images.githubusercontent.com/745966/27449348-187114e4-5756-11e7-91d8-58952ad61856.png)

Let me know what you think or if I should remove that.

TODOS:

- [ ] wr

[2017-06-22 18:43] pbs929 opened #265 "Column selection for FeatureVisualizers"
Raised in #258

Currently the `features` argument to most FeatureVisualizers is taken as a list of labels to be displayed for each feature in the plot. This is useful when X is a numpy array (in which case it does not carry any labels intrinsically) or for overriding the column names when X is a dataframe.

In some circumstances it may also be useful to allow the user to specify a subset of featur

[2017-06-22 18:56] ianozsvald commented on #263
Squared looks sensible. How about (perhaps) adding a 45 degree greyed out line to give a visual reference for the 1:1 prediction ideal vs the black-dashed fitted line (which above is at approx. 50 degrees or so)?

[2017-06-22 20:24] bbengfort commented on #263
Your wish, as they say:

![slfalse](https://user-images.githubusercontent.com/745966/27454200-26f2b8cc-5767-11e7-84c0-624b2d80846a.png)

![sltrue](https://user-images.githubusercontent.com/745966/27454204-2904f634-5767-11e7-92b8-04a0b6ef1072.png)

[2017-06-22 21:41] ianozsvald commented on #263
I'll enjoy giving this a go, thanks!

[2017-06-28 00:36] cgivre opened #267 "Lines in Classification Report"
First, this is an awesome module!!
I created a classification report (see attached) and the white lines make reading the numbers impossible.
![unknown](https://user-images.githubusercontent.com/5513150/27615699-2978e55c-5b78-11e7-9ceb-d63026f18778.png)
I wanted to ask if there is a way to either lighten or remove these lines so that you can read the various scores?
Thanks!

[2017-06-30 18:33] bbengfort commented on #267
@cgivre thanks for the note, and for using Yellowbrick! You're right the numbers are tough to read with those lines, we'll definitely have to explore a fix on our end. Perhaps we can add a box behind the text with some opacity that makes it easier to read. I know that we did do a dark/light text algorithm so that we had white text on a dark background and vice versa. Hopefully we can use that to m

[2017-07-11 14:29] ianozsvald commented on #267
When I've done these sort of plots in the past I've always wondered if I could move the grid lines to be _between_ the grid items to form box-edges, rather than running through the centre of the cells. This would turn the display into discrete cells. Might that be worth exploring?

[2017-07-11 18:40] rebeccabilbro opened #268 "Recursive Feature Elimination"
This [recursive feature elimination heatmap](http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html#sklearn.feature_selection.RFE) would be a cool feature selection visualization to implement in yb - possibly we can hoist some of #164 into a base class (see #58) for feature importance visualizers?

[2017-07-21 14:25] bbengfort opened #271 "Bubble Maps"
I think it would be interesting to add geographic features to data sets and be able to visualize them. Probably this is a package on its own and not a Yellowbrick thing; but it would be cool to demo, and perhaps we could generalize it enough for production.

The idea is to put a background onto a scatter plot with some sort of map representation. The scatter plot points would be geographic positio

[2017-07-21 15:30] ndanielsen commented on #271
I've been thinking of how to add a geospatial element to yb as well.

[2017-07-21 15:32] bbengfort commented on #271
I think that would be cool and it would set us apart.

[2017-08-02 21:48] rebeccabilbro opened #273 "Break out examples in documentation"
Update the structure of the [examples in the documentation](https://github.com/DistrictDataLabs/yellowbrick/tree/develop/docs/examples) so that each example gets its own treatment as a separate file. This way new contributors can add a .py, tests, and a corresponding documentation file.

So the structure of [index.rst](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/examples/inde

[2017-08-02 23:14] rebeccabilbro opened #274 "Version 0.5.0 Release"
Steps for 0.5.0 version bump:

 - [x] Branch release-0.5.0
 - [x] Do version bump
 - [x] Update tests and run tests
 - [x] Create change log
 - [x] Review documentation build
 - [x] Merge to master
 - [x] Push release to PyPI ([instructions](https://bbengfort.github.io/programmer/2016/01/20/packaging-with-pypi.html))
 - [x] Create 0.5.0 tag
 - [x] Copy change log to release notes
 - [x] Push docum

[2017-08-02 23:14] rebeccabilbro commented on #274
Also reminder to make a new conda package after we close this issue

[2017-08-09 22:36] rebeccabilbro opened #276 "Better placement for info labels"
It would be nice to find a better way to place infolabels (as with [FreqDistVisualizer](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/text/freqdist.py#L283)), so that the text doesn't collide with the data in the plot. Perhaps a mixin?

[2017-08-09 23:09] rebeccabilbro commented on #274
md for github:

**Deployed**: Wednesday, August 9, 2017
**Contributors**: @bbengfort, @rebeccabilbro, @ndanielsen, @cjmorale, @JimStearns206, @pbs929, @jkeung

#### Changes
   - Added VisualTestCase.
   - New PCADecomposition Visualizer, which decomposes high dimensional data into two or three dimensions so that each instance can be plotted in a scatter plot.
   - New and improved ROCAUC Visualize

[2017-08-09 23:31] #273 closed

[2017-08-09 23:31] #274 closed

[2017-08-09 23:32] rebeccabilbro opened #277 "Make conda package for 0.5 release"
We've released version 0.5 to PyPI! Now to make a corresponding conda package...

[2017-08-10 18:07] jkeung commented on #277
I have built the conda package and uploaded!

[2017-08-11 14:15] bbengfort commented on #277
Updated documentation; we're good to go!

[2017-08-11 14:15] #277 closed

[2017-08-11 14:16] bbengfort commented on #267
Definitely worth exploring, but not 100% sure how to. @NealHumphrey -- you were taking a look at using the `pcolormeshgrid` instead of `imshow`, is it possible with this method?

[2017-08-11 14:18] bbengfort commented on #245
Want to point out that we now have two parallel documents:

- [doc/contributing.rst](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/contributing.rst)
- [CONTRIBUTING.md](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/CONTRIBUTING.md)

The CONTRIBUTING.md is located by GitHub and GitLab, but does refer to the Sphinx documentation. Visual unit tests should probably b

[2017-08-11 14:21] bbengfort commented on #223
The [loading datasets for example code](http://www.scikit-yb.org/en/latest/api/datasets.html) documentation has been updated as follows:

1. Created a download module in yellowbrick
2. Users can download datasets via `python -m yellowbrick.download`
3. These datasets are downloaded to a `data` directory in the current working directory
4. All examples, e.g. `pd.read_csv` assume data has been downl

[2017-08-11 14:21] #223 closed

[2017-08-11 14:26] bbengfort commented on #225
@chris1610 - thank you for writing a great tutorial on matplotlib! We have an open source library called yellowbrick that combines Scikit-Learn and matplotlib for machine learning visualization. We were hoping to include a portion of your tutorial on matplotlib (with attribution of course) in our documentation: [http://www.scikit-yb.org](http://www.scikit-yb.org/en/latest/), linking back to your f

[2017-08-11 14:27] #206 closed

[2017-08-11 14:28] #197 closed

[2017-08-11 14:28] #167 closed

[2017-08-11 14:36] chris1610 commented on #225
Thanks for reaching out to me.

Yes, feel free to incorporate content from the article into your documentation.  I appreciate the attribution and link back to the original article.

Yellowbrick looks really cool - I need to take a look at it in more detail!

[2017-08-11 14:52] NealHumphrey commented on #267
@bbengfort and @ianozsvald - yes, it should be the default result if the classification report is converted to a `pcolormeshgrid`. You can see that the lines are outside the grids on the confusion matrix in these screenshots: https://github.com/DistrictDataLabs/yellowbrick/pull/144

[2017-08-11 14:54] bbengfort commented on #225
@chris1610 thank you so much! We'll add it to our development tutorials section to help folks who want to write visualizers.

[2017-08-11 16:01] bbengfort commented on #225
@chris1610 @rebeccabilbro - here is a draft of the incorporation; there is a minor bit of yellowbrick-specific editing and I didn't bring over all images; but I wanted to check in with you both to see if this was what you had in mind before we went too much farther.

https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/matplotlib.rst

[2017-08-11 16:05] bbengfort commented on #263
@ianozsvald this changes are now in version 0.5 - so you should be able to update yellowbrick and take advantage of them.

[2017-08-11 16:08] #263 closed

[2017-08-11 16:09] bbengfort opened #278 "PEPlot Tests"
There are some skipped, not implemented tests for PredictionError that need to be completed.

[2017-08-11 16:17] rebeccabilbro commented on #225
Thanks @chris1610!
@bbengfort - looks great; just pushed a few gentle edits to `develop`.

[2017-08-11 16:28] chris1610 commented on #225
The proposed direction looks good to me. I'm glad it was a helpful resource and am excited to see you build on my content.

[2017-08-11 18:23] ndanielsen commented on #225
this is great

[2017-08-12 20:45] ianozsvald commented on #263
@bbengfort just to note - I've had `master` working with a client for a little while, I've been using this change to help explain a regression model - many thanks! https://github.com/ianozsvald/data_science_delivered/blob/master/ml_explain_regression_prediction.ipynb

[2017-08-14 16:13] bbengfort commented on #263
Very cool - looks like there are a couple of potential yellowbrick features/visualizers we could add from that notebook! Please let us know if any stand out that you'd be interested in us pursuing.

[2017-08-16 22:34] #225 closed

[2017-08-16 22:36] #99 closed

[2017-09-07 14:48] ndanielsen opened #285 "Augment Prototype DecisionBoundary Viz with metrics"
Add labels with metrics such as recall, precision, tpr and etc

As seen in as the visualizations in this blog post:

https://medium.com/towards-data-science/what-metrics-should-we-use-on-imbalanced-data-set-precision-recall-roc-e2e79252aeba

Example from the blog post:

![1-savpjdq-zl4c6vlbnl8ejq](https://user-images.githubusercontent.com/2944777/30169300-03df77e6-93ba-11e7-9be1-a1a8e0553ffe.png)

[2017-09-08 05:27] Aylr commented on #188
This is also an issue when labels are long in Parallel Coordinates.
<img width="546" alt="screen shot 2017-09-07 at 11 26 22 pm" src="https://user-images.githubusercontent.com/928247/30197292-12f47c94-9424-11e7-9b7a-de27a2ef7096.png">

[2017-09-09 16:07] ndanielsen opened #286 "IterPlot utility / transformer method"
The concept is to create a visualizer utility / transformer method to create multiple plots that each have a focus on one element / class in a set of values.

An example of usage would be this:

Would produce a series of plots for member of elements in the label_column. (note this viz has a modified k-means for labeling consistency across iterations)

![screen shot 2017-09-09 at 11 18 36 am](https

[2017-09-30 21:41] DGaffney opened #288 "ROC/AUC for multiclass not working?"
I read through the issue history and saw you've gone through and added in multiclass ROC/AUC scores, but after an hour of so of hacking along with the MNIST dataset I can't replicate. I'm seeing the following issue:

[code]

The dataset is just a standard csv version from (https://pjreddie.com/media/files/mnist_train.csv), and the code I'm using to run it looks like:

[code]

Where `y` is a parsed

[2017-10-02 01:23] ndanielsen commented on #288
@DGaffney thanks for raising this issue.

[2017-10-02 14:08] bbengfort commented on #288
@DGaffney yes, the issue makes sense and we've seen this issue pop up a couple of times but haven't fully gotten to the bottom of it yet. Try the following modification:

[code]

E.g. removing the `classes` keyword argument from the visualizer. If that works, would you mind sending me a notebook with your work so I can dive deeper into the issue?

[2017-10-03 19:13] DGaffney commented on #288
[110471_binary.pkl.zip](https://github.com/DistrictDataLabs/yellowbrick/files/1353545/110471_binary.pkl.zip)
The zipped pickle attached can work as follows:

[code]

For me, this leads to the same stack trace as posted above - either with classes present or removed. This is Python2.7, MPL 2.0.2, sklearn 0.18.1 - let me know if you need any other machine details:
[code]

[2017-10-04 10:25] ianozsvald commented on #277
Hello. Can we have a conda Python 3.6 version of YellowBrick 0.5 please? I see the Python 2.7 for 0.5, but Python 3.x only exists for 0.4.2: https://anaconda.org/DistrictDataLabs/yellowbrick/files

[2017-10-04 12:50] bbengfort commented on #277
@jkeung would you mind doing this?

[2017-10-04 13:29] jkeung commented on #277
Yup I got it!

On Wed, Oct 4, 2017 at 8:50 AM, Benjamin Bengfort <notifications@github.com>
wrote:

[2017-10-04 13:50] bbengfort commented on #277
thanks!

On Wed, Oct 4, 2017 at 9:29 AM, Jason Keung <notifications@github.com>
wrote:

[2017-10-04 14:57] jkeung commented on #277
Done!

On Wed, Oct 4, 2017 at 9:50 AM, Benjamin Bengfort <notifications@github.com>
wrote:

[2017-10-04 15:58] ianozsvald commented on #277
Brilliant - I've updated locally (thanks) and have re-run my Diagnosing Regression Notebook which shows the slightly updated `PredictionError` plot: https://github.com/ianozsvald/data_science_delivered/blob/master/ml_explain_regression_prediction.ipynb
Thanks!

[2017-11-02 13:24] gary-mayfield commented on #161
Hi, I was looking at contributing and this seemed like a good place to start.

Am I ok to have a go at this?

[2017-11-02 13:34] ndanielsen commented on #161
@gary-mayfield thanks for wanting to contribute! please go ahead and take a crack at this.

Please make a pull request with your work-in-progress when you're able so that we can potentially give some feedback or offer suggestions!

Thanks again!

[2017-11-09 00:15] ndanielsen opened #291 "Replace nose with pytest (test runner)"
As nose has not been maintained for 2.5 years now, we should swap out nose with pytest for the test runner.

[2017-11-09 00:53] ndanielsen commented on #291
@bbengfort we need to update the travis-ci too look something like this:

{
  "language": "python",
  "python": "3.6",
  "before_install": [
    "sudo apt-get build-dep python-scipy",
    "pip install scipy",
    *"pip install pytest pytest_cov coverage mock",*
    "pip install coveralls requests"
  ],
  "install": "pip install -r requirements.txt",
  "script": "make test",
  "after_success": "cov

[2017-11-09 01:19] ndanielsen commented on #271
@bbengfort this is totally doable, recommend we add an optional dependency to do this:

https://github.com/jwass/mplleaflet

[2017-11-09 23:08] bbengfort commented on #288
@gary-mayfield do you want to take a look at this?

[2017-11-29 15:45] wiseyoungbuck opened #296 "Plot multiple visualizations without retraining of model."
Is there a way to do this? If so, is it in the documentation? I haven't been able to find an example or reference in the docs.

[2017-11-30 20:01] bbengfort commented on #296
We're still working on a clearer solution to this using `VisualPipelines` -- which will allow multiple visualizers to be fit and drawn one at a time. We're having some challenges inside of notebooks with this, so it isn't quite ready yet, but hopefully, in an upcoming version it will be very clear how to do this.

Until then, you can certainly pass a fitted model to a `ModelVisualizer` and draw th

[2017-11-30 20:02] bbengfort opened #297 "Check if an estimator is fitted and visualize without modification"
Don't call fit on an already fitted estimator.

`ModelVisualizer` objects should be able to accept either a fitted or unfitted model; we shouldn't call fit on the model if it's already fitted, especially if `fit()` is a hook for drawing.

Moreover there are a series of visualizers that use `fit()` to draw themselves but only need information from the model, there should be a shortcut function for

[2017-11-30 20:02] bbengfort commented on #296
See #297

[2017-11-30 20:02] #296 closed

[2017-12-02 22:58] wiseyoungbuck commented on #296
Thanks for the prompt response. I'm looking forward to the new pipelines.

[2017-12-06 18:51] lstmemery opened #299 "ClassificationReport documentation refers to colormap. Code refers to cmap"
The documentation for the ClassificationReport says to use the `colormap` keyword. This does nothing, `cmap` does, however.

Minimal example:

[code]
vs.

[code]

I love this project and would be willing to submit a pull request to fix this.

[2017-12-07 00:24] bbengfort opened #301 "ConfusionMatrix FontSize"
The confusion matrix label font size is hardcoded to 8pt: https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/classifier/confusion_matrix.py#L228

It appears that this may be a tad too small: https://stackoverflow.com/questions/47450804/yellowbrick-increasing-font-size-on-yellowbrick-generated-charts

We should probably remove this line and make it default to the matplotlib fo

[2017-12-12 21:22] Aylr opened #302 "RadViz fails to plot points if NaNs exist"
# Ideas

- Should this raise an error or a warning to alert the user to potential problems?
- Should it optionally impute data and inform the user?
- Did I miss something obvious in the docs?

# Steps to Reproduce

1. Find or create a dataset that has some null/nan values
2. load a dataframe
3. create the visualization.
4. Note that it plot is created with no points. This isn't a great experience

[2017-12-13 15:03] bbengfort commented on #302
@Aylr thanks for submitting the issue, it was certainly complete and well thought out!

A quick clarifying question: do all rows in your data set have at least one NaN or None value, or is it just some of the rows in your dataset? I can understand why the computation does not plot rows in the data frame that has a single null value - in fact, I'm surprised that it didn't raise some extremely obtus

[2017-12-13 15:06] bbengfort commented on #299
@lstmemery thanks for letting us know, and we're glad you love the project. Let's standardize on `cmap` -- I think it makes as much sense as `colormap` and is used widely in the `matplotlib` literature. We'd love a PR if you could provide it; would you also mind glancing over other visualizers to help us standardize on `cmap`?

[2017-12-14 05:35] Aylr commented on #302
Thanks for the detailed and thoughtful response!

It appears that it is only some of the rows that have null/nan/None values. None of the columns are fully null/nan/None.

I totally agree on your assessment that a warning (number 2 in the first list) is the best UX and most rigorous data-wise.Thanks for the response on each option.

I'll dig into the excellent suggestions 1-3 and 5 to keep the sco

[2017-12-14 05:45] Aylr commented on #302
For the record using the identical dataframe that causes this issue, pandas radviz plots successfully.

[2017-12-14 16:32] bbengfort commented on #302
Awesome - thanks! I'll take a look at the PR later this week when I get a chance. I wanted to provide some quick test code in this issue since you're using a data set that I'm unfamiliar with:

Dataset generation:

[code]

This gives us a quick, small, and fairly decent classification dataset. We can then add missing values as follows:

[code]

`Xm` looks something like:

[code]

I'll try to use t

[2017-12-14 16:43] bbengfort commented on #302
For missing values I was thinking of something simple like:

![barg](https://user-images.githubusercontent.com/745966/34003687-ed0125ea-e0c3-11e7-8732-477042402bd0.png)

But maybe conditioned by class (e.g. different color bar for each classes' percentage of missing values). And maybe add another bar, % rows missing at least one value.

[2017-12-15 22:53] lstmemery commented on #299
@bbengfort I can do this tomorrow :)

[2017-12-16 18:32] lstmemery commented on #299
@bbengfort I'm following the CONTRIBUTING.md, but I can't assign this issue to myself or open a PR without making changes. How should I proceed?

[2017-12-18 15:47] bbengfort commented on #299
@lstmemery I've assigned you the issue - I thought we figured out how to get GitHub to let you do that a while back; we must have then broken it again. As for the PR go ahead and open it as soon as you can but you can do a little investigation first -- this isn't a big feature and I don't expect it to require a lot of review so please feel free to work then do the PR.

[2017-12-19 02:46] Aylr commented on #302
@bbengfort I stumbled across this rad looking module that you should see. https://github.com/ResidentMario/missingno

I'm not sure about your thoughts on using it here, but it is definitely a cool take on missing data!

[2017-12-19 15:01] ndanielsen commented on #302
@Aylr that is an awesome module

[2017-12-19 16:54] bbengfort commented on #302
@Aylr that is a very cool module - perhaps we could contact the author and see if they wanted to include a Yellowbrick interface to their module?

[2017-12-28 17:46] bbengfort opened #305 "Tree-Depth Plots"
For random forest hyperparameter tuning.

See [Finding Similar Days for Air Traffic Management](https://cloudfront.escholarship.org/dist/prd/content/qt0dn6d6h9/qt0dn6d6h9.pdf) for examples.

Create a parameter to set the y-axis to either concordance index or brier score:

http://scikit-learn.org/stable/modules/generated/sklearn.metrics.brier_score_loss.html
https://github.com/sebp/scikit-survival/

[2017-12-28 18:38] bbengfort commented on #302
Fixed in #304

[2017-12-28 18:38] #302 closed

[2018-01-03 00:40] derekflint commented on #252
+ 1

[2018-01-03 16:12] dylanking42 commented on #297
Is this related to the sklearn.utils.validcation.check_is_fitted?
http://scikit-learn.org/stable/modules/generated/sklearn.utils.validation.check_is_fitted.html

SO discussion on related topic:
https://stackoverflow.com/questions/39884009/whats-the-best-way-to-test-whether-an-sklearn-model-has-been-fitted

check is fitted will raise an error if a model IS NOT fitted, but maybe it could be use to b

[2018-01-03 16:53] bbengfort commented on #297
@dylanking42 that's a great idea - I think `check_is_fitted` is exactly what we need for this! Did you want to submit a PR that fixes this?

[2018-01-03 18:27] dylanking42 commented on #297
If I knew how I would have already done it -_-

[2018-01-03 18:38] bbengfort commented on #297
Totally understood, no worries! The links and notes are very helpful!

[2018-01-10 17:47] ianozsvald opened #306 "YellowBrick not compatible with statsmodels estimators (and a trivial wrapper as a light fix)"
I'm comparing GLMs in `statsmodels` and other models in `sklearn`. I wanted to use a consistent visual output but realised that `yellowbrick` only understands the `sklearn BaseEstimator`.

I've written a trivial wrapper (i.e. - it works for me, it may not do what you need!) around a `statsmodels GLM` that makes it 'look like' a `BaseEstimator`, in the eyes of `yellowbrick`. As a result I can creat

[2018-01-11 15:09] ndanielsen commented on #306
@ianozsvald thank you! this is a very helpful wrapper that you've contributed here. at our next maintainers meeting, we'll discuss how we might be able to potentially incorporate this in. Maybe in a `contrib` module to start

[2018-01-23 12:25] alexanderbachmann opened #307 "Yellowbrick on Kaggle"
How can I import yellowbrick module into Kaggle? It seems that it is not recognizing the module even though I have it installed.

[2018-01-23 14:32] gary-mayfield commented on #307
Someone please correct me if I'm wrong.

As far as I know the kernels on Kaggle run from docker image maintained here [https://github.com/Kaggle/docker-python](url)

They accept pull requests for new packages so you could add "pip install yellowbrick" to Dockerfile and submit request for them to add it.

[2018-01-23 14:34] alexanderbachmann commented on #307
Thanks for the help i will do exactly that and see if it works.

On Jan 23, 2018 10:32 AM, "Gary" <notifications@github.com> wrote:

[2018-01-23 14:45] ndanielsen commented on #307
@alexanderbachmann thanks for doing this. 💯

If you'd like, share a link to your kernel and I'll be sure to upvote it

[2018-01-23 14:51] alexanderbachmann commented on #307
https://www.kaggle.com/janiobachmann/crystall-ball-house-prices-eda-ensembling

This is the link to the uploaded kernel. I going to fix the issue with regards to importing the yellowbrick module into the kaggle project. But basically, what I want to do with yellowbrick which I did in my Jupyter notebook locally is a "residual plot". Currently, I am just using a simple matplotlib scatter plot until

[2018-01-23 15:09] ndanielsen commented on #307
@alexanderbachmann thanks for sharing. That's an indepth and highly detailed kernel! Great visualizations and layout! ✨

I can also make the PR to the kaggle docker image if you prefer!

[2018-01-23 15:17] alexanderbachmann commented on #307
Thanks! Please do and thanks for the help!

[2018-01-23 16:38] ndanielsen commented on #307
Added yellowbrick to the kaggle-docker file that powers their kernels here:
https://github.com/Kaggle/docker-python/pull/168

[2018-01-24 03:04] ndanielsen commented on #307
@alexanderbachmann I missed worded my comment above. I made pull-request into that repo. The kaggle team will likely take a look and either accept/ deny the PR. If accepted, they will bring it into their main branch and eventually push it into their servers.

I couldn't give you a timeline for this but they do seem to be fairly response on incoming pull requests.

[2018-01-24 12:09] alexanderbachmann commented on #307
Ok thanks for the help! If they replied to you could you send me a message
in order for me to know if I could use yellowbrick in my Kaggle project?
Have a nice day.

On Tue, Jan 23, 2018 at 11:04 PM, Nathan <notifications@github.com> wrote:

[2018-02-03 15:20] bbengfort opened #308 "Finish GridSearch Color Plot"
@pbs929 completed a GridSearch Visualizer as per #12 in #261  but there are still a couple of steps to get this fully completed.

- [ ] create a test file and test stubs
- [ ] complete integration tests with basic visualizations
- [ ] update documentation with model selection visualizers

[2018-02-03 15:20] bbengfort commented on #12
Completed in #261

[2018-02-03 15:20] #12 closed

[2018-02-09 21:32] ianozsvald commented on #301
+1!

I'm changing my matplotlib defaults as on my UHD screen the tiny labels are hard to read, this is fine for the `ClassificationReport` but `ConfusionMatrix` is stubbornly unreadable. I'm planning to include these yb plots in a talk for the PyDataLondon conference this year. Unless there's a compelling reason to hard-code to size 8, I'd suggest using the `mpl` defaults.

The hardcoding occurs 3

[2018-02-12 16:39] Emiller00 opened #310 "Text Focused Decision Boundry Visualizer"
So I am finding Yellowbrick's t-sne visualizer to be very useful for easily inspecting text corpora. However, while it is useful for deciphering if text data is linearly separable, it can't be used to evaluate classifiers. For this reason, I propose a visualizer that can be applied to this problem.

Text is unique because it is high dimensional. Many of the techniques used in classifying it involv

[2018-02-16 00:26] ndanielsen commented on #307
@alexanderbachmann confirming that yellowbrick is now on kaggle

[2018-02-16 00:26] #307 closed

[2018-02-16 00:31] ndanielsen opened #311 "Yellowbrick Notebook / Kernel on Kaggle"
Yellowbrick is now on kaggle: https://github.com/DistrictDataLabs/yellowbrick/issues/307

It would be great if we could have a kernel going through the entire data exploration and model selection process with yellowbrick.

[2018-02-16 00:45] ndanielsen commented on #307
@alexanderbachmann let us know when your kernel with yellowbrick is live!

[2018-02-16 10:50] alexanderbachmann commented on #307
Thanks so basically the only thing I have to do is import Yellowbrick
right? I'll check right now if it works on kaggle. Thanks for the update.

On Thu, Feb 15, 2018 at 8:45 PM, Nathan <notifications@github.com> wrote:

[2018-02-16 11:10] alexanderbachmann commented on #307
Its already live on kaggle. You can check it out in this link.
https://www.kaggle.com/janiobachmann/in-depth-analysis-house-prices-ensembling

Another last question, is it possible to change test data in my legend for
validation data? Thanks again for the update.

On Fri, Feb 16, 2018 at 6:49 AM, Janio Bachmann <janiobachmann@gmail.com>
wrote:

[2018-03-01 00:43] rebeccabilbro commented on #310
Sounds great @Emiller00 - we're looking forward to seeing what you come up with! Have you already opened up a preliminary PR?

[2018-03-01 05:25] rebeccabilbro opened #312 "Demonstration/walkthrough proposal on how to use ClassBalance (and variations) to bin continuous values for classification"
I. Title
Better Binning for Classification Problems:
Creating Categorical Values from Continuous Values

II. Premise
- A lot of machine learning problems in the real world suffer from the curse of dimensionality; you have fewer training instances than you’d like, and predictive signal is distributed (often unpredictably!) across many different features.
- One example is when your target is continu

[2018-03-01 05:44] lwgray commented on #312
You beat me to it...

[2018-03-01 15:29] Emiller00 commented on #310
I have not. But I can soon! FWIW, I am open to suggestions for text corpora to use! If not I can always use a standard one.

[2018-03-02 11:24] lwgray commented on #312
Has the coding for the corpus reader, TextBormalizer, and Pipeline been completed?

[2018-03-02 12:58] rebeccabilbro commented on #312
Hey there @lwgray - yes; here's the `TextNormalizer`:

[code]

I should have some time to work on the draft tomorrow, so I'll post the corpus reader and preprocessor then!

[2018-03-02 13:01] rebeccabilbro commented on #310
There's always the Baleen corpus! You can grab a random ~500 MB sample [here](http://pycon.districtdatalabs.com/corpora/baleen/20160525/sample.zip).

[2018-03-02 14:58] lwgray commented on #312
If you need any help with the coding, just let me know 😄

[2018-03-02 15:35] bbengfort commented on #307
@ndanielsen any insight for @alexanderbachmann?

[2018-03-02 16:06] bbengfort commented on #194
See #58

[2018-03-02 16:09] bbengfort opened #313 "Features Arg --> Labels Arg"
In keeping with Scikit-Learn, let's change arguments called `features` to `labels`. Need to consider backward compatibility.

This is mostly in the feature visualizers.

[2018-03-02 16:10] bbengfort opened #314 "Check utilities"
Scikit-Learn has some utilities called _check_target and _check_instances to handle multiple types of input (e.g. data frames, etc.) we should directly use these utilities in our code.

[2018-03-02 16:12] bbengfort opened #315 "Fix Travis Tests"
Our travis tests are starting to kill me - we need to find a way to make this more robust.

@ndanielsen can we use our next office hours to go over this if you're not too busy with blog writing?

[2018-03-02 16:15] bbengfort opened #316 "Finish decomposition explained variance visualizer"
Thanks to @georgerichardson we have an explained variance visualizer for PCA decomposition. This needs to be wrapped up as follows:

- [ ] expressiveness for other explained variances
- [ ] labeling and key values features
- [ ] tests
- [ ] documentation

See #238

[2018-03-02 16:16] ndanielsen commented on #315
I know what the error is, it's related to the changes in the ROC awhile ago.

It's more of a deep bug to fix in how we select colors.

[2018-03-02 16:17] ndanielsen commented on #315
Yeah, I'll find a little time to get the fix actually in a PR over the weekend and next week. We can review at the next office hours.

[2018-03-02 16:19] bbengfort commented on #315
Awesome, ok thanks -- and we do have a bunch of work to do with the colors stuff. If you can get started with the PR I'd really appreciate it.

[2018-03-02 16:27] bbengfort commented on #315
What I'm going to do in the meantime is mark them as xfail.

[2018-03-03 01:20] bbengfort commented on #194
Copied from @ianozsvald on #195  for reference as we develop this further.

At the risk of adding noise - I'll note that commonly I create the following code to look for the most important features in a RandomForest:
![image](https://user-images.githubusercontent.com/273210/27447491-0a15df9c-5779-11e7-95fa-03677f614e97.png)

[code]

In #194 the sklearn visualisation was noted http://scikit-learn.o

[2018-03-03 04:44] bbengfort commented on #291
This is done and we have flakes and spec - will create another issue for overhauling unittest.

[2018-03-03 04:44] #291 closed

[2018-03-03 04:49] bbengfort opened #318 "Overhaul unittest and fixtures"
Remove dependency on `unittest.TestCase` by replacing assertions with `assert` statements. This also involves using `pytest.raises` and `pytest.skip` decorators.

Use PyTest fixtures for datasets and other fixtures.

~Add PEP checking to pytest (alongside pyflakes)~

- [x] rename `ThingTests` to `TestThing`
- [x] assertions
- [x] pytest.skip
- [x] dataset fixtures
- [ ] ~PEP8~

Alongside this we s

[2018-03-03 10:24] lwgray commented on #312
### Confusion Matrix and Class Balance: Before Class Adjustment
![confusionmatrix-before](https://user-images.githubusercontent.com/1000117/36933177-c0eb9734-1ea2-11e8-9827-7ef89ca64a12.png)
![classbalance-before](https://user-images.githubusercontent.com/1000117/36933180-d1936210-1ea2-11e8-845b-3772dcddb7f6.png)

### Confusion Matrix and Class Balance: After Class Adjustment
![confusionmatrix-aft

[2018-03-03 12:46] ianozsvald commented on #194
I think there's a nice opportunity here for a complementary analysis alongside ELI5's `show_weights` and `explain_weights`: http://eli5.readthedocs.io/en/latest/tutorials/xgboost-titanic.html

ELI5 is exposing high-level explanations from models (including per-prediction explanations). https://github.com/slundberg/shap is also doing something similar, both build on LIME.

I'd  _love_ to have high

[2018-03-03 15:14] bbengfort commented on #194
@ianozsvald well that's a pretty good motivation to get moving on it! The simple feature importances visualizer will be up soon then we can look at something tree-specific.

[2018-03-03 15:24] bbengfort opened #319 "Better handling of structured arrays"
We need to handle the following types of input:

- Numpy arrays
- Structured arrays
- Pandas DatafFrames

The Numpy arrays should be both sparse and dense.

Right now we don't have a good solution for handling structured arrays. See: https://stackoverflow.com/questions/49085469/convert-structured-array-to-numpy-array-for-use-with-scikit-learn for more on this topic.

Potentially what we'll have to

[2018-03-03 15:29] bbengfort commented on #265
I absolutely think that the `features` argument should allow specification of a subset and this is a great feature to add -- one that is currently getting some tracking with your recent code cleanup as well as the new `FeatureImportances` visualizer which ranks features.

Currently, our thinking is that there should be three input data types:

- Numpy array
- DataFrame
- Structured array

Both the

[2018-03-03 15:30] rebeccabilbro commented on #312
@lwgray nice! Would you be interested in taking a crack at pulling the prototype code that @bbengfort wrote into a new `ClassBalanceHeatMap` visualizer using the [Yellowbrick API](http://www.scikit-yb.org/en/latest/contributing.html#visualizer-api)? It would be awesome to be able to reference the work-in-progress in my post, and then maybe you could do a follow-up post on creating a new Yellowbric

[2018-03-03 16:12] bbengfort commented on #297
The check fitted method requires params to be known in advance. We can have visualizers specify those params using an internal `_is_fitted` or `fit_params` mechanism. We should also capture `sklearn.exceptions.NotFittedError` and raise `yellowbrick.exceptions.NotFitted` instead.

Here is some sample utility code from a previous project (though this needs to be refined a lot:

[code]

[2018-03-03 16:18] bbengfort opened #320 "Remove cross_validation and use model_selection"
We're still getting deprecation warnings even after bumping the sklearn dependency to 0.19 -- must investigate this.

[2018-03-03 16:28] NealHumphrey commented on #318
@bbengfort what's the motivation for removing the unittest dependency?

[2018-03-03 16:44] bbengfort commented on #318
@NealHumphrey the short answer is that weird things happen when you mix and match pytest and unittest - my primary concern is test discovery. PyTest expects `TestThing` vs `ThingTests` (although I guess that is more of a nose thing than a unittest thing). Plus pragmas and marks (e.g. skip, xfail) behave slightly differently. I think it's better to standardize on one or the other.

Because our feel

[2018-03-03 17:56] rebeccabilbro commented on #318
Yeah @NealHumphrey, this is sort of a follow on from #291 -- after we discovered last year that [nose wasn't being maintained anymore](https://twitter.com/llanga/status/826144101833732097) and started converting all the tests to pytest.

[2018-03-03 18:48] bbengfort commented on #58
Closed by #317

[2018-03-03 18:48] #58 closed

[2018-03-04 00:31] rebeccabilbro commented on #312
FYI @marskar @lwgray @yzyzy - Still have some sections to flesh out, but you can see my draft in development [here](https://github.com/rebeccabilbro/rebeccabilbro.github.io/blob/master/_drafts/critical-binning.md).

[2018-03-04 02:06] lwgray commented on #312
I will give it a shot.  However, this is my first implementation of a visualizer.  I might need your assistance if I get stuck.   😟

[2018-03-04 02:30] rebeccabilbro commented on #312
Awesome! Sure thing @lwgray -- definitely start by checking out the [Visualizer API description](http://www.scikit-yb.org/en/latest/contributing.html#visualizer-api) in the docs. The best strategy is to open a pull request early that describes and scopes the task so that us maintainers can be ready and available to assist as needed. Look forward to seeing what you come up with!

[2018-03-05 16:04] bbengfort commented on #305
Note: create a `yellowbrick.tree` package specifically for tree visualizers. See also #194

[2018-03-05 16:25] bbengfort opened #322 "Improvements for FeatureImportances visualizer"
There are a couple of enhancements for the `yellowbrick.features.FeatureImportances` visualizer that should be made to really make it stick out. They are as follows:

*Note to contributors: items in the below checklist don't need to be completed in a single PR; if you see one that catches your eye, feel to pick it off the list!*

- [ ] color negative coefs
- [ ] top n features to filter number dis

[2018-03-05 17:00] bbengfort opened #323 "tSNE Value Error when no classes are specified"
See [yellowbrick t-SNE fit raises ValueError](https://stackoverflow.com/questions/48950135/yellowbrick-t-sne-fit-raises-valueerror):

The issue has to do with the way numpy arrays are evaluated in 1.13 - we need to change [yellowbrick.text.tsne Line 256](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/text/tsne.py#L256) to `if y is not None and self.classes_ is None`

code

[2018-03-06 02:32] lwgray commented on #312
@rebeccabilbro I read through your drafts 3 times.... I think it is fun and fairly through.  The only question I have is if you will discuss changing your binning so that the classes are better balanced.

Also, do you think we could talk for 10 minutes at the March 14th meeting, I would like to understand some of your coding decisions.

[2018-03-06 16:28] ccjolley opened #324 "Wrong parameter name in docs for PCADecomposition"
Hi... this is a super-minor issue, but it tripped me up for a bit. The documentation for the PCADecomposition constructor (http://www.scikit-yb.org/en/latest/api/features/pca.html) has the following example:

`visualizer = PCADecomposition(scale=True, center=False, col=y)`

When I tried this in my own code, the color-coding didn't work unless I used the full name of the `color` argument, i.e.:

`v

[2018-03-06 16:43] ndanielsen commented on #324
@ccjolley thanks for writing up this ticket! Super important that we get the documentation correct.

[2018-03-06 16:48] ndanielsen commented on #324
A quick look shows that we have this incorrectly documented in two places:

https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/api/features/pca.rst

https://github.com/DistrictDataLabs/yellowbrick/blob/c5b2346c03ba5b8aaadf6a4037b1939e9f3063a2/yellowbrick/features/pca.py#L134-L144

@ccjolley you're welcome to make a PR in with the fixes if you would like (and would get the credit for

[2018-03-06 17:15] ndanielsen opened #325 "Radviz colors - Support Colormap and colors arguments"
Currently Radviz does not support adding a custom color palette.

Here's the segment of code to change / improve :
https://github.com/DistrictDataLabs/yellowbrick/blob/c5b2346c03ba5b8aaadf6a4037b1939e9f3063a2/yellowbrick/features/radviz.py#L176-L183

[2018-03-08 20:11] lwgray opened #326 "Estimator Attributes - Naming Convention - Audit"
Yellowbrick has adopted the sklearn naming convention regarding estimator attributes.  We have found that there is some inconsistency in our application of this naming convention.

#### What is this naming convention?
Simply, estimator attributes should be suffixed with an underscore.

#### What is an estimator attribute?
@bbengfort states that estimator attributes should either be hyperparameters

[2018-03-08 20:25] ndanielsen commented on #326
@lwgray thanks for creating this issue.

I think that this would be a great issue to resolve before pycon (along with some other bug fixes and general maintenance).

[2018-03-10 20:38] ndanielsen opened #328 "Fix typos in the documentation."
This task will create one or more PRs into the main code branch to fix these.

There are a few places in the documentation that could use a little polish - they are missing imports or there is a simple typo.

Group:
@Kautumn06
@ndanielsen (technical support)

[2018-03-10 20:42] wagner2010 commented on #328
One place that I found that is missing an import statement is with Rank 1-D http://www.scikit-yb.org/en/latest/api/features/rankd.html#

- [ ] Add import statement for rank 1-D

copying the code as is produces a NameError:
NameError                                 Traceback (most recent call last)
<ipython-input-70-40231c1a8401> in <module>()
      1 # Instantiate the 1D visualizer with the Sharpi

[2018-03-10 20:54] wagner2010 opened #329 "Cannot import Rank 1-D"
Import error
<img width="1102" alt="screen shot 2018-03-10 at 3 54 07 pm" src="https://user-images.githubusercontent.com/24282993/37246647-51c0268e-247b-11e8-8aaa-8ce3784ef9bc.png">

[2018-03-10 20:55] ndanielsen commented on #329
@wagner2010 thanks for much for flagging this issue! I'll take a look and get a fix in place for this one

[2018-03-10 20:58] bbengfort commented on #320
Fixed in 957cd53

[2018-03-10 20:58] #320 closed

[2018-03-10 22:03] Kautumn06 opened #331 "RadViz does not support Pandas DataFrames"
I tried to use a Pandas DataFrame with RadViz and received the following error:

`ValueError: Unable to coerce to DataFrame, shape must be (20560, 5): given (1, 5)`

Here is the code I used:

[code]

[2018-03-10 23:00] ndanielsen commented on #331
@Kautumn06 thanks for creating this issue!

[2018-03-11 23:18] ndanielsen commented on #329
@wagner2010 just ran it and you can import the Rank2D like this.

I also added tests in https://github.com/DistrictDataLabs/yellowbrick/pull/332 to confirm that they are accessible

[2018-03-13 00:30] Juan0001 commented on #312
@rebeccabilbro I read through the draft and think it's great. My question here is it seems to me that you are trying to see if they can build a ClassBalanceHeatmap visualizer so you can see where your prediction goes wrong with different classes in a bar chart. However, this doesn't seem like solve your problem of the non-balanced sample from the beginning when you try to assign them from differen

[2018-03-13 13:21] bbengfort opened #334 "Create target package for supervised target visualizers"
For supervised machine learning, there is some independent analysis that must be conducted on the target vector; for example label encoding, "bucketization", etc.

For visualizers:

- move the class balance here without requiring a model, fit, or score
- perform detection of sequential or categorical data (and associated colors)
- plot feature/target correlations in this package

[2018-03-13 15:24] NealHumphrey commented on #318
Adding a TODO:
- [ ] Update the [documentation](http://www.scikit-yb.org/en/latest/contributing.html#testing) for contributors

[2018-03-13 23:35] mattharrison commented on #91
Is it possible to add ``inertia_`` as a metric to the elbow plot as seen in
https://stackoverflow.com/questions/41540751/sklearn-kmeans-equivalent-of-elbow-method

It has a nice feature in that it should be monotonically decreasing and makes interpretation of said plot simple.

[2018-03-14 00:55] NealHumphrey commented on #318
As noted in my pull request, I had trouble running `pytest` locally including pyflakes and coverage. On Windows, haven't tried it on Mac yet.

What I tried:
1) Create a new virtual environment (using conda)
2) activate it `activate yb`
3) pip install pytest (b/c it's not in the requirments.txt, see TODO in previous comment), which installed 3.4.2 plus some dependencies, and `pip install --upgrade

[2018-03-14 00:56] NealHumphrey commented on #318
@bbengfort see above

[2018-03-14 05:11] mattharrison commented on #301
+1 Was just going to file this

[2018-03-14 17:54] bbengfort commented on #91
@mattharrison that's a great idea; I'll add that to the wrap up for this issue!

[2018-03-14 18:15] bbengfort commented on #318
@NealHumphrey, thank you for the detailed notes. This is a very good point; the documentation has been updated with pytest, but is currently in develop and will be moved to latest once we go to 0.6 (very shortly). If you could review the develop documents we can try to adapt them to make it a bit friendlier.

In [Forking the Repository](http://www.scikit-yb.org/en/develop/contributing.html#forking

[2018-03-14 18:48] Juan0001 commented on #312
@rebeccabilbro I created a visualizer to help with balanced binning. You can create a balanced binning based on the referenced value created from the visualizer. You can check it via the following link:
https://github.com/Juan0001/yellowbrick-balanced-bin-reference/blob/master/balanced_binning.ipynb

I was trying to put the package on yellowbrick, but don't have a permission. Could you help me? Th

[2018-03-14 18:52] bbengfort commented on #312
@Juan0001 very nice! We'd love to review your work and add it to Yellowbrick. The way we do this is to have you fork the Yellowbrick repository into your own GitHub account; once you've done that you can create a pull request so that we can go over your additions, and once approved we merge them into Yellowbrick.

Detailed instructions are here: [Contributing to Yellowbrick](http://www.scikit-yb.o

[2018-03-15 01:15] Zeynepelabiad opened #337 "Create a localization for Turkish language docs"
I would like to translate some of the yellowbrick documentation into Turkish. Can you please create a localization for Turkish-language docs.

[2018-03-15 02:40] ndanielsen commented on #331
@Kautumn06 I added some tests to the RadViz and it seems to support pandas dataframes in the tests that I wrote / adapted from your example. Can you take another look at this?

https://github.com/DistrictDataLabs/yellowbrick/pull/338/files

[2018-03-15 13:50] bbengfort commented on #337
I'm glad you're willing to do this! I'm currently looking into how to do it for Chinese, once I've got that setup, I'll also set it up for Turkish.

[2018-03-16 02:23] bbengfort commented on #337
Repository has been set up: https://github.com/DistrictDataLabs/yellowbrick-docs-tr

@Zeynepelabiad you should have write access to that repository.

Docs can be found here: http://www.scikit-yb.org/tr/latest/

(Note the tr language code).

Feel free to get started on the translation!

[2018-03-16 02:23] #337 closed

[2018-03-16 02:26] bbengfort opened #339 "Create Chinese language localization of Yellowbrick documentation."
New repository is here: https://github.com/DistrictDataLabs/yellowbrick-docs-zh

Docs can be found at: http://www.scikit-yb.org/zh/latest/

@Juan0001 you've been added to the above repository and should have write access to it.

[2018-03-16 02:27] #339 closed

[2018-03-16 14:09] ndanielsen opened #340 "Code Conventions Guide for Documentation and Examples"
In our documentation and code examples, we have several different styles around referring to the workflow and how to format code examples.

It would be helpful to identify and establish a handful of code conventions that we follow to reduce the cognitive load for using this library.

Code Examples:
- Should always include the import path of the visualizer

[2018-03-16 14:36] ndanielsen opened #341 "Create yellowbrick.contrib and deprecate non-core visualizers"
I that we should create a `yellowbrick.contrib` module to store visualizers, utilities and other functionalities  that are prototypes, works in progress or just plain experimental.

For the core of Yellowbrick, only highly stable, fully tested, high value added and well documented visualizers and etc should be allowed to pass in.

I think that the first step should be to identify visualizers that

[2018-03-16 14:37] ndanielsen commented on #341
@bbengfort @rebeccabilbro @NealHumphrey any thoughts on this proposal?

[2018-03-16 14:41] bbengfort commented on #341
Yes, I think this is the best way to move forward; we can have new contributors add to contrib, then as they become documented move them into the main library.

I do have two questions:

- Tests?
- Contrib documentation?

For the first, I'm thinking we just have test files next to the actual files in contrib; but we can have pytest ignore them so they're not part of CI (pytest will run them on dem

[2018-03-16 14:42] bbengfort commented on #341
Also for us, we can add visualizers directly to the main code base, but it is expected we will test and document them; and if we want to do something prototype-y we can put it in contrib; only brand new contributors are expected to add to contrib until after their first PR?

[2018-03-16 14:51] bbengfort commented on #340
This relates to #327 where I mentioned:

A more extensive overhaul of color and color handling in YB is required. We have 4 different methodologies that are mixed and matched in kind of a strange fashion. More than that, Yellowbrick-specific requirements have emerged. Briefly, they are:

- We need discrete colors that are visually separate for classes
- We need continuous colors for regression val

[2018-03-16 14:51] bbengfort commented on #340
If it's ok with you - I'd like to turn this issue into the issue that handles that, and part of the definition of done will be to update the documentation and create a style guide.

[2018-03-16 15:16] ndanielsen commented on #341
I agree with the contrib documentation suggestion. For testing of contrib, I think that it can take one or two options - they can live in test/test_contrib or be right next to the actual files. I'd be fine with either and potentially both as long as we can pytest ignore what we want.

For what is in main vs contrib, I think that we can easily agree on the quality of tests, value and docs around ea

[2018-03-16 15:19] bbengfort commented on #341
Also, Keras models would be very interesting to put into contrib.

[2018-03-16 17:46] ndanielsen commented on #340
@bbengfort I changed to title to more accurately reflect the intent of this issue. Instead of colors / styles / palletes, I meant to make this issue about Documentation Code Conventions:

We should have a consistent way of demonstrating how to use different visualizers.

One example is that we should always include the import statements about where the visualizer lives in the code sample. I've hea

[2018-03-16 17:47] ndanielsen commented on #331
closing this issue as it now has test coverage to confirm it works

[2018-03-16 17:47] #331 closed

[2018-03-17 01:57] wagner2010 commented on #329
Hey Nathan, Yes 2-D works but 1-D I still can't get it to work.
<img width="532" alt="screen shot 2018-03-16 at 9 56 36 pm" src="https://user-images.githubusercontent.com/24282993/37550514-ffad4aae-2964-11e8-877c-11c806f9fc51.png">

[2018-03-17 02:02] ndanielsen commented on #329
@wagner2010 okay, I'll take another look at this! thanks for your patience

[2018-03-17 14:25] rebeccabilbro opened #344 "Version 0.6.0 Release"
Steps for 0.6.0 version bump:

 - [ ] Branch release-0.6.0
 - [ ] Do version bump
 - [ ] Update tests and run tests
 - [ ] Create change log
 - [ ] Review documentation build
 - [ ] Merge into `master`
 - [ ] Push release to PyPI ([instructions](https://bbengfort.github.io/programmer/2016/01/20/packaging-with-pypi.html))
 - [ ] Create 0.6.0 tag
 - [ ] Copy change log to release notes
 - [ ] Push d

[2018-03-17 14:43] ndanielsen opened #345 "Code review checklist"
Creating a list that eventually will turn into some type of documentation for commonly identified items that might need to be checked for in a code review

Code Conventions
- Check ambiguous comparisons with numpy arrays, switching them to if y is not None etc, aka explicit testing for 'truthy' / 'falsy' values that might be obscured with numpy and other data containers
- added random_state to the

[2018-03-17 15:22] rebeccabilbro commented on #344
Markdown for GitHub repo:

**Deployed**: Saturday, March 17, 2018
**Contributors**: @bbengfort, @ndanielsen, @rebeccabilbro, @lwgray, @Kautumn06, @georgerichardson, @pbs929, @Aylr, @gary-mayfield, @jkeung

#### Changes
   - New Feature! The `FeatureImportances` Visualizer enables the user to visualize the most informative (relative and absolute) features in their model, plotting a bar graph of `fe

[2018-03-17 15:36] rebeccabilbro commented on #344
rst for the docs:

Version 0.6.0
-------------

* Tag: v0.6.0_
* Deployed: Saturday, March 17, 2018
* Contributors: Benjamin Bengfort, Nathan Danielsen, Rebecca Bilbro, Larry Gray, Kristen McIntyre, George Richardson, Taylor Miller, Gary Mayfield, Phillip Schafer, Jason Keung

Changes:
   - New Feature! The `FeatureImportances` Visualizer enables the user to visualize the most informative (relativ

[2018-03-17 16:07] rebeccabilbro commented on #312
Ok, draft now published [here](https://rebeccabilbro.github.io/better-binning/).

[2018-03-17 16:07] #312 closed

[2018-03-17 18:44] lwgray commented on #312
@rebeccabilbro @Juan0001
To me it isn't obvious what the reader can get out of visiting Juan's jupyter notebook.  Maybe say something like "If you are looking for an automated way to create balanced binning then checkout this visualizer in the works"

[2018-03-17 21:08] rebeccabilbro commented on #312
@lwgray - I believe @Juan0001's notebook is in draft form and she's still working on fleshing out some of the possible use cases.

[2018-03-17 23:51] Juan0001 commented on #312
@rebeccabilbro Thank you very much!
@lwgray You are right, the notebook version is not very clear yet. It's first version of the draft. In the later versions I will explain why I created this function, what can it do and how to use it in more details. Please let me know if there's anything else I need to improve, thank you very much.

[2018-03-18 12:23] #323 closed

[2018-03-18 13:06] #301 closed

[2018-03-18 13:32] bbengfort commented on #345
Documentation

- Is documented under `docs/api/[yb-module]`
- Has an image generation script with same name in `docs/api/[yb-module]`
- Is indexed under `docs/api/[yb-module]/index.rst`
- Is induxed under `docs/api/index.rst`
- Is listed on main listing page under `docs/index.rst`
- Is included in README.md
- Is included in DESCRIPTION.txt

(Maybe we should find a way to make this easier, programm

[2018-03-18 13:33] bbengfort commented on #345
Code Conventions:

- has a quick method
- subclasses the correct visualizer

Testing:

- uses pytest instead of unittest assertions
- uses yb test fixtures

[2018-03-18 17:17] bbengfort commented on #301
This is currently fixed and will be updated in the upcoming 0.6 release -- which should happen this week.

[2018-03-18 17:21] #324 closed

[2018-03-18 17:24] bbengfort commented on #329
@wagner2010 what version of Yellowbrick are you running? You can figure that out with:

[code]

[2018-03-18 21:45] bbengfort commented on #267
Updated in #348 -- classification report now looks like this:

![classification_report](https://user-images.githubusercontent.com/745966/37571521-084cd0a6-2ad4-11e8-8805-ff42828430c2.png)

@cgivre @ianozsvald -- this will be part of the upcoming v0.6 release of yellowbrick; thank you so much for your patience!

[2018-03-18 22:28] #267 closed

[2018-03-19 01:12] Aylr commented on #325
@ndanielsen Is there a visualizer where colormaps are implemented particularly well?

[2018-03-19 01:18] ndanielsen commented on #325
@Aylr thanks for asking, I think that this issue has been resolved in https://github.com/DistrictDataLabs/yellowbrick/pull/327 but I need to confirm

[2018-03-19 01:54] bbengfort commented on #325
@Aylr here is an [example](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/text/tsne.py#L306) but it's not great - does that help?

[2018-03-19 04:03] bbengfort commented on #344
@jkeung would you mind doing the conda release? It's already on PyPI.

[2018-03-19 04:18] #32 closed

[2018-03-19 17:33] Kautumn06 commented on #340
I submitted a pull request this morning that adds the missing import statements to the individual pages in the documentation. While I did make a few edits (such as fixing typos and making "Scikit-Learn" lowercase), I tried to focus on just adding the import statements for this pull request so that it would be easier to review. However, there are two other issues about our code blocks in the docume

[2018-03-19 18:45] bbengfort commented on #340
@Kautumn06 thanks for your thoughtfulness on the documentation, and I certainly understand where you're coming from. Perhaps what we can do is prioritize #219 -- the creation of a data module like scikit-learn, nltk, or seaborn; that way our users can recreate the code exactly with only one line of additional code.  I could probably get that done by the next time we meet.

One thing I'm concerned

[2018-03-19 19:07] ndanielsen commented on #340
I agree with the need to prioritize https://github.com/DistrictDataLabs/yellowbrick/issues/219 as it seems to repeated comment about our documentation. @Kautumn06 after your finish your next / current round of documentation edits, you're also welcome to try and tackle this one -- or not =)

[2018-03-19 20:26] ianozsvald commented on #267
Brilliant :-) Looking forward to it.

[2018-03-19 20:27] ianozsvald commented on #301
Brill :-)

[2018-03-19 21:03] bbengfort commented on #267
@ianozsvald released late last night!

[2018-03-19 21:08] bbengfort commented on #306
See #341 -- once we get the `contrib` module in place, we're planning on including this as well as possibly Keras visualizers in it; as well as some of our more prototype-y implementations.

[2018-03-20 01:53] ndanielsen opened #353 "Script to autogenerate images in docs"
Currently in our `docs` folder, we have code that generates png files to be used in the generated docs. It would be helpful to have a script to generate images and save them in the appropriate folder location.

related to: https://github.com/DistrictDataLabs/yellowbrick/issues/38

[2018-03-20 02:01] ndanielsen opened #354 "Scripts to Regenerate Tutorial and Quickstart Documentation Images"
In the documentation, the tutorial and quickstart need a script that can autogenerate the images similar to how they are done in the `doc/api/` section. The code to generate the images is located in the rst files and can be simple extracted and moved into a py file.

These scripts can live right alongside their .rst compatriots.

[2018-03-20 15:51] Kautumn06 commented on #340
@bbengfort I think you make a really great point about the amount of preparation code that a reader must go through before actually getting to the visualizations. If it's alright, I'd like to try to tackle #219 since I think it would have a bigger impact on our documentation than some of the smaller fixes I've been working on.

[2018-03-20 15:58] bbengfort commented on #340
@Kautumn06 absolutely - please feel free to message me on Slack as you're working through it if you have any questions or want to run anything by me.

[2018-03-21 21:55] bbengfort commented on #8
Fixed in #176

[2018-03-21 21:55] #8 closed

[2018-03-22 01:13] bbengfort commented on #45
Backlog grooming

[2018-03-22 01:13] #45 closed

[2018-03-22 01:14] bbengfort commented on #168
Fixed in #176

[2018-03-22 01:14] #168 closed

[2018-03-22 01:16] bbengfort commented on #64
Backlog grooming

[2018-03-22 01:16] #64 closed

[2018-03-22 01:22] bbengfort commented on #212
Backlog grooming

[2018-03-22 01:22] #212 closed

[2018-03-22 03:27] bbengfort commented on #305
<img width="570" alt="screenshot 2018-03-21 23 26 03" src="https://user-images.githubusercontent.com/745966/37749670-6965b456-2d5f-11e8-8076-b0e222d4dfc8.png">
<img width="575" alt="screenshot 2018-03-21 23 26 15" src="https://user-images.githubusercontent.com/745966/37749671-69753822-2d5f-11e8-9f05-b4e8636324af.png">
<img width="596" alt="screenshot 2018-03-21 23 26 30" src="https://user-images.g

[2018-03-22 12:08] bbengfort opened #359 "Add support metric to ClassificationReport"
Currently, the ClassificationReport omits support because it is difficult to put into the heatmap scale of (0.0, 1.0). We should still include it, however and _color_ it as the percent of the total number of records, while _labeling_ it with the actual support number.

[2018-03-22 12:33] #299 closed

[2018-03-22 12:39] bbengfort commented on #299
This has been fixed in the recent classification report updates #348 and I've also updated the docs a bit to make the classification report more detailed:

http://www.scikit-yb.org/en/develop/api/classifier/classification_report.html

[2018-03-22 15:48] Juan0001 opened #360 "ParallelCoordinates couldn't handle missing value when using normalization"
While I was trying to use ParallelCoordinates with normalization on a dataset with missing value, I got the following error.

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

I managed to get around it by normalize my data (by ignoring the missing value) before feed into the visualizer. Hope you can fix it within the visualizer.

Thank you.

[2018-03-22 16:42] bbengfort opened #361 "ClassificationScoreVisualizers should return accuracy"
See #358 and #213  -- classification score visualizers should return accuracy when `score()` is called. If F1 or accuracy is not in the figure it should also be included in the figure.

[2018-03-22 16:43] #213 closed

[2018-03-22 16:47] bbengfort commented on #361
This is a test alert @DistrictDataLabs/team-oz-maintainers

[2018-03-22 16:48] rebeccabilbro commented on #361
echo

[2018-03-22 21:59] rebeccabilbro opened #362 "Gatherplot Feature Visualizer"
Gatherplots could be a useful feature analysis tool for Yellowbrick, as they enable users to more easily visualize patterns in large datasets by stacking overlapping points.

### Proposal

It would be interesting to implement a `GatherPlot` visualizer in the Yellowbrick API to address the problem of overplotting of data points when visualizing large datasets in a scatterplot. Instead of overlappin

[2018-03-23 03:37] intuinno commented on #362
Hi, Rebecca.

Thank you for your kind suggestion.   If you are considering API, ATOM might be interesting to you, too.

https://intuinno.github.io/unit/#/

Thanks.

[2018-03-23 19:59] ndanielsen opened #363 "Visualizer for Missing Values Patterns"
It would be great to visualize missing data in a meaningful format that is easy to understand the patterns around it.

### Proposal/Issue

A basic implementation of the visualizer would include on the x axis, the labels / features and the y access would include a bar chart of the number of instances of a missing values.

A more advanced implementation of this would still have the x axis be the lab

[2018-03-23 21:38] #155 closed

[2018-03-23 21:41] bbengfort commented on #155
http://www.scikit-yb.org/en/develop/about.html#citing-yellowbrick

[2018-03-24 02:23] bbengfort opened #365 "Probability Calibration Curve"
When performing classification one often wants to predict not only the class label but also the associated probability to give a level of confidence in the prediction. The `sklearn.metrics.calibration_curve` method returns true and predicted probabilities that can be visualized across multiple models to make the best model selection based on reliability.

![Probability Calibration Curve](http://sc

[2018-03-24 11:51] bbengfort commented on #363
I really like this idea and I think it's fairly requested feature.

[2018-03-24 14:34] bbengfort opened #367 "Remove visualizer tests in type checking"
Many of the type checking utilities, e.g. `is_classifier`, `is_regressor`, etc. have a note to remove lines of code that are unnecessary after #90 is implemented.

For example see: [yellowbrick/utils/types.py#L64](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/utils/types.py#L64):

[code]

We should remove these lines of code and **ensure the tests have correct coverage**

[2018-03-24 14:35] bbengfort commented on #367
Another alternative is to:

[code]

[2018-03-24 17:26] bbengfort commented on #73
Sklearn apparently does have a type of target checker that returns continuous or classification as one of it's outputs:

https://github.com/scikit-learn/scikit-learn/blob/master/sklearn/utils/multiclass.py#L175

[2018-03-24 18:11] NealHumphrey commented on #341
One additional thought - what do you think about mirroring the project structure underneath the contrib folder? That way it will encourage people to put their new visualizers in the "right" place and thus make migration (slightly) easier, but still maintaining separation.

Also, instead of `contrib` what do you think about a name that encourages the thought that these are bleeding-edge features th

[2018-03-24 18:43] NealHumphrey opened #368 "CompareClassifiers visualizer"
When doing classification, I often want to compare the results of different scenarios to each other. Here a scenario is the full process of the model selection triple (features, model, hyperparameters) - if I make a change in any one of them, is it an improvement over previous scenarios?

In the [housing risk project](https://github.com/georgetown-analytics/housing-risk) I approached this by makin

[2018-03-25 00:02] NealHumphrey opened #369 "Add triangular git workflow helpers to documentation / contribution"
On the [contributing page](http://www.scikit-yb.org/en/latest/contributing.html) on the website and in [contributing.md](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/CONTRIBUTING.md) there are beginner-friendly instructions on how to make a fork of a repository. It would be useful to also include information about how to configure more than one remote repository (origin and upstrea

[2018-03-25 03:51] #84 closed

[2018-03-25 13:31] bbengfort commented on #84
@chrisRedwine sorry it's taken so long for us to get back to you - I've just been going through the backlog of issues and noticed your suggestion. This visualizer has actually been in Yellowbrick for a version or two now, but I've updated it to include f1 score as well as some annotations. You can find the docs for it here:

http://www.scikit-yb.org/en/develop/api/classifier/threshold.html

[2018-03-25 14:45] rebeccabilbro opened #370 "Error from KElbowVisualizer's distortion_score method"
`KElbowVisualizer` is generating a `ValueError` from Sklearn.

### Issue

Using the Yellowbrick `hobbies` corpus and vectorizing with TFIDF, the KElbowVisualizer is generating an error from Sklearn: `ValueError: Found array with dim 3. check_pairwise_arrays expected <= 2`. The `distortion_score` method appears to be causing the error when calling Sklearn's `pairwise_distances` method.

### Code
[c

[2018-03-25 17:59] bbengfort commented on #360
Missing data is definitely a problem for the visualizers. In general, we expect something that looks like this:

[code]

In the near term, perhaps this will help? In the medium term, @ndanielsen is working on some missing data visualizers (#366) and RadViz has actually been updated to visualize anything that is not a `nan` (#302)  so we could do that with parallel coordinates as well and prevent t

[2018-03-25 18:04] bbengfort commented on #341
I think mirroring (as far as it will allow) is probably a good idea.

The more I think about `contrib`, however, the more I think that it's going to be a place where visualizers that will never be included in the main yellowbrick package will go. For example, I've already talked to several people about:

- statsmodels visualizers
- tensorflow and keras visualizers
- classification selection visual

[2018-03-25 18:07] bbengfort commented on #368
@NealHumphrey - great idea and certainly a good start to the multi-model visualizer API! As per my last note on `contrib`, it doesn't necessarily have to go in `contrib` but we could prototype it in an edge branch.

In your demo, are in/out the names of the classes?

[2018-03-25 18:08] bbengfort commented on #369
I think this would be very helpful -- I had a question about this yesterday. I would focus on the contributing page in the RST docs; I want `CONTRIBUTING.md` to mostly forward people to the documentation, At least that way work won't get duplicated.

[2018-03-25 18:20] bbengfort commented on #161
Size is now a property

[2018-03-25 18:20] #161 closed

[2018-03-25 21:43] ndanielsen commented on #341
@NealHumphrey I agree with the mirroring idea. It's probably the most maintainable as well.

As for `contrib` naming convention, I appreciate the rationate behind your suggestions. I do agree with @bbengfort that it is a place for non-core visualizers and other utilities that are out of our core support of scikit-learn. I've been thinking that for the prototype / experimentation visualizers, we mi

[2018-03-26 16:29] ndanielsen commented on #368
Just wanted to jump in and say this is awesome

[2018-03-26 16:54] bbengfort commented on #370
I've discovered the source of the problem but not the cause.

In [`distortion_score`](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/cluster/elbow.py#L84) we take the mean of the instances along `axis=0` to find the centroid. We expect `instances` to be a 2D array, therefore the mean should be a 1D array. In order to pass this to the `pairwise_distances` function, we then

[2018-03-27 03:52] NealHumphrey commented on #368
@bbengfort yep in/out are class names. You can see my work in progress in the PR I just opened, which has class names that are more clearly classes.

[2018-03-27 13:27] #370 closed

[2018-03-27 13:56] bbengfort commented on #368
@NealHumphrey checkout:

https://github.com/HDI-Project/ATM

We've been talking to one of the folks on that project and we're thinking about adding some classification comparison visualizers that use ATM to the contrib package.

[2018-03-27 18:57] bbengfort commented on #204
Another option is the treemap:

http://scipy-cookbook.readthedocs.io/items/Matplotlib_TreeMap.html

[2018-03-28 20:56] wagner2010 commented on #329
Sorry for the delay.  It's working now.  I have upgraded to 0.6 now obviously.  Thanks.

[2018-03-28 20:56] #329 closed

[2018-03-28 23:51] ndanielsen opened #373 "Identify Estimator in Contrib"
Create an Identify estimator to allow yellowbrick to use datasets that already contain predicted probabilities

[code]

This concept was raised in a lab presentation by @ccjolley

[2018-03-29 00:14] ndanielsen commented on #340
Other TODOs
- Add to RST stub for visualizers to help with documenting visualizers

[2018-03-29 00:55] bbengfort opened #374 "CVScores"
Implement a visualizer that shows cross-validation scores as a bar chart along with the final score as an annotated horizontal line.

We want to start moving toward better cross-validation and model selection. Create `yb.model_selection.CVScores` visualizer that extends `ModelVisualizer` and wraps an estimator. Accepts a `cv` and `scoring` params, similar to the ones exposed in [`sklearn.model_sel

[2018-03-29 01:04] NealHumphrey opened #375 "Poof() should return ax"
Make sure that ll visualizers return the `self.ax` when calling poof(). This is so that users can always get access to the ax, for example when working inside a function in a notebook. In addition it will encourage the behavior pattern of tweaking the plot if desired after poof(). We will be adjusting our documentation to use this form to also encourage this behavior:

[code]

This why this behavi

[2018-03-29 14:29] ndanielsen commented on #341
@bbengfort

Regarding tests for `contrib`, I don't think that we shouldn't pytest ignore the `test_contrib` module. As we'll be having quite a bit of related non-core utilities,  we need to test these. I recommend that we make generous use of `skipifs` and `expectedfailure` type utilities if we need to.

[2018-03-29 23:15] Juan0001 commented on #360
@bbengfort That's exactly what I did for my problem. If the missing values are imputed before feeding into ParallelCoordinates, it will not have any problem. But I think it will be good to have a choice if we want to impute the missing value first before we use ParallelCoordinates. I will take a look at the package see if I could have any improvement on that.

Thank you very much!

[2018-03-30 14:47] bbengfort commented on #340
@Kautumn06 another thing I'm noticing in the documentation that would be great for you to fix: changing single backtick inline markup to double backtick inline markup. More details:

I'm seeing the following markup:

[code]

The backtick inline markup, ``, in [Markdown means code](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code), and I think that's what we're used to writing,

[2018-03-30 15:51] bbengfort commented on #116
I'm wrapping this up by generalizing it for both classification and regression and adding to documentation and a new model selection package. See #377

[2018-03-30 15:52] bbengfort commented on #374
@pdamodaran See #377 -- currently creating the `model_selection` package; might be renamed cross validation.

[2018-03-30 15:55] bbengfort opened #378 "Validation Curve"
Create validation curves to finish implementing the two types of validation curves in scikit-learn.

### Proposal/Issue

Scikit-learn provides two methods for diagnosing a model's sensitivity to bias vs variance as [validation curves](http://scikit-learn.org/stable/modules/learning_curve.html):

- [`learning_curve`](http://scikit-learn.org/stable/auto_examples/model_selection/plot_learning_curve.h

[2018-03-30 16:53] ndanielsen commented on #363
Others idea for related missing values visualizers:

Missing Values by Target (dispersion and bar), might be able to extend the currently in progress visualizers to do this.

[2018-03-31 00:56] #341 closed

[2018-04-02 14:31] bbengfort opened #379 "Export Travis-CI images to S3"
Create a TravisCI `after_failure` script that uploads actual images and diffs to S3 so we can diagnose TravisCI failures.

### Proposal/Issue

It seems like every time we push a commit to GitHub the TravisCI tests fail, even if they were working locally. Right now we're messing with the tolerances but with no real insight into what the key differences are in the CI environment vs locally. To bette

[2018-04-03 14:11] fdion opened #380 "In a Jupyter notebook, no display when poof is in a separate cell"
if visualizer.poof() is called in a separate cell, no visualization appears, as the empty plot has already been rendered in the call for fit(). Workaround is to access visualizer.ax.get_figure().

### Issue

For extra detail, see demo notebook linked in Background section

### Code Snippet

Tested using the bike share data set from the YB intro

In one cell:
[code]

In a separate cell:
`visualizer

[2018-04-03 14:29] fdion commented on #375
As a workaround, once poof is called, you can access ax through:

`ax = viz.ax`

and fig:

`fig = viz.ax.get_figure()`

[2018-04-03 14:31] fdion commented on #380
#375 would fix the display when poof is called (I tested it by adding return ax to poof), but it wont prevent the display of the empty figure when fit is called.

[2018-04-03 14:35] bbengfort commented on #375
@fdion out of curiosity, we have a handle to the current ax via the visualizer, do you think we should also add one to the figure? I have to say, it's very rare that I'm doing anything with the figure, though we do have the ability to modify the size of the figure on the visualizer.

[2018-04-03 14:51] fdion commented on #375
@bbengfort good question, Ben. The primary use is to save to file (pdf for latex), but since that's already covered by yellowbrick, and you currently don't have multi ax figures, probably not a high demand item :)

I return the figure in stemgraphic because I have grids of heatmaps or other plots and stuff like that. If you think faceting / multivariate might be a thing soon in Yellow Brick, then

[2018-04-03 14:58] bbengfort commented on #375
Turns out we just included a VisualizerGrid that draws each visualizer on different axes; we're also thinking about trying to do a "flip book" style visualization with multiple figures. Guess I'll have to keep this in mind! Thanks!

[2018-04-03 15:06] bbengfort commented on #380
This is a tough one; poof is a wrapper for `visualizer.finalize()` + `visualizer.show()` or `visualizer.savefig()`. Perhaps one work around is to use `visualizer.finalize()` instead of `visualizer.poof()` so the call to show doesn't execute?

[2018-04-03 18:42] #116 closed

[2018-04-03 18:42] #378 closed

[2018-04-03 18:44] bbengfort commented on #374
@pdamodaran just a note that the `model_selection` package has been merged into develop.

[2018-04-03 19:13] #260 closed

[2018-04-03 20:27] bbengfort commented on #334
Can also create a mutual information with target visualizer:

http://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.mutual_info_classif.html#sklearn.feature_selection.mutual_info_classif

[2018-04-03 21:10] bbengfort commented on #268
I had this idea that we could do a combo plot of [rfecv features scores](http://scikit-learn.org/stable/auto_examples/feature_selection/plot_rfe_with_cross_validation.html#sphx-glr-auto-examples-feature-selection-plot-rfe-with-cross-validation-py) along with the heatmap. I was putting together some code to do this, however when I got to the heatmap I discovered that was specific to the `digits` da

[2018-04-04 19:02] #306 closed

[2018-04-04 22:17] bbengfort commented on #379
This might be the easiest mechanism to do this:

https://github.com/travis-ci/artifacts

[2018-04-05 00:10] pdamodaran commented on #374
@bbengfort - noted - I have pulled in the new package and will add to it; what are your thoughts on calling the visualizer yb.model_selection.CVScoreVisualizer?

[2018-04-05 00:45] pdamodaran commented on #374
ok - I will call it CVScore - it makes sense - it's not as wordy.

[2018-04-06 14:05] #268 closed

[2018-04-10 17:33] #340 closed

[2018-04-21 15:57] ianozsvald opened #389 "Lots of failing tests - is this normal? "74 failed, 527 passed""
Having forked and cloned a copy of the current `develop` branch and, I think, setting things up correctly, if I run `pytest` in the root folder I end up with (this is on Linux + Anaconda):

```74 failed, 527 passed, 17 skipped, 8 xfailed, 1 xpassed, 1 warnings in 119.06 seconds```

I'm at a hackathon, I have some colleagues learning YellowBrick for the first time. I have another new environment on

[2018-04-21 16:04] bbengfort commented on #389
Well, I'd expect all of the tests to pass, unless you're on a Windows machine -- which it sounds like you guys aren't. It is interesting that you're getting a variable number of tests passing so it might have something to do with the image comparison tests. The only environment we're currently certain of with the tests is the Mac+Python/Pip environment.

Take a quick look in tests/actual_images --

[2018-04-21 16:10] ianozsvald opened #390 "`statsmodels` test is skipped if `statsmodels` not installed (it isn't in the `requirements`)"
In the recently added https://github.com/DistrictDataLabs/yellowbrick/pull/383 there's a bug - `statsmodels` is imported incorrectly (I have a PR fix, this was my bug as my original code didn't signal what to import). We nearly missed this as using a clean environment lacks `statsmodels` and consequently your tests skip `test_contrib/test_statsmodels $ pytest`.

### Proposal/Issue

We probably _do

[2018-04-21 16:15] ianozsvald commented on #389
Ok - which slack? Do I need an invite? ian@ianozsvald.com if so

[2018-04-22 19:34] ianozsvald commented on #389
Looking at the output of `pytest` the vast majority of my errors look like:
[code]

Any clues?

[2018-04-22 21:08] bbengfort commented on #389
Actually, this is familiar, and I worked on fixing it in #386 -- it hasn't been merged yet since I haven't got all the tests working on Windows yet but perhaps we do an intermediate merge to get things moving forward?

Are you running the tests from the main project directory?

[2018-04-23 11:11] bbengfort opened #392 "Windows: Cannot cast array data from dtype('int64') to dtype('int32')"
When running tests on AppVeyor (Windows) with x32 architecture, we're getting the following exception: `TypeError: Cannot cast array data from dtype('int64') to dtype('int32') according to the rule 'safe'` on many tests.

See https://github.com/numpy/numpy/issues/4384 for more information.

Current solution: I've simply commented out the x32 architectures in the AppVeyor config so we don't run the

[2018-04-23 13:16] bbengfort commented on #390
This is certainly a primary discussion point surrounding the `contrib` module, where we are also planning packages with dependencies on `nltk`, and `keras`. You're right that we don't necessarily want to add these dependencies to Yellowbrick core - but give the user information that the extra dependency is required, e.g.

[code]

The issue is that when it comes to tests, we're also already balanci

[2018-04-23 13:23] bbengfort opened #393 "Resolve AppVeyor xfails"
In #386 we added an AppVeyor configuration but mostly resolved image comparison failures by marking them as `xfail` (thinking they were the product of different operating systems producing different types of images).

In reality, there are a number of images that have some variability and have increased tolerances that actually do not support tests (see any tolerance of >=10) in the code.

Once we

[2018-04-23 13:44] bbengfort commented on #390
@ianozsvald just pushed some changes that might help

[2018-04-23 13:44] bbengfort commented on #389
@ianozsvald I just pushed a change that might fix this problem; would you mind pulling develop and seeing if the tests run correctly?

[2018-04-26 01:58] ndanielsen opened #394 "Extend Missing Values Visualizers to plot missing values against the target (y)"
Follow up item to #363

Extend Bar and Dispersion visualizers to create optionally create visualizers targeted against the target. For example, it would plot the number of missing values for each target variable.

[2018-04-29 16:08] ianozsvald commented on #389
Hey @bbengfort. I'm at PyDataLondon 2018, I used this bug as one of the examples in my "Make your first open source contribution" session yesterday.

Brilliant success :-) Thank you.

[code]

Initially there was 1 error - I had to install the missing `nltk` data (easily done).

[2018-04-29 16:59] bbengfort commented on #389
Glad to hear it worked out and that resolved things! Good note about nltk data as well - we have skipif nltk is not installed but should probably also xfail if nltk data is missing. I'll look into that!

[2018-04-29 16:59] #389 closed

[2018-04-29 17:01] bbengfort opened #395 "xfail if nltk data has not been downloaded (move postag to contrib)"
Right now we have tests for `yellowbrick.text` that have an nltk depedency (the pos tag visualizer I believe, I don't think the others rely on it). We skip the tests if nltk is not installed, but we do not test if nltk data has been downloaded or is available. We should test this or wrap in a try/except and xfail to ensure that this doesn't fail tests for new users.

Further, we could move nltk de

[2018-05-11 21:42] ndanielsen opened #397 "Add Support for Other ML Libraries"
We currently have an experimental wrapper for StatsModels in : https://github.com/DistrictDataLabs/yellowbrick/pull/383

It would be fantastic if we can add visualizer support for Tensorflow, Keras and other classification selection visualizers using [ATM](https://github.com/HDI-Project/ATM).

[2018-05-12 15:09] bbengfort opened #398 "Manifold Feature Engineering"
![Manifold Methods](http://scikit-learn.org/stable/_images/sphx_glr_plot_compare_methods_001.png)

Currently we have a t-SNE visualizer for text, but we can create a general manifold learning visualizer for projecting high dimensional data into 2 dimensions that respect non-linear effects (unlike our current decomposition methods.

### Proposal/Issue

The visualizer would take as hyperparameters:

[2018-05-14 14:47] rhender007 opened #401 "Tutorial Vizualization image is out of date"
[Short Description]

### Proposal/Issue
Tutorial image colors scheme image should be updated
http://www.scikit-yb.org/en/latest/tutorial.html

visual_model_selection(X, y, LinearSVC())
![image](https://user-images.githubusercontent.com/35784314/40004593-ff31166e-5763-11e8-806f-4155b7000adf.png)

visual_model_selection(X, y, NuSVC())
![image](https://user-images.githubusercontent.com/35784314/40004

[2018-05-14 15:16] bhavyaghai opened #402 "ParallelCoordinates IndexError accessing classes with bikeshare data (bug in tutorial)"
I just tried running a basic example of parallel coordinates on bikeshare data as mentioned in the quickstart tutorial and I got "index out of range error". I am using anaconda on windows

### Proposal/Issue

When I tried plotting parallel coordinates, it took some time and then got "IndexError: list index out of range"

### Code Snippet

import pandas as pd
from yellowbrick.features import Parall

[2018-05-14 15:22] bharaniabhishek123 opened #404 "Pearson Ranking of 11 Features Image is having Indexes instead of verbiage for each feature."
[Short Description]
Pearson Ranking of 11 Features Image is having Indexes instead of verbiage for each feature.
### Proposal/Issue
Image should have name of features on X and Y axis.
[Describe expected vs actual behavior or feature proposal]
Actual : Index Numbers
Expected : Name of Feature
### Code Snippet
visualizer = Rank2D(algorithm="pearson")
visualizer.fit_transform(X)
visualizer.poof()
[Co

[2018-05-14 15:25] chrisfs opened #405 "Doc error: on Visual Model Evaluation "as well color-coded heatmap" should be "as well as""
In http://www.scikit-yb.org/en/latest/tutorial.html#visual-model-evaluation
the phrase "as well color-coded heatmap" should be "as well as color coded heatmap"

[2018-05-14 15:34] leah-kstra opened #406 "docs quick start walkthrough is missing r-squared explanation"
In the quick start walkthrough, at the end of the ResidualsPlot explanation, one sentence starts "Because our coefficient of determination for this model is 0.328..." but there is no explanation of where this value comes from.

### Proposal/Issue

It'd be helpful to include another section here which explains how to find the r-squared value before moving onto the next section. (For instance, walki

[2018-05-14 15:35] decreaseme commented on #365
looking into this :)

[2018-05-14 16:11] ChrisPappalardo commented on #18
Hello.  I'm at Pycon 2018 dev sprints today and will take a stab at this issue.

[2018-05-14 16:12] kim81682 commented on #322
Hello, i'm beginning to work on this.

[2018-05-14 16:17] thekylesaurus commented on #59
At PyCon 2018 sprints.  I'm going to take a pass at some of these items.

[2018-05-14 16:19] thekylesaurus commented on #59
@bbengfort - should we also include an item to make the "sample" capability select random rows, as opposed to ordered rows.  For data sets with sorted targets, you don't end up with a true representative sample.

[2018-05-14 16:19] abatula commented on #361
I'm going to start working on this

[2018-05-14 16:19] RaulPL commented on #219
I am working on this issue

[2018-05-14 16:31] bbengfort commented on #59
@thekylesaurus I think that would be a great idea - [I think we were planning on making sample a uniform random sample](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/features/pcoords.py#L244) but the number of choices for how to conduct sampling led us to simply use `head`. If there is a sklearn-method that does sampling we could use that as a guide for how to treat the

[2018-05-14 16:34] thekylesaurus commented on #59
@bbengfort - shuffle=True would definitely get the job done; but I'll check sklearn to see if there is a different convention that we should inherit.

[2018-05-14 17:49] chrisfs opened #408 "Quick Start Rank2D snippet won't display in Notebook"
Code in quickstart tutorial won't display automatically when used in Jupyter Notebook

### Proposal/Issue

In the quickstart tutorial http://www.scikit-yb.org/en/latest/quickstart.html
when you copy and paste code that generates matplotlib charts in Jupyter Notebook, they won't appear automatically unless you include %matplotlib inline.

### Code Snippet

from yellowbrick.features import Rank2D

v

[2018-05-14 17:57] jQwotos commented on #404
@bharaniabhishek123 what dataset are you using? Can't seem to reproduce on multiple datasets (such as [Honey Production dataset](https://www.kaggle.com/jessicali9530/honey-production/data) )

I also believe that it should be
[code]

[2018-05-14 18:15] jQwotos commented on #367
Working on it

[2018-05-14 18:16] bharaniabhishek123 commented on #404
it's an issue with documentation ,nothing wrong with code.

[2018-05-14 19:06] bharaniabhishek123 commented on #404
Fixed and created a pull request.

[2018-05-14 19:17] willhyper commented on #402
according to the API:
http://www.scikit-yb.org/en/latest/api/features/pcoords.html

the intended behavior is
classes : list, default: None
a list of class names for the legend If classes is None and a y value is passed to fit then the classes are selected from the target vector.

The implementation does not follow. In the trace stack, the code always traces self.classes_, which is empty list by de

[2018-05-14 20:09] RaulPL opened #416 "Unable to parse meta.json files from the mushroom and bikeshare datasets"
Hi,

I downloaded all the data defined in this script https://github.com/DistrictDataLabs/yellowbrick/blob/develop/examples/download.py. Most of them have a meta.json file inside their folder but for two of them (mushroom and bikeshare datasets) I have a JSONDecodeError exception when I try to parse it with the json module of the standard library.

### Code

This is an example code that can reprod

[2018-05-14 21:49] bbengfort opened #419 "Add alpha transparency to RadViz"
To make the RadViz a bit easier to read, we can add optional transparency, set by the user to be able to distinguish regions of more or less density.

[2018-05-15 12:50] NealHumphrey commented on #375
Just a quick implementation note on the original ticket. To implement this:
Add the line `return self.ax` at the end of the base visualizer's poof() method in `yellowbrick/base.py`, and then  searching through all the visualizers in the code to make sure no one else overrides poof.

[2018-05-15 13:35] jtpio commented on #408
I think the "easy fix" for that is to add a small section to the [quickstart documentation](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/quickstart.rst) mentioning the usage in the notebook (since not everyone uses notebooks). For example:

"""
When running in a Jupyter Notebook, add the following line:
` %matplotlib inline`
"""

Do you feel like submitting a PR @chrisfs ?

[2018-05-15 13:55] ndanielsen commented on #313
Leah is working on this one FYI to others

[2018-05-15 15:19] lumega commented on #419
I will work on this issue.

[2018-05-15 15:52] ndanielsen opened #423 "Windows Image Similarity Tests"
A good suggestion came out from @jkeung at pycon2018, we should investigate creating separate baseline images for windows machines.

Recommend that we had a check in the base.py for if the machine is windows and then direct the test to checkout the windows folder in baseline images or otherwise, significantly increase the tolerance for them.

[2018-05-15 16:47] ndanielsen opened #424 "Update Docs / Examples to Use yellowbrick.datasets.load_**"
Building off of:
https://github.com/DistrictDataLabs/yellowbrick/pull/417

We should update the documentation to use this much easier interface for using our example datasets.

Docs to Update:

- [x] Readme.md

- [x] Quick Start at http://www.scikit-yb.org/en/latest/quickstart.html

- [x] Model Selection Tutorial at http://www.scikit-yb.org/en/latest/tutorial.html

- [ ] Datasets in the API at htt

[2018-05-15 17:39] #404 closed

[2018-05-15 17:47] #219 closed

[2018-05-15 17:52] muthukannan91 opened #425 "Improving Quick Start Documentation"
**Quick Start Documentation**
In the walk through part of the documentation, correlation between actual temperature and feels like temperature were analysed. The author mentioned that it was intuitive to prioritize the feature 'feels like' over 'temp'. But for the reader, it is bit hard to understand  the reason behind author's decision on feature selection from the plot.

Expectation:

 Could add

[2018-05-15 19:37] sayali-sonawane commented on #395
Addressed the issue here:
https://github.com/DistrictDataLabs/yellowbrick/pull/428

[2018-05-15 19:47] tabishsada commented on #68
I created a pull request (https://github.com/DistrictDataLabs/yellowbrick/pull/429) to add spearman correlation to the list of ranking metrics.

[2018-05-15 19:49] muthukannan91 opened #431 "Legend in JointPlot Visualizer"
Adding legend to plot
### Proposal/Issue
Currently, the joint plot visualizer doesn't render legend to the plot. It would be nice, if we create one to help users  better understand the plot.
File to change : jointplot.py

[2018-05-15 19:53] RaulPL commented on #363
This library has some nice visualizations of missing data:
https://github.com/ResidentMario/missingno

[2018-05-15 20:08] muthukannan91 commented on #431
I am working on it (first commit ever in an open source project !!)

[2018-05-15 20:56] jibols opened #433 "Doc error: on Docs » Visualizers and API » Feature Analysis Visualizers » PCA Projection "principle component analysis" should be "principal component analysis""
In http://www.scikit-yb.org/en/latest/api/features/pca.html
the phrase "principle component analysis" should be "principal component analysis"

[2018-05-15 21:19] muthukannan91 commented on #431
Realized that its not needed for this plot.
This visualizer plots (x,y) of  given data represented as circles and the line of fit is intuitive to understand the correlation.  Hence closing the ticket.

[2018-05-15 21:19] #431 closed

[2018-05-16 12:33] bbengfort commented on #425
Thank you for your suggestion - I'm certainly happy to read a draft of your suggestions for modifying the quickstart to include this detail.

[2018-05-16 13:10] bbengfort opened #434 "Add index selection to JointPlotVisualizer"
The joint plot visualizer shows the relationship between a single feature in `X` with the target `y`. Right now the choices are for a user to pass in a name for a column to select from a DataFrame or to pass in a single column array. We should expand this to allow the user to pass an index to ensure that different data types can be passed to the visualizer.

### Proposal/Issue

Currently, the plot

[2018-05-16 13:11] bbengfort commented on #434
Note, this task depends on #414

[2018-05-16 14:27] bbengfort opened #435 "Improve RankD Tests"
Right now the Rank1D and Rank2D tests are very basic and can be improved using the new assert image similarity and pytest testing framework mechanisms.

### Proposal/Issue

The test matrix should against the following:

 - [x] replace `make_regression` dataset with `load_energy` and update those tests
 - [x] use `load_occupancy` for classification tests
 - [x] algorithms: pearson, covariance, spea

[2018-05-16 16:46] tabishsada commented on #435
I'll work on this.

[2018-05-16 21:03] jibols opened #436 "Classifier Evaluation in Examples Notebook"
Classifier Evaluation imports in `examples.ipynb`: `from sklearn.cross_validation import train_test_split` has been deprecated and issues a warning.

### Proposal/Issue

Update `import sklearn.cross_validation` to `import sklearn.model_selection`

Will remove warning:

[code]

### Code Snippet

[code]

[2018-05-16 21:25] bbengfort commented on #73
A very lightweight version of this has been implemented in #399

[2018-05-17 15:33] lwgray commented on #401
Thank you for joining us for the Yellowbrick Sprint at PyCon Cleveland.   And also, thank you for submitting this issue.  Great Catch!

Just to let you know....another of the Yellowbrick sprinters has submitted a pull request to resolve this issue #413

Feel free to reach out to us and we hope you continue to contribute.

[2018-05-17 15:38] lwgray commented on #402
Thank you for joining us for the Yellowbrick Sprint at PyCon Cleveland. And also, thank you for submitting this issue. Great Catch!

We will look into this asap.  Feel free to follow-up on this issue and we hope you continue to contribute.

[2018-05-17 15:42] lwgray commented on #405
@chrisfs Thank you for joining us for the Yellowbrick Sprint at PyCon Cleveland. And also, thank you for submitting this issue. Great Catch!

I would encourage you to submit a pull request since this is a simple fix.

Feel free to follow-up on this issue and we hope you continue to contribute.

[2018-05-17 16:18] chrisfs commented on #408
HI, I am currently swamped at work after returning from Pycon, I could do a PR over the weekend if that's still practical.

[2018-05-18 01:00] bbengfort opened #437 "Improvements to the Manifold Visualizer"
The following improvements can be made to the manifold visualizer:

- [ ] describe the number of features the embedding represents (e.g. the number of columns in X) and optionally the number of points in the dataset
- [ ] create a documentation example for clustering
- [ ] add `frameon=True` to legend
- [ ] create documentation example using the standard scalar
- [ ] get the visual tests to work o

[2018-05-18 01:02] rebeccabilbro opened #438 "Version 0.7.0 Release"
Steps for 0.7.0 version bump:

 - [x] Branch release-0.7.0
 - [x] Do version bump
 - [x] Update tests and run tests
 - [x] Create change log/release notes
 - [x] Review documentation build
 - [x] Merge into `master`
 - [x] Push release to PyPI ([instructions](https://bbengfort.github.io/programmer/2016/01/20/packaging-with-pypi.html))
 - [x] Create 0.7.0 tag
 - [x] Copy change log to release notes

[2018-05-18 01:04] bbengfort commented on #398
Closed in #399

[2018-05-18 01:04] #398 closed

[2018-05-18 01:16] wagner2010 opened #439 "Fit time timer utility"
Add timer utility functionality to the library to adapt any learned `fit_time_` parameters:

[code]

[2018-05-18 01:43] wagner2010 opened #440 "deprecate ScatterPlotVisualizer"
- ``ScatterPlotVisualizer`` is being moved to contrib in 0.8
  - ``DecisionBoundaryVisualizer`` is being moved to contrib in 0.8

[2018-05-18 02:05] wagner2010 opened #441 "update docs to reflect new YB datasets module"
Update the documentation to leverage new yellowbrick.datasets & create documentation on metadata on example datasets such as number of samples, number of features, target/class.
For example, [sklearn.datasets.load_digits](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_digits.html).

Note: reminder to also update
 - [x] the [corpus loading docs](https://www.scikit-yb.org/en/

[2018-05-18 02:24] lwgray opened #442 "Yellowbrick v0.7 Conda Package"
A Conda package for the latest YellowBrick v0.7 release needs to be created.
@jkeung

[2018-05-18 02:46] #438 closed

[2018-05-18 02:47] ndanielsen commented on #438
Thanks for contributing!

@bbengfort, @ndanielsen, @rebeccabilbro, @lwgray, @ianozsvald, @jtpio, @bharaniabhishek123, @RaulPL, @tabishsada, @Kautumn06, @NealHumphrey

[2018-05-18 05:56] jkeung commented on #442
Will do!

[2018-05-18 13:53] ndanielsen opened #443 "Review and categorize issues raised in residentmario's kaggle notebooks"
We need to go through the following kaggle kernels and review @ResidentMario's comments and suggestions for improvements for our visualizers.

https://www.kaggle.com/residentmario/ml-visualization-with-yellowbrick-1
https://www.kaggle.com/residentmario/ml-visualization-with-yellowbrick-2
https://www.kaggle.com/residentmario/ml-visualization-with-yellowbrick-3

As a note, we already several of the

[2018-05-18 13:58] ndanielsen commented on #443
Also @ResidentMario thank you for taking the time to go through yellowbrick and publishing them up kaggle! Your comments and suggestions for how to improve the library are very helpful to us and they will be definitely given a close look!

If you have any other suggestions / ideas for new visualizers or how to improve existing ones, I'd like to welcome you to let us know!

We also just released th

[2018-05-18 14:46] ResidentMario commented on #443
I do not know how you found those notebooks, but now that you have I'm flattered that you think they're actionable. :smile:

I will see if I can't go through it and write this up as specific issues.

[2018-05-18 15:34] bbengfort commented on #443
@ResidentMario I definitely appreciated the notebooks, and I think we need more like it - like you said we all have our workflows and tend to use cobbled together matplotlib scripts. Yellowbrick is in a phase right now where we're trying to capture some general cases that cover a lot of our own professional workflow, but until we have users like you writing about what they need, we don't really ha

[2018-05-19 21:59] rebeccabilbro commented on #442
https://anaconda.org/DistrictDataLabs/yellowbrick

[2018-05-19 21:59] #442 closed

[2018-05-23 05:03] chrisfs commented on #405
I think I submitted a pull request. First time doing it, so I hope it worked.

[2018-05-23 12:32] lwgray commented on #405
I merged it... Great Job @chrisfs

[2018-05-23 12:32] #405 closed

[2018-05-23 20:23] bbengfort opened #447 "Fix ParallelCoordinates tests and add fast parameter"
See #420

- [x] fix image comparison tests for parallel coordinates
- [x] add `fast=False` argument and docstring
- [x] create fast and regular drawing methods based on parameter
- [x] add section in documentation explaining fast vs. slow
- [x] update #230 and #59

[2018-05-23 21:06] bbengfort commented on #230
Fixed in #420 and #447

[2018-05-23 21:06] #230 closed

[2018-05-24 21:11] rwhitt2049 opened #450 "Documentation README"
### Proposal

Develop a documentation contribution guideline modeled after [pandas](https://github.com/pandas-dev/pandas/blob/master/doc/README.rst)

Documentation is often seen as a safe place for new contributors to start, but Sphinx and reStructured text can be intimidating at first. The goal of the readme would be to creating an inviting document that gives a high level of how to build the doc

[2018-05-24 22:00] bbengfort opened #451 "Update documentation dependencies"
Review the changes upgrading our documentation dependencies have on our built documentation. If approved, update deps in `requirements.txt` and `docs/requirements.txt` as follows:

[code]

[2018-05-25 13:14] bbengfort commented on #450
Thanks for adding this issue - I think it's especially important after #354

[2018-05-27 16:14] benbrock26 commented on #206
Is yellowbrick issue resolved yet?  I am having the same issue listed above.

I recently installed yellowbrick on a Anaconda Windows 10-64 bit notebook.

conda install -c districtdatalabs yellowbrick

"yellowbrick" looks like an awesome tool.  I really want to use this in my future data analysis work.

By the way, I am having the same issue in the linux environment too.

[2018-05-27 16:26] benbrock26 commented on #206
This is related to the yellowbrick issue.

This is the error that I am receiving:
import yellowbrick as yb
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-10-5766046cd81b> in <module>()
----> 1 import yellowbrick as yb

ModuleNotFoundError: No module named 'yellowbrick'

Below is

[2018-05-27 16:34] benbrock26 commented on #206
Windows Machine:
conda -V
conda 4.3.23

![image](https://user-images.githubusercontent.com/7131837/40588343-197c8af8-61aa-11e8-8b81-835e0ef7a811.png)

Linux Machine
conda -V
conda 4.5.4

![image](https://user-images.githubusercontent.com/7131837/40588328-e666de8e-61a9-11e8-9182-f7922eb9f69f.png)

[2018-05-27 16:43] bbengfort commented on #206
@benbrock26 thanks for pasting the tracebacks in; it looks like in the notebook at least you're in a conda virtualenv called "topic_modeling" - when you install yellowbrick to the virtualenv as follows:

`conda install -n topic_modeling -c districtdatalabs yellowbrick`

Does that resolve the issue?

[2018-05-27 16:51] #59 closed

[2018-05-27 16:53] benbrock26 commented on #206
By the way, I verified that the yellowbrick package was listed in the list of installed packages on the specific Anaconda environment.

![image](https://user-images.githubusercontent.com/7131837/40588532-bad45726-61ac-11e8-98dd-05f2ab26014f.png)

[2018-05-27 16:56] bbengfort opened #452 "Maximize whitespace with feature-reordering optimization in ParallelCoordinates and RadViz"
Both `RadViz` and `ParallelCoordinates` would benefit from increased whitespace/increased transparency that is achieved simply by recording the columns around the circle in `RadViz` and along the horizontal in `ParallelCoordinates`. Potentially some optimization technique would allow us to discover the best feature ordering/subset of features to display.

### Proposal/Issue

- [ ] enhance `RadViz`

[2018-05-27 17:03] bbengfort commented on #206
@benbrock26 well that 0 is a little worrisome in the package list; let me try to rebuild the conda package to see if that will fix it; give me a couple of minutes.

[2018-05-27 17:06] benbrock26 commented on #206
I am using an Anaconda Python 3.6 Windows 10-64 Bit with multiple environments.

To get to the topic_modeling environment on a Windows machine, I type the following:
activate topic_modeling

I entered the following command that you suggested.
conda install -n topic_modeling -c districtdatalabs yellowbrick

No, it did not resolve the problem.

I really want to get this working.  I would like to use

[2018-05-27 18:01] benbrock26 commented on #206
Ok, I will wait.  Just let me know when you are ready.

[2018-05-27 18:32] bbengfort commented on #206
@benbrock26 ok, I've got new Python 3.6 builds uploaded for linux and windows to anaconda; please try reinstalling - you may have to uninstall yellowbrick first.

[2018-05-27 19:35] benbrock26 commented on #206
I got the yellowbrick package working on my Anaconda Python 3.6 Linux environment.   (Yeah!!!!)

I am now trying to get the yellowbrick package to work on my Anaconda Python 3.6 Windows 10-64 bit environment.

I am getting the following HTTPS Connection Error:

![image](https://user-images.githubusercontent.com/7131837/40589870-4f8f91c6-61c3-11e8-85ab-b4f438e2a563.png)

[2018-05-27 20:14] benbrock26 commented on #206
@bbengfort, Thanks for all of the help!

I reviewed the error above closely.  I was able to manually open the url connection from a firefox browser
- "https://conda.anaconda.org/districtdatalabs/win-64/repodata.json".

Looking closely at the yellowbrick-07-py36_1.tar.bz2 package information. It does seem ok but I am not sure why I am not able to execute the following command w/o getting errors in

[2018-05-27 22:13] benbrock26 commented on #206
@bbengfort ,  Thanks for all of the help.

I have verified that yellowbrick works in both Anaconda Python 3.6 Linux and Anaconda Python 3.6 Windows 10-64 bit machine environment.

Go Cav's/Celtic's.

[2018-05-28 02:19] rebeccabilbro commented on #206
Thank you so much @benbrock26 for letting us know about this and awesome work @bbengfort for getting it resolved so quickly!

@thedatalass - would be curious to hear if you have any luck with the Yellowbrick v0.7 conda package!

[2018-05-28 12:06] pdamodaran commented on #408
@chrisfs - feel free to submit a PR for this whenever you have time - we would greatly appreciate it!  Reach out to us if you have any questions.

[2018-05-28 12:47] benbrock26 commented on #206
@thedatalass , @rebeccabilbro , @bbengfort

I will keep you abreast of the data mining, data analysis work that I plan to do with Yellowbrick v0.7 conda package.   Does the Yellowbrick v0.7 support Anaconda Python 2.7 Windows 10-64 and Anaconda Python 2.7 Linux environments?  Graphlab Create, Turi, or Dato supports only Python 2.7.   That is, why I would like to continue working with Python 2.7.

[2018-05-28 12:52] benbrock26 commented on #206
Hi,
  Can I help contribute to Yellowbrick?  I would love to help out.

Have a great day,

Ben

On Sun, May 27, 2018 at 10:19 PM, Rebecca Bilbro <notifications@github.com>
wrote:

[2018-05-28 13:16] pdamodaran commented on #206
@benbrock26 - you most certainly can!  We have several open issues that you can take on and help us resolve.  You can also suggest or come up with enhancements to our current visualizers.  We could also use help with our documentation.  Thank you for your support!

[2018-05-28 14:14] ndanielsen opened #453 "Implement Detection Error Tradeoff Curves (DET) Visualizer"
A community suggestion from reddit, implement a DET curve visualizer for model comparison.

From [wikipedia](https://en.wikipedia.org/wiki/Detection_error_tradeoff):

`A detection error tradeoff (DET) graph is a graphical plot of error rates for binary classification systems, plotting the false rejection rate vs. false acceptance rate.[1] The x- and y-axes are scaled non-linearly by their standard

[2018-05-29 01:17] benbrock26 commented on #206
Does the Yellowbrick v0.7 support Anaconda Python 2.7 Windows 10-64 and Anaconda Python 2.7 Linux environments? Graphlab Create, Turi, or Dato supports only Python 2.7. That is, why I would like to continue working with Python 2.7.

[2018-05-29 17:22] RaulPL opened #455 "Add a new parameter to the PCADecomposition visualizer in order to plot the feature columns in the projected space (biplot)"
### Proposal

Add a new parameter to the PCADecomposition class in order to have the option to plot the input columns.
I would like to have something like a biplot.

![image](https://user-images.githubusercontent.com/3116652/40674345-263d2d2e-633a-11e8-97f3-0634c0dee6b3.png)

I can start working on the code but I would like to know if you think its a good idea.

[2018-05-29 18:18] bbengfort opened #456 "Implement black code formatting as pre-commit"
In order to avoid style-related comments when discussing code with contributors, I propose that we implement the [black](https://github.com/ambv/black) python code formatter as a pre-commit requirement for development.

This will potentially have a large impact on our current code-base, so should be undertaken right before a release to ensure that we don't end up with large merge conflicts. Also f

[2018-05-29 18:19] bbengfort commented on #456
@ambv -- if you have any suggestions how we should go about this for our project or know of any open source libraries that have implemented black, we'd appreciate your thoughts!

[2018-05-29 18:52] bbengfort commented on #456
Awesome, thanks @ambv!

[2018-05-29 19:31] benbrock26 commented on #206
@bbengfort
Can you update the yellowbrick conda install to properly install yellowbrick via Python 2.7 on both the Windows 10-64 bit and Linux 64 environments?

[2018-05-29 19:44] bbengfort commented on #206
@benbrock26 are you still getting the import error? The py27 packages for both Windows and Linux have been uploaded to Anacondas and they contain the full package:

<img width="985" alt="screenshot 2018-05-29 15 43 28" src="https://user-images.githubusercontent.com/745966/40681413-0c407b7a-6357-11e8-8595-3b041db752c3.png">

[2018-05-29 21:14] #395 closed

[2018-05-29 21:36] #419 closed

[2018-05-29 22:26] mattharrison opened #458 "Add legend option to PCA visualizer"
The ``PCADecomposition`` allows us to set the color of the different entries. It would be cool to add a legend to describe the coloring.

### Proposal/Issue

The ``DataVisualizer`` class supports creating legends, but it requires that ``y`` is passed into ``.fit``. Admittedly, PCA doesn't require labels, but sometimes you have them. I would love to label the colorings in PCA. Could the constructor

[2018-05-30 11:48] #408 closed

[2018-05-30 14:10] bbengfort commented on #458
I think this is a great idea, and we can absolutely do this the same way that we do in the `DataVisualizer`, with the `y` attribute. Probably this can be done similarly to the manifold visualizers, which allow both heatmap colors for regression and discrete colors for classification and coloring.

[2018-05-30 18:54] benbrock26 commented on #206
It works now.  I finally had a chance to install it on my Anaconda Python
2.7 Windows 1--64 bit notebook.

On Tue, May 29, 2018 at 3:44 PM, Benjamin Bengfort <notifications@github.com

[2018-05-30 18:55] bbengfort commented on #206
Glad to hear it!

[2018-05-30 19:34] benbrock26 commented on #206
How can I communicate with the District Data Labs team silently?  I want to
join the team.

On Mon, May 28, 2018 at 9:16 AM, pdamodaran <notifications@github.com>
wrote:

[2018-05-30 19:34] benbrock26 commented on #206
How can I communicate with the District Data Labs team silently?  I want
to join the team.

On Wed, May 30, 2018 at 3:34 PM, Ben Brock <benbroc@gmail.com> wrote:

[2018-05-30 20:00] rebeccabilbro commented on #206
Hey there @benbrock26 - mind moving this conversation to [our Google forum](https://groups.google.com/forum/#!topic/yellowbrick/7ImcUdmTLQ8)? Don't want it to get lost in a closed issue!

[2018-05-31 05:51] chrisfs commented on #408
Thanks, I have been busy.  I will do it tomorrow or this weekend at the
latest.

On Mon, May 28, 2018 at 5:06 AM, pdamodaran <notifications@github.com>
wrote:

[2018-05-31 15:06] bbengfort commented on #100
Note that fast vs. slow issues discussed in #448 and related topics may also impact the implementation of Andrews Curves.

[2018-05-31 15:07] bbengfort commented on #452
@rebeccabilbro suggests in #448 that there is potentially a way to numerically represent braid density (a la silhouettes) that could be computed and added to the figure.

[2018-05-31 15:09] bbengfort opened #460 "Add benchmarking to tests"
Due to the issues of fast vs. slow in `ParallelCoordinates` (see #230 and #448) -- it may be useful to have a benchmarking utility in our tests to ensure that our visualizers run at a near constant speed given the same data.

[2018-05-31 15:34] #447 closed

[2018-06-01 00:39] ralle123 commented on #38
do I go ahead and link the images on the index to their pages, the same idea as in the gallery, you click and you go to the page that has that code?

[2018-06-01 00:40] ralle123 commented on #354
do you want to add something like sphinx-gallery to the config.py?

[2018-06-01 01:35] #38 closed

[2018-06-01 01:42] lwgray commented on #38
@ralle123 links back would be great and can be addressed in the next PR

[2018-06-01 01:43] lwgray commented on #354
@ralle123 we don’t know anything about Sphinx gallery but would be interested to learn more

[2018-06-02 19:11] bbengfort commented on #401
Fixed in bf5bd3f297ee6fdb589e457ecb0f954f085a5bf8

See updates in develop branch of the documentation:  http://www.scikit-yb.org/en/develop/tutorial.html

[2018-06-02 19:11] #401 closed

[2018-06-02 19:48] lwgray opened #462 "Why is a high tolerance required to pass Classification Report Image Similarity Test"
**Describe the issue**
A clear and concise description of what the issue is.

Since adding 'support' feature, there is a fairly big jump in tolerance required for classification reports to pass image tests.  We need to investigate why these high tolerances are required?

**Note:**

The classification report in #379 has pretty high tolerances and they should be reviewed.

@DistrictDataLabs/team-oz-

[2018-06-02 20:51] #359 closed

[2018-06-03 00:15] pdamodaran opened #464 "Finish up CVScores visualizer"
CVScores is a new visualizer under yellowbrick/model_selection. Here are a couple things left to do and small enhancements:

 - [x] Add documentation ([done](http://www.scikit-yb.org/en/develop/api/model_selection/cv.html))
 - [x] Add test cases
 - [x] Add a legend that labels the average cvscore dotted line with the numeric value of `self.cv_scores_mean_`
 - [x] Adjust the ylim so that `CVScores`

[2018-06-04 14:15] poppingcode opened #465 "ROCAUC function"
**Describe the issue**
A clear and concise description of what the issue is.
when i use ROCAUC function,can i load a resnet-50 model?
for example :
    model =resnet。。。。
    viz = ROCAUC(model)

I want it to extend to other models

@DistrictDataLabs/team-oz-maintainers

[2018-06-04 14:35] bbengfort commented on #465
@poppingcode if you're referring to a Keras or TensorFlow resnet-50 model, then I'll say that it's possible with a little bit of glue but still untested - although there is an open issue #397 to add contrib support for these types of estimators.

If you'd like to try to implement a non-scikit-learn model with yellowbrick, the key is to wrap it in an estimator, with approximately the following inte

[2018-06-05 21:37] mitevpi commented on #425
I think the documentation is on the right track. When the JointPlotVisualizer is introduced, it is introduced as a way for us to make decisions for our data based on these kinds of relationships. My understanding was that the JointPlotVisualizer makes those "intuitions" present.

Current Doc:

It could even be slightly revised for some extra clarity:

[2018-06-05 21:48] mitevpi commented on #397
I think there's some great low hanging fruit here in the short term, with even more exciting opportunities for the long term.

One thing I want to understand better - could you clarify how you were envisioning the integration of ATM? Are you thinking that the ATM would occur prior to visualization, or were you thinking that visualization is separate from any model tuning?

[2018-06-05 23:19] mitevpi commented on #311
Any preference on dataset type or model type? I have a couple of ideas I've been meaning to try (publicly) so this may be a good opportunity.

[2018-06-06 10:34] #367 closed

[2018-06-06 10:41] bbengfort commented on #425
@mitevpi the edits look great if you want to create a PR for it; agreed about added more academic resources here, am happy to look at expanding the documentation with that kind of content in the future.

[2018-06-06 10:48] bbengfort commented on #397
@mitevpi I think the initial idea with ATM was to create a multi-model comparison visualizer that could be generated either during tuning to show progress, or after tuning to demonstrate the scope of the autotuning and its findings (so both?). Because this visualization would be ATM-specific, and possibly require some interactivity/liveness we haven't really had the opportunity to do a deep-dive i

[2018-06-06 10:48] bbengfort commented on #311
@ndanielsen any thoughts?

[2018-06-06 11:05] #465 closed

[2018-06-06 11:05] mitevpi commented on #425
Thanks for the review @bbengfort ! I'll be cleaning up the grammar/language and doing just that. Looking forward to getting more familiar and involved in the project.

[2018-06-06 17:32] #374 closed

[2018-06-07 18:48] lwgray opened #470 "Update examples.ipynb to include new Visualizers"
I noticed that the examples.ipynb was out-of-date.
Here are the things that need to be changed/updated.

- [ ] Include new visualizers
    - Class Prediction Error
    - CVScores
    - Manifold
    - Feature Importance
    - Recursive Feature Elimination
    - Classification Report w/ support
    - Discrimination Threshold
    - Validation Curve
    - Learning Curve)

- [ ]  Remove deprecated Visu

[2018-06-08 11:09] #425 closed

[2018-06-08 15:16] mitevpi commented on #441
I can take a look at this as I'm continuing on my documentation tear. Do we want to point entirely to the yellowbrick.datasets module or do we still want some instances where we acknowledge downloading manually/from third party sources?

https://github.com/DistrictDataLabs/yellowbrick/blob/1e04216661ac623686b0ccde55df448d70d8de12/docs/api/datasets.rst#L10-L21

[2018-06-09 19:30] kumard78 opened #472 "Add option to show percentage or number in Class Prediction Error Plot y-axis"
**Class Prediction Error Plot** shows number of predicted classes on y axis, this chart will not be very useful if we have miss classification means very less number of instances for one of the classes.

If y-axis shows % of predicted classes that may solve this issue.

[2018-06-09 19:36] mitevpi commented on #406
I think the scoring is happening in the earlier code block, but I agree that it can be clearer where the value is coming from, and why we're calculating it/making decisions based off of it.

R-squared origin: https://github.com/DistrictDataLabs/yellowbrick/blob/develop/docs/quickstart.rst/L#176

I wouldn't mind trying to revise the section for a little more clarity - if anyone has other suggestion

[2018-06-11 01:17] bbengfort commented on #441
@mitevpi that would be great! I think whenever possible we want to use the new `yellowbrick.datasets` module; if you run across a place where we might want to acknowledge a source or manually download, let me know and I'm happy to review it.

[2018-06-11 01:41] bbengfort commented on #472
@kumard78 this is a good suggestion, thank you -- we'd be happy for a PR if you have time to put something together.

For the sake of discussion, we could include the percentage on the right access and the count on the left, e.g. something like:

![chart](https://user-images.githubusercontent.com/745966/41209071-e465c624-6cf6-11e8-8070-afc4d445df4e.png)

(ignore the two bars).

Although to get thi

[2018-06-11 01:43] bbengfort commented on #406
@mitevpi this might be as simple as adding a comment to the code block you identified, but feel free to take this one on!

[2018-06-12 02:03] kumard78 commented on #472
It will be great if 3 radio buttons can be added on top right corner for **counts, percentage and both** if no option is given to visualizer.
By default option **both** will be selected which will show the chart as shown above counts on left y-axis and percentage on right y-axis. it will create 2 bars, one for each y-axis.
As user clicks on radio button it will redraw chart.
If a option (counts/pe

[2018-06-12 13:59] rebeccabilbro commented on #472
Hi there @kumard78 -- iPywidget-style radio buttons certainly open up some neat options for interactivity for visualization! However, since we want Yellowbrick to work equally well with or without a Jupyter notebook, it's probably best to add the percentage options as an additional param on the `ClassPredictionError` class.

Perhaps we can do something akin to what @NealHumphrey did for `Confusion

[2018-06-12 15:42] kumard78 commented on #472
Thanks @rebeccabilbro and @bbengfort, i would love to prototype this feature/change.

[2018-06-12 15:56] rebeccabilbro commented on #472
Awesome! Go ahead and open up a PR as soon as you like, and let us know if we can help!

[2018-06-12 21:33] mattharrison opened #474 "Joint Plot Viz has messed up (overlapping labels on) axes"
**Describe the bug**

If you look at the x and y axis on http://www.scikit-yb.org/en/latest/api/features/scatter.html#joint-plot-visualization you will see that the labels are overlapping.

**To Reproduce**

Create a joint plot as shown in the docs

**Expected behavior**

Labels on axes should be clear.

**Desktop (please complete the following information):**
 - OS: macOS
 - Python Version 3.6.4

[2018-06-13 16:15] #406 closed

[2018-06-13 16:17] bbengfort commented on #474
@mattharrison thanks for letting us know - we'll take a look at it as soon as we can!

[2018-06-13 20:43] mattharrison opened #475 "Add alpha support for scatter plots"
**Describe the solution you'd like**
When I'm plotting scatter plots (such as PCA), oftentimes there is a bunch of data. By using the ``alpha`` parameter on matplotlib (also available through the pandas plotting interface), it allows you to discern the data and amount of overlapping.

**Is your feature request related to a problem? Please describe.**
In general, I think an ``alpha`` parameter to a

[2018-06-14 14:33] bbengfort opened #476 "Enhance PCA Decomposition"
We should enhance the `PCADecomposition` visualizer to provide many of the features the `Manifold` visualizer provides, including things like:

- [ ] Color points by class with a legend (See #458)
- [ ] Color points by heatmap for continuous y and add a colorbar
- [ ] Add alpha parameter (see #475)
- [ ] Add random state to pass to PCA
- [ ] Allow user to pass in a PCA transformer/pipeline
- [ ] U

[2018-06-14 16:55] rebeccabilbro commented on #475
@bbengfort oh that's an interesting alternative to deprecating ScatterVisualizer altogether in v0.8! While making it a mixin and refactoring the other plots to inherit the scatter-draw behavior might take a bit more work, I imagine it might make things a bit easier down the line as we introduce more types of visualizers. I'm game to help if we decide to go this way.

[2018-06-14 17:06] ndanielsen commented on #475
@bbengfort I think that the ScatterVisualizer makes the most sense as a base class. I agree that it is initially more work but would likely makes things simpler down the road

[2018-06-14 17:12] ndanielsen commented on #311
@mitevpi I was thinking that one of the knowledge or kudos type challenges would be interesting. The Digit Recognition or ImageNet datasets does look interesting, but I leave it to you to find one that is interesting for you.

[2018-06-14 17:54] lwgray commented on #475
@bbengfort Nothing more to add...I agree with @rebeccabilbro and @ndanielsen

[2018-06-14 18:14] mattharrison commented on #475
For ``alpha=`` vs ``scatter_kws``, I think it depends on whether you want to tie the implementation to matplotlib. The former is generic, the latter indicates (to me at least) that these are the parameters that will be passed into matplotlib.

[2018-06-14 19:29] #433 closed, assigned to nobody

[2018-06-15 14:52] bbengfort commented on #475
Ok, I'll get started turning the `ScatterVisualizer` into a mixin - thanks for weighing in everyone!

[2018-06-15 15:00] lwgray commented on #361
As it stands, The following is True about the display of each visualizer
1. Classification Report has F1 score
2. Confusion Matrix has None
3. ROCAUC has None
4. Class Balance has None  *** SPECIAL NOTE*** Doesn't require Accuracy to be displayed
5. Class Prediction Error has None
6. Discrimination Threshold has F1 Score

[2018-06-15 15:26] bbengfort opened #478 "Deprecate DecisionBoundaryVisualizer in 0.8"
Move `DecisionBoundaryVisualizer` to contrib for version 0.8

[2018-06-15 15:52] #440 closed

[2018-06-15 20:42] bbengfort commented on #264
@ianozsvald sorry for the delay on this; we've been slammed - but I wanted to take a crack at this when you reminded me via the notebooks in the Slack channel the other day.

What do you think about this?

![residuals_hist_annotation](https://user-images.githubusercontent.com/745966/41488599-dd7b7f6c-70ba-11e8-925f-f59bcfb2a2df.png)

It's an initial prototype, but I'm thinking we'll just make it a

[2018-06-17 16:33] ianozsvald commented on #264
Brilliant! This feels more informative than mine. I defo prefer your orientation for the histogram and the larger size is clearly better. I wonder if a normalised histogram makes more sense (as the test set is likely to be smaller than the training set, which won't aid comparison)?

[2018-06-18 02:47] stsievert opened #482 "[feature request] better visualization method"
**Describe the solution you'd like**
Code for data transformations and visualization are inter-twined. It'd be nice to be able to change the encodings at will (e.g., change `metric` encoding from color to y-axis).

For example, the backend function to visualize the results from a grid search are hard-coded to take in two dimensions ([source][1]), and codes the color as the metric, and then use `pc

[2018-06-18 02:54] stsievert commented on #482
I think I would recommend the library Altair for this feature request: https://altair-viz.github.io/. This is a *declarative* API, not an imperative API like matplotlib. It requires specification of what to see, not how to draw what you want to see. This could result in more flexibility and easier development.

For example, the second plot shown above was generated by three lines:

[code]

It woul

[2018-06-18 03:05] stsievert commented on #482
Unfortunately, there's no matplotlib backend for altair. It looks like NumFocus is sponsoring two students to work on the matplotlib backend this summer: https://www.numfocus.org/programs/john-hunter-technology-fellowship and https://www.numfocus.org/blog/2018-john-hunter-matplotlib-summer-fellows

[2018-06-18 14:45] bbengfort commented on #264
@ianozsvald I'm happy to add a normalization argument here - so instead of a frequency, use a PDF and stack training and test rather than overlay test on top of training?

[2018-06-18 15:54] #455 closed

[2018-06-18 18:47] Kautumn06 commented on #470
If no one else is working on this, I'd be happy to start making some of the updates that Larry suggested.

@DistrictDataLabs/team-oz-maintainers

[2018-06-18 19:08] #264 closed

[2018-06-18 21:12] ianozsvald commented on #264
Overlaying test and train probably looks fine (given the PDF), that should be more comparable than having one stacked on the other? The PDF should look lovely regardless. I look forward to seeing it :-)

[2018-06-19 02:31] Kautumn06 commented on #470
I started to update `examples.ipynb` today and I noticed that it is already quite long, and that does not even include all of the additional visualizers that I need to add. So I think it might be worth considering breaking apart the examples into separate notebooks, such as classification, regression, clustering, feature analysis, model selection, and text modeling.

Once these notebooks are creat

[2018-06-19 19:11] bbengfort commented on #470
@Kautumn06 that would be fine with me, just keep in mind that we have [Binder](https://mybinder.org/v2/gh/DistrictDataLabs/yellowbrick/develop?filepath=examples%2Fexamples.ipynb) set up, and we'd want to configure it to point to all of these notebooks.

[2018-06-20 00:47] lwgray commented on #470
@Kautumn06 Thanks for tackling this 😄

[2018-06-20 04:01] lwgray commented on #257
@rebeccabilbro   @bbengfort This is my first shot at it?
![image](https://user-images.githubusercontent.com/1000117/41636069-4a25b238-741a-11e8-999e-04a98f35a6ed.png)

[2018-06-20 04:13] ndanielsen commented on #257
Wow

[2018-06-20 12:39] bbengfort commented on #257
Nice!

[2018-06-20 19:17] #257 closed

[2018-06-21 01:58] zfernandes93 opened #485 "FeatureImportances not working with LogisticRegression"
**Describe the bug**

FeatureImportances visualizer does not work with LogisticRegression. This is because instead of outputting coef_ as a list of numbers, LogisticRegression outputs the coef_ as a list within a list

**To Reproduce**

%%matplotlibmatplot  inline

import pandas as pd
import yellowbrick as yb
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression, Las

[2018-06-21 14:39] rebeccabilbro commented on #485
Good catch @zfernandes93!

It looks like in this case scikit-learn's [`LogisticRegression`](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html) `coef_` returns a multidimensional array, in anticipation that there will be multiple classes and decision function coefficients for each class. In the case of a binary classification, the shape of `coef_` is (1,

[2018-06-21 18:44] lwgray commented on #485
My first inclination is to flatten the array.

[2018-06-21 23:28] lwgray commented on #147
I will be taking a crack at this...

[2018-06-22 19:28] lwgray opened #487 "Complete Tests and Documentation for DispersionPlot Visualizer"
To be complete, the new Dispersion Plot Visualizer requires:

- [ ] Tests
- [ ] Documentation

@DistrictDataLabs/team-oz-maintainers

[2018-06-22 19:37] lwgray opened #488 "Investigate Usage of sklearn VectorizerMixin with DispersionPlot Visualizer"
**Describe the solution you'd like**
It was proposed that we investigate the sklearn.feature_extraction.text. VectorizerMixin. This will make this DispersionPlot visualizer more like a Scikit-Learn text transformer, and will allow us to submit input as:

- list of words
- raw string that is tokenized using sklearn
- list of strings representing documents on disk

More information on the Mixin can

[2018-06-22 19:40] #147 closed

[2018-06-24 16:08] rebeccabilbro commented on #485
Okie doke, working on this [now](https://github.com/DistrictDataLabs/yellowbrick/pull/490).

[2018-06-25 11:37] bbengfort opened #491 "Hobbies corpus unicode decoding error on Windows x64 (AppVeyor)"
**Describe the bug**

There appears to be a unicode decoding error on Python 3 in Windows when loading the hobbies corpus. This was observed in AppVeyor builds that use the hobbies corpus during testing such as #489 but is probably true for any Windows machine.

**To Reproduce**

[code]

**Expected behavior**

We should either remove the unicode encoding from the corpus dataset (unless we beleive

[2018-06-25 15:32] rebeccabilbro opened #492 "Enhanced FeatureImportances for Multidimensional Coefficients"
**Describe the solution you'd like**
Create an enhanced version of the Feature Importances visualizer to allow the user to see the coefficients on a per-class basis.

**Is your feature request related to a problem? Please describe.**
Some estimators returns a multidimensional array for `coef_` , like scikit-learn's [`LogisticRegression`](http://scikit-learn.org/stable/modules/generated/sklearn.lin

[2018-06-25 16:00] #485 closed

[2018-06-30 14:18] #487 closed

[2018-07-05 21:17] ZJPoh commented on #439
If no one else is working on this, I'd be happy to start working on this. This is my first time contributing so I might have some questions.

[2018-07-05 22:16] rebeccabilbro commented on #439
Hey there @ZJPoh, that would be great! Let us @DistrictDataLabs/team-oz-maintainers  know if there's anything we can help with!

[2018-07-05 22:17] lwgray commented on #472
@kumard78 Again thanks for this suggestion.  I just wanted to check in with you to see if there is anything we can do to help you with setting up a PR for this issue.

[2018-07-09 13:11] kumard78 commented on #472
Sorry, I got busy in other stuff after the certificate program, I will
start working on it soon and will ask if i need help.

Thanks & Regards,
Deepak Kumar
Glen Allen, VA 23059
Cell : 571 439 6006
Work/Home: 804 527 2047

On Thu, Jul 5, 2018 at 6:17 PM, Larry Gray <notifications@github.com> wrote:

[2018-07-09 13:46] lwgray commented on #472
@kumard78 No worries, I just wanted to make sure you know that we are here to help.

[2018-07-12 22:23] rebeccabilbro opened #495 "Version 0.8 Release"
Steps for 0.8.0 version bump:

 - [x] Branch release-0.8.0
 - [x] Do version bump
 - [x] Update tests and run tests
 - [x] Create change log/release notes
 - [x] Review documentation build
 - [x] Merge into `master`
 - [x] Push release to PyPI ([instructions](https://bbengfort.github.io/programmer/2016/01/20/packaging-with-pypi.html))
 - [x] Create 0.8.0 tag
 - [x] Copy change log to release notes

[2018-07-12 23:15] bbengfort commented on #478
Fixed in v0.8 release.

[2018-07-12 23:15] #478 closed

[2018-07-13 00:23] ndanielsen commented on #363
closing PR until I can finish it up https://github.com/DistrictDataLabs/yellowbrick/pull/366

[2018-07-13 00:25] rebeccabilbro opened #496 "Branch Cleanup"
**Describe the issue**
Stale YB feature branches need to be removed.

[2018-07-13 00:32] ndanielsen opened #497 "Add Documentation and Tests for ExplainedVariance"
We need to add documentation and tests for `ExplainedVariance`

@DistrictDataLabs/team-oz-maintainers

[2018-07-13 01:00] ndanielsen commented on #497
issue already exists https://github.com/DistrictDataLabs/yellowbrick/issues/316

[2018-07-13 01:00] #497 closed

[2018-07-13 12:49] bbengfort commented on #193
Happy to revisit this question - but closing the issue since it's been around for more than a year.

[2018-07-13 12:49] #193 closed

[2018-07-13 13:06] bbengfort opened #498 "Allow ModelVisualizers to wrap Pipeline objects"
**Describe the solution you'd like**

Our model visualizers expect to wrap classifiers, regressors, or clusters in order to visualize the model under the hood; they even do checks to ensure the right estimator is passed in. Unfortunately in many cases, passing a pipeline object as the model in question does not allow the visualizer to work, even though the model is acceptable as a pipeline, e.g. i

[2018-07-13 14:01] #495 closed

[2018-07-13 14:03] #496 closed

[2018-07-13 14:03] bbengfort commented on #496
Job done.

[2018-07-13 14:06] joelvanveluwen opened #499 "Model Selection Tutorial link to dataset is broken"
@rebeccabilbro it looks like the link to agaricus-lepiota.txt is broken on http://www.scikit-yb.org/en/latest/tutorial.html which is pointing towards this link https://github.com/rebeccabilbro/rebeccabilbro.github.io/blob/master/data/agaricus-lepiota.txt

The data appears to be formatted/ labeled slightly different to its original form. If you've got the version you used the tutorial I'm happy to

[2018-07-13 15:07] joelvanveluwen commented on #470
@Kautumn06 @lwgray - are you guys still working on this? @Kautumn06 if you are working on sub-notebooks I'm happy to start on a few!

[2018-07-13 16:22] ndanielsen commented on #499
@joelvanveluwen thanks for raising this issue. I'll defer to @rebeccabilbro on this

[2018-07-13 16:41] rebeccabilbro commented on #499
Thanks @ndanielsen and good catch @joelvanveluwen, thank you!!

I've just implemented a temporary fix as a stop-gap -- but would you mind creating a new issue to update the tutorial to use the mushrooms data that comes with the new Yellowbrick [`datasets/download` module](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/yellowbrick/datasets/download.py)(e.g. following the instructions

[2018-07-13 16:41] #499 closed

[2018-07-13 16:52] joelvanveluwen commented on #499
@rebeccabilbro happy to help out - I will create an issue! I don't encourage people to use UCI for some of the team I train for this very reason! Glad to know you have put the effort in to make an environment that somewhat resembles reality.

[2018-07-13 17:06] joelvanveluwen opened #500 "Update Model Selection Tutorial example to use Yellowbrick datasets/download module"
The model selection tutorial datasets do not currently the Yellowbrick hosted and modified datasets. For consistency, examples should leverage the core sets as per the 'example datasets' documentation http://www.scikit-yb.org/en/latest/api/datasets.html.

- [ ] Modify docs on model selection tutorial to align with the example datasets documentation

[2018-07-13 20:01] Kautumn06 commented on #470
@joelvanveluwen Thank you for your interest! Yes, I am still working on breaking the original into smaller, more focused notebooks.

I just saw that you offered to work on the Model Selection Tutorial (which is great!), so why don't you check back in with me after that's finished and then, if you're still interested, you can help me with these?

[2018-07-16 16:47] ndanielsen commented on #470
Minor update to examples.ipynb that was raised in this comment: https://github.com/DistrictDataLabs/yellowbrick/pull/479#issuecomment-405290878

[2018-07-16 18:38] #361 closed

[2018-07-16 20:35] bbengfort opened #502 "Ensure ClassificationScoreVisualizers subclasses return score and add tests"
Extended from #361 to be more specific. In #407 we reworked the `ClassificationScoreVisualizer` to save the score in a `score_` property, then return it from the method after drawing. We still need to update the subclasses to either call `super()` or ensure that they implement the behavior described above.

- [ ] `ClassPredictionError` should return an `self.estimator.score()` but already stores `

[2018-07-17 05:06] zjpoh opened #504 "Some manifold algorithms do not have transform attribute in sklearn."
**Describe the bug**
Manifold plotting with `manifold=mds` produces correct plot but raises no transform attribute error.

**To Reproduce**

[code]

**Expected behavior**
No transform attribute error.

**Traceback**

[code]

**Desktop (please complete the following information):**
 - OS: macOS
 - Python 3.6
 - Yellowbrick Version 0.8

**Additional context**
Similarly error for `manifold='spectral'

[2018-07-17 20:15] bbengfort commented on #504
@zjpoh thanks for the bug report! I think this should be an easy fix; I'm going to leave `transform` in, but will catch `AttributeErrors` in the implementation; then I'll implement a manifold-specific `fit_transform` method rather than relying on the default implementation that's part of `TransformerMixin`.

Update to follow shortly!

[2018-07-17 21:49] #504 closed

[2018-07-18 01:19] ndanielsen opened #506 "Html Report Generation"
**Describe the solution you'd like**
While looking around at library with a similar focus, I noticed that `sklearn-evaluation` has a method for generating reports in html.

https://github.com/edublancas/sklearn-evaluation#generating-reports

This could be a valuable and time saving convenience method for our users that could live in `contrib`

**Examples**

Here's the API that `sklearn-evaluation`

[2018-07-18 04:47] zjpoh commented on #492
@rebeccabilbro If nobody is working on this, I would like to give it a try~

[2018-07-18 16:54] bbengfort commented on #506
Interesting, I've never heard of the mistune templating language, but I do think HTML/Markdown reports are a very good idea for the contrib module.

@edublancas - we would love it if you had thoughts/feedback on Yellowbrick or if you wanted to contribute here.

[2018-07-18 19:30] bbengfort commented on #502
Closed by #503

[2018-07-18 19:30] #502 closed

[2018-07-18 22:24] ndanielsen opened #507 "Animated Feature Visualizers"
Without too much work, it appears that we can create an animated image that captures changes to a dataset over time or some series related domain.

We could accomplish this by using the built in `matplotib.animation`

Here's an example located here:
https://matplotlib.org/2.1.2/gallery/animation/dynamic_image2.html

Here's an example API:

[code]

[2018-07-19 01:39] ndanielsen commented on #491
I believe that I resolved this issue in : https://github.com/DistrictDataLabs/yellowbrick/pull/501/commits/11dc0ec4e859b05025b5dfa0959dbf53ceb77259

[2018-07-19 01:40] ndanielsen commented on #500
related to this documentation issue: https://github.com/DistrictDataLabs/yellowbrick/issues/441

[2018-07-19 01:42] ndanielsen commented on #500
This is a duplicate issue of https://github.com/DistrictDataLabs/yellowbrick/issues/424

Not going to close either issue, but @joelvanveluwen please note that I reworked the datasets api in https://github.com/DistrictDataLabs/yellowbrick/pull/501

[2018-07-19 12:47] bbengfort opened #508 "Feature Correlation to Dependent Variable Visualizer"
**Describe the solution you'd like**

This issue extends #334 with details about bullet point 3: "plot feature/target correlations".

As seen in [Model comparison using a noisy dataset -1](https://medium.com/@harsha.g1/model-comparison-using-a-noisy-dataset-1-db20f62c5126), it is useful to compare the pairwise correlation between the features and the dependent variable or target as a bar chart; si

[2018-07-19 12:50] bbengfort commented on #73
See #334 for package where this should be placed.

[2018-07-19 12:59] bbengfort commented on #288
@rebeccabilbro this might also relate to the bug described in #252

[2018-07-19 13:06] bbengfort opened #509 "Fix code headers and run ID line script"
This is not a big deal but it seems like folks enjoy having their names on the individual files they've worked on via the code headers. The code header in the form of:

[code]

Is actually kind of a throwback from some of my earliest coding days when we had git commit hooks that did automatic checking for safety and linting (before the days of GitHub services that did this). The git commit hook wo

[2018-07-19 17:35] ndanielsen opened #512 "Remove old datasets code and rewire with new datasets.load_* api"
As a follow up to reworking the datasets API, we need to go through and remove redundant old code in these locations:

- [x] `yellowbrick/download.py`

- [ ] `tests/dataset.py`

Part of this will be a requirement to rewire tests and examples as needed. Likely also there might be slight transformations of data in code that will have to happen

@DistrictDataLabs/team-oz-maintainers

[2018-07-19 17:36] ndanielsen commented on #512
related issues:
https://github.com/DistrictDataLabs/yellowbrick/issues/500
https://github.com/DistrictDataLabs/yellowbrick/issues/424

[2018-07-20 14:44] bbengfort commented on #491
@ndanielsen the following tests are marked as xfail due to this issue:

- [ ] [tests.test_text.test_tsne L71](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/tests/test_text/test_tsne.py#L71)
- [ ] [tests.test_text.test_dispersion L33](https://github.com/DistrictDataLabs/yellowbrick/blob/develop/tests/test_text/test_dispersion.py#L33)

Do you want me to uncomment these tests to check

[2018-07-20 14:49] bbengfort commented on #491
Also, if you don't mind - I'm going to reopen the issue until the tests are uncommented (just so I don't forget to do that).

[2018-07-20 14:51] bbengfort commented on #439
Closed by #493

[2018-07-20 14:51] #439 closed

[2018-07-20 15:14] bbengfort commented on #278
Fixed in d364fac

[2018-07-20 15:14] #278 closed

[2018-07-20 15:22] imad24 opened #514 "The Manifold visualizer doesn't work with 'tsne'"
**Describe the bug**
calling _fit_transform()_ on _Manifold_ object fails when using **'tsne'**. It seems that it is calling _transform()_ function which dosent exist on [sklearn.manifold.TSNE](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html)

**To Reproduce**

[code]

**Traceback**

[code]

**Desktop**
 - OS: [Windows 10]
 - Python Version [3.4.5]
-  Scikit-Learn versi

[2018-07-20 15:31] bbengfort commented on #86
I believe this was fixed in 1001b6f when we made the aspect ratio square and added the 45 degree line to the plot.

[2018-07-20 15:31] #86 closed

[2018-07-20 15:31] imad24 commented on #514
Hey @bbengfort, thanks for the hint it's gonna work for me.

[2018-07-20 15:46] bbengfort opened #515 "Improvements to K-Elbow Visualizer"
The following tasks from #91 are left over to finalize the implementation of the `KElbowVisualizer ` and improve it.

- [ ] Add inertia metric as seen in [sklearn KMeans Equivalent of Elbow Method](https://stackoverflow.com/questions/41540751/sklearn-kmeans-equivalent-of-elbow-method)
- [ ] Improve documentation with a description of how to use K-Elbow to select `k`

Stretch goals:

- [ ] Find exa

[2018-07-20 15:51] bbengfort opened #516 "Improvements to Silhouette Visualizer"
The following improvements to the Silhouette Visualizer are left over from #91:

*Note to contributors: items in the below checklist don't need to be completed in a single PR; if you see one that catches your eye, feel to pick it off the list!*

- [x] Improve the documentation describing what Silhouette scores are and how to use the visualizer to qualitatively evaluate a clustering solution.
- [ ]

[2018-07-20 15:51] #91 closed

[2018-07-20 15:54] bbengfort commented on #245
@ndanielsen can we close this? I think we got it: http://www.scikit-yb.org/en/latest/contributing.html#image-comparison-tests

[2018-07-20 16:01] bbengfort commented on #239
@rebeccabilbro want to work together to submit a paper to the Journal of Open Source Software (a NumFOCUS project) by writing a `paper.md` in the root of our repository? It's only about a 1000 words: https://joss.readthedocs.io/en/latest/submitting.html

[2018-07-20 16:10] bbengfort commented on #239
Replaced Landscape with lgtm badge for code quality analysis.

[2018-07-20 16:13] bbengfort commented on #226
I've completely forgotten what this was about.

[2018-07-22 16:43] rebeccabilbro commented on #239
I'm in @bbengfort; let's open up a specific issue for the JOSS submission. Maybe we can have one person knock out a first draft and the other assemble the bibliography? Then we can swap. I'm happy to take on either task.

[2018-07-23 10:35] #239 closed

[2018-07-23 10:36] bbengfort commented on #328
@Kautumn06 I know you worked on this and have several related PRS; can we close this issue?

[2018-07-23 10:54] bbengfort opened #520 "Submit a Yellowbrick Paper to the Journal of Open Source Software"
The [Journal of Open Source Software (JOSS)](http://arfon.org/announcing-the-journal-of-open-source-software/) is a developer-friendly journal for research software packages and is affiliated with the Open Source Initiative (OSI) and sponsored by NumFOCUS. For a long time, we've wanted to publish a paper related to Yellowbrick, and this might be a good start.

The paper should be written in Markdo

[2018-07-23 10:55] bbengfort commented on #520
@rebeccabilbro do you want to start putting together the bibliography and I'll start with the outline and the draft, then we can switch?

[2018-07-23 16:04] Kautumn06 commented on #328
@bbengfort Yes, this issue can be closed. While we are still working on updating the documentation, the typos and missing import statements originally addressed here have been fixed and merged in.

[2018-07-23 16:09] bbengfort commented on #328
Thanks!

[2018-07-23 16:09] #328 closed

[2018-07-23 17:35] ndanielsen commented on #394
closed in https://github.com/DistrictDataLabs/yellowbrick/pull/519

[2018-07-23 17:35] #394 closed

[2018-07-23 17:35] ndanielsen commented on #363
Follow up work to elevate this `contrib` module into the main package, located in:
https://github.com/DistrictDataLabs/yellowbrick/pull/519

[2018-07-24 14:40] bbengfort commented on #394
@ndanielsen big fan of this feature!

[2018-07-24 21:09] bbengfort opened #523 "Modify ResisdualsPlot histogram to optionally use a PDF"
Because the training data set is usually much larger than the test data set, adding an option to normalize the histogram by using a PDF instead of pure frequency may make comparing the train and test set residuals distribution easier.

Right now the histogram is drawn on the plot if the argument `hist=True`; we can change this argument to accept a string or a boolean, e.g. `hist=True` or `hist='de

[2018-07-25 05:54] zjpoh opened #524 "PredictionError Plot for Multiple target Regressor"
Some regressors can fit to multiple targets (see #510 for the list).

Should we enable `PredictionError` to create different colors scatter plot for different targets?

For example,
![multi-target](https://user-images.githubusercontent.com/8103276/43181975-7573658a-8f94-11e8-82c9-d3239f264fef.png)

[2018-07-25 06:00] zjpoh commented on #508
@bbengfort If nobody is working on this, I would like to give it a try.

[2018-07-25 11:39] bbengfort commented on #508
@zjpoh go for it, thanks for taking this one!

[2018-07-25 11:43] bbengfort commented on #524
This is a very interesting idea, and I can see how it would be very useful. This visualization would occur when `y` and `y_pred` (returned from predict) had `ndim == 2`, right?

I think the main question is whether or not this is an adaptation of the current `PredictionError` or if it should be a subclass, `MultiPredictionError`. Answers to the following questions might help us determine that:

-

[2018-07-25 14:50] zjpoh opened #525 "Stacked bar plots helper function"
Create a helper function in the `yellowbrick.draw` module that can create a stacked bar chart from a 2D array on the specified axes. This function should have the following basic signature:

[code]

This is just a base signature and should be further refined as we dig into the work. Once this helper function is created, the following visualizers should be updated to use it:

- [ ] `PosTagVisualize

[2018-07-25 17:29] rebeccabilbro commented on #482
Going to close this issue for now due to the current limitations re: Altair/Matplotlib, but let us know if you hear anything more about the NumFocus-sponsored development!

[2018-07-25 17:29] #482 closed

[2018-07-25 17:32] rebeccabilbro commented on #226
Here's a reminder of what we initially had in mind:

![img_1504 2](https://user-images.githubusercontent.com/8760385/43217205-f76a0ff6-900e-11e8-9971-60dcfeaf52a5.JPG)

Going to re-open this one, since I think this is still a nice-to-have.

[2018-07-25 22:03] pdamodaran opened #526 "Add Documentation for BalancedBinningReference"
BalancedBinningReference is a new visualizer under yellowbrick/target.  Documentation needs to be added for this visualizer to explain how this visualizer can be used.

[2018-07-26 05:25] zjpoh opened #527 "Add datasets metadata to documentation"
**Describe the issue**
Create documentation on metadata on example datasets such as number of samples, number of features, target/class.
For example, [sklearn.datasets.load_digits](http://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_digits.html).

@DistrictDataLabs/team-oz-maintainers

[2018-07-26 17:23] bbengfort commented on #512
I've got a chance to work on this, so I'll take this on.

[2018-07-27 03:53] Kautumn06 commented on #470
Quick update—the notebook of regression examples is finished and was merged earlier this week. Also, I should have the clustering notebook completed by this weekend.

[2018-07-28 16:54] Kautumn06 opened #529 "Incorrect parameter values in K-Elbow Visualizer docstring"
Initially in the K-Elbow Visualizer's docstring, the possible values for the parameter `metric` are named as `distortion_score`, `silhouette_score`, and `calinski_harabaz_score`. However, using these values returns the following error:

`YellowbrickValueError: '{}' is not a defined metric use one of distortion, silhouette, or calinski_harabaz`

However, the correct names&mdash;`distortion`, `silho

[2018-07-29 12:08] bbengfort commented on #524
@zjpoh I agree with all your answers; let's start with a `MultiPredictionError` subclass of `PredictionError` and see how it looks! Thanks for taking the time to think about this so thoroughly!

[2018-07-29 12:10] bbengfort commented on #529
@Kautumn06 ah I see what you mean now; yes you can go ahead and remove the `_score` suffix from those names, which refer to the function names of the metrics.

[2018-07-29 13:59] #492 closed

[2018-07-29 14:03] bbengfort opened #531 "FeatureImportances stack documentation"
Thank you so much @zjpoh for enhancing the `FeatureImportance` visualizer with a stack bar chart! There are a couple of minor tasks to complete that I will take care of in the next couple of days:

1. Add documentation about the stack argument and the implications
2. Add `skipif` pandas not available, or non-pandas testing
3. When stack gets set to False, issue warning about what happened
4. Non-c

[2018-07-29 18:30] rebeccabilbro commented on #252
@bbengfort - re: the decision function bug, I did a little research ([notebook here](https://github.com/rebeccabilbro/yellowbrick/blob/rocauc-refactor/examples/rebeccabilbro/rocauc_bug_research.ipynb)) into which classifiers and conditions actually seem to trigger the bug in the hopes that it might give us some ideas about how we should address it.

In essence, it appears the bug is only triggered

[2018-07-29 20:41] zjpoh commented on #531
@bbengfort thanks for filling in the gaps of my PR. I will take a look at what you add and hopefully next time I can have a more complete PR. =)

[2018-07-30 13:52] bbengfort commented on #531
@zjpoh your PR was absolutely complete in every respect! We try to do things in iterative, small, incremental steps so that we don't overload the PR process or exhaust our contributors. As YB has gotten bigger, there is just a lot of stuff from documentation to checks, CI, dependencies etc. that we have to manage. It's kind of drudge work and just has to be done in order to make the package access

[2018-07-30 14:22] bbengfort commented on #252
First I would sync your actual images with baseline images. From the yellowbrick project root, run:

[code]

Run the tests a couple of times to see if they pass; if they do, go ahead and push to a PR so we can see what happens on CI.

If syncing the images does not fix the tests, then it's likely there is something random happening; look for anything in the tests that might have a `random_state` p

[2018-07-30 15:34] bbengfort commented on #520
Significant contribution section:

[2018-07-30 15:35] bbengfort commented on #520
For the "obvious research application" bullet point, we'll just have to rely on data science and machine learning as having obvious research application, as well as our references for visual analytics, etc.

[2018-07-30 16:07] rebeccabilbro commented on #252
Thanks @bbengfort - yeah, these errors were from after doing the image sync. I'll look into the `random_state` params!

[2018-07-30 16:11] rebeccabilbro commented on #252
Looks like setting the `random_state` for `LinearSVC` and `RandomForestClassifier` did the trick!

[2018-07-30 16:34] #520 closed

[2018-07-30 18:03] bbengfort commented on #252
Awesome!

[2018-07-31 18:29] #523 closed

[2018-07-31 21:39] #529 closed

[2018-08-01 12:59] vallettea opened #537 "KElbowVisualizer should take a list of k instead of a tuple"
This is just a suggestion that KElbowVisualizer should let the user chose the values of k and not be forced to have a continuous range.
This is especially useful when you suppose you have a big number of clusters and you want explore the values of k from 10 to 10 or 100 to 100.

Anyway, thanks for your work.

[2018-08-01 13:45] bbengfort commented on #537
Hi @vallettea this is an excellent suggestion! I think we would want to support both the range and discrete options; what do you think about the following:

[code]

Test cases:

- [ ] specify `k=8 == np.arange(2, 8)`
- [ ] specfify `k = (4, 12) == np.arange(4, 12)`
- [ ] specify `k = np.arange(10, 100, 10) == np.arange(10, 100, 10)`
- [ ] specify `k = [10,20,30,40,50,60,70,80,90] == np.arange(10,

[2018-08-01 17:43] rebeccabilbro opened #539 "TSNE size & title bug"
**Describe the bug**
Looks like our `TSNEVisualizer` might have a bug that causes an error on instantiation if either the `size` or `title` parameters are used.

**To Reproduce**

[code]

or

[code]

**Dataset**
This bug was triggered using the YB hobbies corpus.

**Expected behavior**
Users should be able to influence the size of the visualizer on instantiation using the `size` parameter and a tu

[2018-08-01 18:30] bbengfort commented on #539
Both size and title are handled in the base `Visualizer` class - my first thought about solving this issue is to see if there is a missing `super()` call in any of the subclasses.

[2018-08-02 01:03] rebeccabilbro commented on #537
Great idea @vallettea! Want to take a crack at a updating `KElbowVisualizer` so that users can specify either a `k` range, `k` list, or `k` ceiling? Feel free to open up a PR whenever you're ready!

[2018-08-02 21:15] rebeccabilbro commented on #539
I think I've [figured this out](https://github.com/rebeccabilbro/yellowbrick/blob/tsne-title-size-bug/examples/rebeccabilbro/tsne_title_size_bug.ipynb). The issue is that we pass the `**kwargs` (including any title and size) into the internal sklearn `TSNE` transformer, which doesn't understand those params. I can fix it by popping them in `__init__`. I'll follow up with a PR that fixes the bug an

[2018-08-03 14:31] Kautumn06 opened #543 "Update examples using occupancy dataset with sklearn.model_selection.TimeSeriesSplit"
In our documentation, several of the examples use the `occupancy` dataset, which contains time series data. To split the data into the training and test sets, they use `sklearn.model_selection.train_test_split`, which assumes the observations are independent and shuffles the data points by default. However, this wouldn't be true for time series data such as `occupancy` (which includes per-minute o

[2018-08-03 14:38] lwgray commented on #543
@Kautumn06 great catch!

[2018-08-04 13:59] rebeccabilbro commented on #475
I was doing a bit of experimentation (see [notebook here](https://github.com/rebeccabilbro/yellowbrick/blob/scatter-bug/examples/rebeccabilbro/scatter_alpha.ipynb)) with `ScatterVisualizer`, and it would certainly be easy enough to add an `alpha` param. But, given that we're thinking of turning `ScatterVisualizer` into a mixin, it might be best to just do it there.

One thing I discovered though,

[2018-08-05 21:43] bbengfort commented on #475
@rebeccabilbro good catch with the legend transparency, that is definitely an important consideration! Here is the add legend function that I've been using in several places; it adds color circles with a label to the legend. Unfortunately, this implementation can't really handle lines, but it should assist with the transparency issue in scatter plots:

[code]

[2018-08-05 22:26] #474 closed

[2018-08-06 16:17] rebeccabilbro commented on #392
Check to see if this is resolved by [NumPy 1.15](https://github.com/numpy/numpy/blob/master/doc/release/1.15.0-notes.rst)

[2018-08-06 16:40] bbengfort commented on #539
@rebeccabilbro am going to close this by #542

[2018-08-06 16:40] #539 closed

[2018-08-07 00:55] rebeccabilbro opened #549 "Color document boundaries (or classes) in dispersion plot"
**Describe the solution you'd like**
I work with text data a lot and am very excited about the new [`DispersionPlots`](http://www.scikit-yb.org/en/latest/api/text/dispersion.html)! As a future feature, it would be very useful to indicate document boundaries on the plot using a high perceptual contrast colormap, or perhaps a qualitative colormap to color the classes (when classes are available).

*

[2018-08-07 05:14] YSZYCF opened #550 "ConnectionError: HTTPSConnectionPool.who can give me a piece of data?"
During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Mowar\Anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Users\Mowar\Anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Users\Mowar\Anaconda3\lib\site-packages\yellowbrick\download.py", line 148, in <

[2018-08-07 13:17] lwgray commented on #550
@YSZYCF I am sorry you are running into this problem.  The first step for us is to replicate the error.  Can you provide the following?

1.  The code you used that generated the error
2.  The version of yellowbrick you are using
3.  The version of python you are using
4.  A list of packages in your conda or pip environment

[2018-08-07 15:06] bbengfort commented on #550
@YSZYCF Yes, it's certainly possible that the exception you're getting is due to your proxy settings or a firewall. Out of curiosity can you load the [`sklearn.datasets`](http://scikit-learn.org/stable/datasets/index.html)? If so, the `load_boston` dataset is similar to the concrete dataset.

Alternatively you can find all of our datasets at the [UCI Machine Learning Repository](https://archive.ic

[2018-08-07 15:29] YSZYCF commented on #550
@lwgray I use this command to download dataset. python -m yellowbrick.download.
Name: yellowbrick
Version: 0.8
Summary: A suite of visual analysis and diagnostic tools for machine learning.
Home-page: https://github.com/districtdatalabs/yellowbrick
Author: Rebecca Bilbro, Benjamin Bengfort
Author-email: info@districtdatalabs.com
License: Apache 2
Location: c:\users\mowar\anaconda3\lib\site-package

[2018-08-07 15:41] Kautumn06 commented on #550
@YSZYCF I'm sorry you're having a problem downloading the datasets. Fortunately, as @bbengfort mentioned, the `concrete` dataset is on the [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/datasets/concrete+compressive+strength). And while we do wrangle some of our sample datasets to make them easier to use in our examples, their `concrete` dataset is virtually identical to ours. The

[2018-08-07 15:52] Kautumn06 commented on #550
Also @YSZYCF, since you can access GitHub, you might find it helpful to use [Seaborn's sample datasets](https://github.com/mwaskom/seaborn-data). Similar to ours, they have already been wrangled to make them easier to use. And they have datasets such as `iris` and `titanic`, which are used quite frequently in machine learning tutorials.

[2018-08-07 16:53] YSZYCF commented on #550
@Kautumn06 Thank you for your help.

[2018-08-07 17:36] lwgray commented on #550
@YSZYCF if you would like to download the exact datasets used by Yellowbrick then you can access them [here](https://github.com/lwgray/ybdatasets)

[2018-08-07 17:41] rebeccabilbro commented on #507
For anyone interested in this one, it might also be worth it to check out [animatplot](https://github.com/t-makaro/animatplot), a Python package for creating animated visualizations (built on top of Matplotlib).

[2018-08-07 17:51] #550 closed

[2018-08-07 17:54] Kautumn06 commented on #550
Thank you for your interest @YSZYCF and I hope you keep using Yellowbrick!

[2018-08-09 09:29] YSZYCF opened #551 "How to add title gracefully?"
I  want to add title in the figure. but the title don't appear rightly.

[code]

I expect the title is ""%s-Frequency Distribution of Top 50 tokens"%(cat)",but I get title is "Frequency Distribution of Top 50 tokens".

[2018-08-09 16:26] rebeccabilbro commented on #551
Hello again @YSZYCF! This is a great question and one that we should probably add to the FAQ! The answer is that the best way to set the title is by passing it into the `Visualizer` on instantiation:

[code]

[Here's an example](https://github.com/rebeccabilbro/yellowbrick/blob/setting-titles/examples/rebeccabilbro/how-to-set-a-visualizer-title.ipynb) with the hobbies dataset you were using.

[2018-08-09 16:31] peterespinosa opened #552 "Add FAQ section to docs"
**Describe the solution you'd like**
It would be great to add an FAQ section to the docs with answers to commonly asked questions (e.g., how to set the title; change the size; change the colormap).

**Is your feature request related to a problem? Please describe.**
I saw in [this issue](https://github.com/DistrictDataLabs/yellowbrick/issues/551) a suggestion for an FAQ; it sounds like it would be